.DS_Store
tilemill/_site
tilemill/platforms/osx/build
tilemill/test/fixtures/files
node_modules
npm-debug.log
tilemill/platforms/osx/Externals/Sparkle/source
tilemill/examples/geography-class/layers
tilemill/examples/road-trip/layers
tilemill/examples/control-room/layers
clima-settings.json
VERSION
.tern-port