.DS_Store
/_site
/platforms/osx/build
/node_modules
/test/fixtures/files
npm-debug.log
VERSION
platforms/osx/Externals/Sparkle/source
examples/geography-class/layers
examples/road-trip/layers
examples/control-room/layers
/vendor/node