language: node_js

node_js:
  - "0.10"

before_install:
 - sudo apt-add-repository --yes ppa:mapnik/v2.2.0
 - sudo apt-add-repository --yes ppa:mapnik/nightly-2.3
 - sudo apt-get update -qq
 - sudo apt-get -qq install libprotobuf7 libprotobuf-dev protobuf-compiler postgresql-9.1 postgresql-server-dev-9.1 postgresql-contrib-9.1 postgresql-9.1-postgis

install:
 - POSTGIS_PATH=`pg_config --sharedir`/contrib/postgis-1.5
 - createdb -E UTF8 template_postgis -U postgres
 - psql -q -d template_postgis -f $POSTGIS_PATH/postgis.sql -U postgres
 - psql -q -d template_postgis -f $POSTGIS_PATH/spatial_ref_sys.sql -U postgres
 - npm install mocha

before_script:
 - sudo apt-get -qq install libmapnik=2.2.0* mapnik-utils=2.2.0* libmapnik-dev=2.2.0*
 - npm install
 - npm ls
 - npm test
 - sudo apt-get purge libmapnik=2.2.0* mapnik-utils=2.2.0* libmapnik-dev=2.2.0*

script:
 - sudo apt-get -qq install libmapnik=2.3.0* mapnik-utils=2.3.0* libmapnik-dev=2.3.0* mapnik-input-plugin*
 - rm -rf ./node_modules/
 - npm install
 - npm ls
 - npm test
 - sudo apt-get purge libmapnik=2.3.0* mapnik-utils=2.3.0* libmapnik-dev=2.3.0* mapnik-input-plugin*
