language: node_js

sudo: false

node_js:
  - "0.10"
  # tests failing for unknown reasons
  #- "4"

addons:
  postgresql: "9.3"
  apt:
    sources:
     - ubuntu-toolchain-r-test
    packages:
     - libstdc++6 # upgrade libstdc++ on linux to support C++11
     - libwebkit-dev

before_install:
 - createdb template_postgis
 - psql -c "CREATE EXTENSION postgis" template_postgis

install:
- npm install --fallback-to-build=false
- python test/check_shared_libs.py node_modules/

before_script:
 - npm ls

script:
 - npm test
