---
layout: default
title: TileMill
fullwidth: true
class: fill-denim
maps:
- id: examples.map-vyofok3q
  name: Mapbox Streets
  creator: Mapbox
  description: A global map with street level detail.
  classes: locator
  matte: 72b5e5
  center: -73.988,40.728,12
- id: kkaefer.iceland
  name: Ísland
  creator: Konstantin Käfer
  matte: 64b5c9
  center: -20.9,64.7,8
- id: dhcole.popup
  name: Popup
  creator: Dave Cole
  description: Population density visualized in 3d.
  matte: '000000'
  center: 11.00,15.769,6
- id: tmcw.shadowplay
  name: Shadow Play
  creator: Tom MacWright
  description:
  center: -45.00,36.95,3
  matte: '000000'
- id: tmcw.rrrr2
  name: Running Map
  creator: Tom MacWright
  description: Running routes and heart rate visualized on top of Mapbox Streets.
  matte: 2e2532
  center: -77.0373,38.9259,15
- id: mapbox.natural-earth-2
  name: 'Mapbox natural earth'
  creator: Mapbox
  description: A high-level topographic and bathymetric map.
  center: 55.4,1.0,3
  matte: 5d8eb6
- id: aj.Sketchy2
  name: Pirate Map
  creator: AJ Ashton
  center: -81.52,22.187,4
  matte: ECE3CC
- id: tristen.city_of_toronto
  name: 'City of toronto'
  creator: Tristen Brown
  center: -79.38,43.63,14
  matte: 415355
- id: villeda.simard-forests
  name: 'Forest height'
  creator: Ian Villeda
  description: A visualization of global tree canopy height, made with data from NASA.
  matte: '000000'
  center: -59.985,-7.471,5
- id: mapbox.baltimore-retro
  name: 'Baltimore retro'
  creator: Mapbox
  matte: 90c8c2
  center: -76.5987,39.2807,16
- id: colemanm.persia-1891
  name: 'Persia 1891'
  creator: Coleman McCormick
  center: 54.415,32.210,7
  matte: edd5ae
- id: occupy.occupy-streets
  name: 'Occupy streets'
  creator: Occupy
  description: A network map of all occupy movement locations.
  matte: 424242
  center: 10.000,55.000,4
- id: colemanm.blue-marble-8bit
  name: 'Blue marble 8bit'
  creator: Coleman McCormick
  matte: 000009
  center: 80.00,0.00,3
- id: newamerica.motw_poverty
  name: Poverty change in America
  creator: The New America Foundation
  center: -97.583, 38.769,6
  matte: b7dee5
- id: aj.population-fire
  name: Population fire
  creator: AJ Ashton
  matte: 080c16
  center: 1.41,47.99,4
- id: herwig.map-olatzdh8
  name: Stop and Frisk in NYC
  creator: Chris Herwig
  matte: E8E8E8
  center: -73.951,40.803,14
  description: Stop and frisk frequency contour map of New York City
platforms:
- id: mac
  name: Mac OS X
  help: Extract this archive and drag TileMill to your Applications folder.
  file: TileMill-0.10.1.zip
  size: 58.9 MB
  url: http://tilemill.s3.amazonaws.com/latest/TileMill-0.10.1.zip
- id: linux
  name: Ubuntu
  help: Extract this archive and double-click on <code>install-tilemill.sh</code>.
  file: install-tilemill.tar.gz
  size: 30 MB
  url: http://tilemill.s3.amazonaws.com/latest/install-tilemill.tar.gz
- id: windows
  name: Windows
  help: Double-click this installer to set up TileMill on your computer.
  file: TileMill-v0.10.1-Setup.exe
  size: 73.2 MB
  url: http://tilemill.s3.amazonaws.com/latest/TileMill-v0.10.1-Setup.exe
---

<link href='{{site.baseurl}}/site.css' rel='stylesheet' />
<style>
/* Site overrides */
.masthead {
  background:none;
  border:none;
  margin-bottom:40px;
  }
.masthead .primary { display:none; }
.mb-logo { background-position:0 -60px; }
.tilemill-nav { top:-80px; }
</style>

<div class='limiter contain'>
  <div class='tilemill-nav space pin-right'>
    <a class='inline small strong dark quiet' href='{{site.baseurl}}/docs/crashcourse/introduction/'>Documentation</a>
    <a class='inline small strong dark quiet' href='{{site.url}}/carto/'>CartoCSS Reference</a>
  </div>
</div>

<div class='limiter dark clip clearfix'>
  <div class='col8 margin2 center prose space-bottom4'>
    <h3 class='icon tilemill'>TileMill</h3>
    <h1>Create beautiful interactive maps</h1>
    <p class='quiet'>Whether you're a journalist, web designer, researcher,  or seasoned cartographer, TileMill is the design studio to create stunning interactive maps.</p>
  </div>

  <div class='clearfix'>
    <div class='col4'>
      <div class='download callout round'>
        <nav class='tabs clearfix'>
        {% for item in page.platforms %}
        <a id='{{item.id}}' class='col4' href='#'>{{item.name}}</a>
        {% endfor %}
        </nav>
        {% for item in page.platforms %}
        <a href='{{item.url}}' class='download-button clearfix {{item.id}}' title='{{item.name}}'>
          <div class='label col5 pad1'>
            <small class='quiet'>{{item.name}}</small>
            <h3 class='label-title'>Download</h3>
          </div>
          <div class='details col7 pad1'>
            <small class='filename'>{{item.file}}</small>
            <h3 class='label-title'>{{item.size}}</h3>
          </div>
        </a>
        {% endfor %}

        <div class='mailchimp-subscribe col12 prose clearfix'>
          <h3>Downloading&hellip;</h3>
          {% for h in page.platforms %}
          <span class='help {{h.id}}'>{{h.help}}</span>
          {% endfor %}
          <p class='quiet'>While you wait, check out the <a href='{{site.baseurl}}/docs/crashcourse/introduction'>TileMill Crash course</a>.
          </p>
        </div>
        <small class='center space'>
          <a class='quiet' href='{{site.baseurl}}/docs/upgrade/'>Upgrade notes</a>
          <a class='quiet' href='{{site.baseurl}}/changelog/'>Changelog</a>
          <a class='quiet' href='{{site.baseurl}}/docs/install/'>More install details</a>
        </small>
      </div>
    </div>

    <div class='row9 clip col8 tilemill-screenshot'></div>
  </div>
</div>

<div class='fill-white pad2y'>
  <div class='limiter'>
    <div class='center pad2y'>
      <h2>Features</h2>
    </div>

    <div class='prose doc'>
      <div id='manage' class='pad4y keyline-top clearfix'>
        <div class='col6 pad2x'>
          <h3 class='icon graph'>Manage data</h3>
          <h2>Load data from a wide range of sources</h2>
          <p>Compatible datasources include ESRI Shapefile, KML, GeoJSON, GeoTIFF, PostGIS, CSV, and SQLite. Inspect, order, and layer your sources to build complex maps.</p>
          <a href='{{site.baseurl}}/docs/manual/interface-tour/'>Interface tour</a>
        </div>
        <div class='col6 contain pad2'>
          <div class='clearfix pad1y'>
            <div class='illustration browse inline fl margin0r space-bottom2'></div>
            <strong>Browse public data</strong>
            <p class='quiet'>Access dozens of useful public datasources with the built-in Mapbox Geodata browser.</p>
          </div>
          <div class='clearfix pad1y'>
            <div class='illustration raster inline fl margin0r space-bottom2'></div>
            <strong>Raster support</strong>
            <p class='quiet'>Show satellite data or map your DIY weather balloon aerial photography.</p>
          </div>
        </div>
      </div>

      <div id='render' class='pad4y keyline-top clearfix'>
        <div class='col6 pad2x'>
          <h3 class='icon sun'>Render + style</h3>
          <h2>State of the art rendering</h2>
          <p>At TileMill's core is Mapnik, a powerful, full-featured library including support for RGBA color, True Type fonts, rasters, patterns, and even SVG transforms.</p>
        </div>
        <div class='col6 contain pad2'>
          <div class='clearfix pad1y'>
            <div class='illustration svg inline fl margin0r space-bottom2'></div>
            <strong>SVG markers</strong>
            <p class='quiet'>Resize and transform scalable vector SVG markers right in TileMill.</p>
          </div>
          <div class='clearfix pad1y'>
            <div class='illustration textures inline fl margin0r space-bottom2'></div>
            <strong>Textures</strong>
            <p class='quiet'>With full alpha-channel support and the ability to add multiple layers and fills TileMill can create richly textured maps.</p>
          </div>
        </div>
      </div>

      <div id='enrich' class='pad4y keyline-top clearfix'>
        <div class='col6 pad2x'>
          <h3 class='icon hand'>Enrich</h3>
          <h2>Style maps with Carto</h2>
          <p>Inspired by CSS, Carto gives you full control over design. Filters, variables, and functions are at your fingertips in the code editor.</p>
          <a href='{{site.baseurl}}/docs/manual/carto/'>Carto guide</a>
        </div>
        <div class='col6 pad2 contain'>
          <div class='clearfix pad1y'>
            <div class='illustration interaction inline fl margin0r space-bottom2'></div>
            <strong>Add interation</strong>
            <p class='quiet'>Create hover tooltips and clickable pop ups with UTF-8 grid technology.
            <a href='{{site.baseurl}}/docs/crashcourse/tooltips/'>Tooltips and legends in TileMill</a></p>
          </div>
          <div class='clearfix pad1y'>
            <div class='illustration inline embed fl margin0r space-bottom2'></div>
            <strong>Embed graphics or images</strong>
            <p class='quiet'>Insert interactive graphs, images, links, and other content into your maps.
            <a href='{{site.baseurl}}/docs/tutorials/google-charts/'>Charts in TileMill</a>
          </div>
        </div>
      </div>

      <div id='share' class='pad4y keyline-top clearfix'>
        <div class='center space-bottom2'>
          <h3 class='icon cloud'>Share</h3>
        </div>
        <div class='col12'>
          <div class='col6 pad2'>
            <div class='small-graphic dot dark fill-purple inline fl pad1 margin0r space-bottom2'>
              <span class='icon big mobile'></span>
            </div>
            <strong>Publish to web &amp; mobile</strong>
            <p class='quiet'>Export to the MBTiles format and every map you make in TileMill is desktop and mobile ready.</p>
          </div>
          <div class='col6 pad2'>
            <div class='small-graphic dot fill-blue inline fl pad1 dark margin0r space-bottom2'>
              <span class='icon big mapbox'></span>
            </div>
            <strong>Integrate with Mapbox</strong>
            <p class='quiet'>It's just one click to automatically render and upload maps to your Mapbox account. <a href='http://mapbox.com/'>About Mapbox</a></p>
          </div>
        </div>
      </div>

      <div id='open-source'>
        <div class='clearfix full keyline-top contain single'>
          <div class='col6 pad4 prose'>
            <h2>Powered by Open Source</h2>
            <p>TileMill is built on a suite of open source libraries including <a href='http://mapnik.org'>Mapnik</a>, <a href='http://nodejs.org'>node.js</a>, <a href='http://documentcloud.github.com/backbone'>backbone.js</a>, <a href='http://expressjs.com'>express</a> and <a href='http://codemirror.net'>CodeMirror</a>. Visit <a href='http://github.com'>GitHub</a> and dig into the source code.</p>
            <a href='http://github.com/mapbox/tilemill' class='button icon github'>Fork me on GitHub</a>
          </div>
          <div class='col6 contain pad4y text-right'>
            <div class='illustration github inline'></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id='gallery' class='fill-white'>
  <div class='heading pad2y center keyline-top'>
    <h3 class='icon heart'>Gallery</h3>
  </div>
  <div class='row12 fill-grey contain'>
    <div id='map' class='row12'></div>
    <div class='pin-right col5 pad2'>
      <div id='mapdescription' class='clearfix col12'></div>
    </div>
  </div>
  <script type='text/template' id='gallery-template'>
    <div class='mobile-cols row1 center fill-white round-top keyline-bottom'>
      <a class='pad1y row1 col6 prev icon' href='#<%=prev%>'>prev</a>
      <a class='pad1y row1 col6 next rcon keyline-left keyline-right' href='#<%=next%>'>next</a>
    </div>
    <div class='desc-box main-desc col12 fill-white'>
      <h2><%=name%></h2>
      <small>by <%=creator%></small>
    </div>
    <% if (description) { %>
    <div class='desc-box cap keyline-all col12 fill-light round-bottom'>
      <small><%=description%></small>
    </div>
    <% } %>
  </script>
</div>

<script>
$('.download').addClass((function() {
  if (navigator.appVersion.indexOf('Win') != -1) return 'windows';
  if (navigator.appVersion.indexOf('Mac') != -1) return 'mac';
  if (navigator.appVersion.indexOf('X11') != -1 || navigator.appVersion.indexOf('Linux') != -1) return 'linux';
  return 'mac'; // default to Mac.
})());

$('nav #mac').click(function() {
    $('.download').addClass('mac').removeClass('windows').removeClass('linux');
    return false;
  });

$('nav #windows').click(function() {
    $('.download').addClass('windows').removeClass('mac').removeClass('linux');
    return false;
  });

$('nav #linux').click(function() {
    $('.download').addClass('linux').removeClass('windows').removeClass('mac');
    return false;
  });

$('.download-button').click(function(ev) {
  var _gaq = _gaq || [];
  _gaq.push([
    '_trackEvent',
    'TileMill Download',
    $(ev.currentTarget).attr('title')
  ]);
  $('.download').addClass('subscribe');
});

(function() {
  var playBack;
  var maps = [{% for map in page.maps %}
  { {% if map.creator %}creator: '{{map.creator}}',{% endif %}
    {% if map.name %}name: '{{map.name}}',{% endif %}
    {% if map.description %}description: '{{map.description}}',{% endif %}
    {% if map.classes %}classes: '{{map.classes}}',{% endif %}
    {% if map.matte %}matte: '{{map.matte}}',{% endif %}
    {% if map.center %}center: [{{map.center}}],{% endif %}
    id: '{{map.id}}'
  },{% endfor %}
  false];
  var template = _.template(document.getElementById('gallery-template').innerHTML);
  var map = L.mapbox.map('map', undefined, {zoomControl: false});
  var layer;

  map.scrollWheelZoom.disable();

  function setMap(id, mode) {
    var context = $('#mapdescription');

    var i = (id) ? _.indexOf(maps, _.find(maps, function(d) {
      return d.id === id;
    })) : 0;

    if (i >= (maps.length - 1)) i = 0;

    var d = maps[i];
    if (layer) map.removeLayer(layer);

    layer = L.mapbox.tileLayer(d.id);
    layer.addTo(map);

    layer.on('ready', function(m) {
      document.getElementById('map').style.background = d.matte ? '#' + d.matte : '';
      if (d.center) map.setView([d.center[1], d.center[0]], d.center[2]);
      d.next = maps[(i + 1) % maps.length].id;
      d.current = maps[i % maps.length].id;
      d.prev = maps[(i - 1 + maps.length) % maps.length].id;
      d.description = d.description;
      d.name = d.name;

      context.html(template(d));

      // Bound UI Events
      $('a.next', context).on('click', function(e) {
        setMap(d.next);
        return false;
      });

      $('a.prev', context).on('click', function(e) {
        setMap(d.prev);
        return false;
      });
    });
  }

  setMap(window.location.hash.substring(1));
})();
</script>
