body {
  font:normal 15px/20px Georgia,serif;
  padding:360px 0px 120px;
  background:url(images/page-bg.png) 0px 320px repeat-x;
  color:#444;
  width:760px;
  margin:0px auto;
  }

a {
  color:#888;
  text-decoration:none;
  }

/**
 * Markdown ===================================================================
 */
h1,
h2,
h3,
h4,
h5,
h6 { font-weight:normal; }

.md a {
  border-bottom:1px solid #eee;
  text-decoration:none;
  }

.md a:hover { color:#824; }

.md h1,
.md h2,
.md h3,
.md h4,
.md h5,
.md h6,
.md ul,
.md ol,
.md p { margin:20px 0px; }

.md h1,
.md h2,
.md h3,
.md h4,
.md h5,
.md h6 {
  color:#824;
  letter-spacing:-1px;
  font:bold 15px/20px Arial,Helvetica,sans-serif;
  }

.md h1 {
  color:#222;
  font:italic 24px/40px Georgia,serif;
  margin:0px;
  border:0px;
  }

.md h2 { font-size:20px; }
.md h3 { font-size:18px; }

.md ul li {
  background:url(images/sprite.png) 0px -240px no-repeat;
  padding-left:20px;
  }

.md ol li { 
  list-style-type:decimal;
  margin-left:20px; 
}

tt,
pre,
code {
  font:normal 12px/20px 'Andale Mono',Monaco,Consolas,'Lucida Console',monospace;
  margin:0px;
  padding:0px;
  }

.md pre,
.md code {
  color:#888;
  background:#f8f8f8;
  }

pre {
  padding:9px;
  margin:10px 0px;
  border:1px solid #eee;
  border-radius:3px;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  box-shadow:inset #eee 0px 1px 5px;
  -moz-box-shadow:inset #eee 0px 1px 5px;
  -webkit-box-shadow:inset #eee 0px 1px 5px;
  }

/**
 * Columns ====================================================================
 */
.column-75 {
  width:480px;
  float:left;
  }

.column-25 {
  width:240px;
  float:right;
  }

/**
 * Home =======================================================================
 */
a.mapbox {
  float:right;
  height:80px;
  width:210px;
  background:url(images/sprite.png) -400px -120px no-repeat;
  overflow:hidden;
  text-indent:-9999px;
  }

h2.slogan {
  font-size:24px;
  line-height:30px;
  margin:0px 0px 40px;
  }

.screenshots {
  width:810px;
  margin:40px 0px 40px -20px;
  }

.screenshots a {
  background:#fff;
  float:left;
  width:240px;
  height:220px;
  padding:9px;
  border:1px solid #eee;
  margin-right:10px;
  border-radius:3px;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  box-shadow:#eee 0px 2px 5px;
  -moz-box-shadow:#eee 0px 2px 5px;
  -webkit-box-shadow:#eee 0px 2px 5px;
  }

.screenshots .thumb {
  display:block;
  width:240px;
  height:160px;
  box-shadow:inset rgba(0,0,0,.2) 0px 1px 3px;
  -moz-box-shadow:inset rgba(0,0,0,.2) 0px 1px 3px;
  -webkit-box-shadow:inset rgba(0,0,0,.2) 0px 1px 3px;
  }

.screenshots label {
  display:block;
  font:bold 12px/20px Arial,Helvetica,sans-serif;
  }

.screenshots img {
  width:240px;
  height:160px;
  background:#eee;
  border:0px;
  }

/**
 * Wrapper ====================================================================
 */
.banner {
  position:absolute;
  left:0px;
  right:0px;
  top:0px;
  height:320px;
  background:url(images/control-room.png) 50% 0% no-repeat;
  }

.header {
  padding:270px 0px 0px 275px;
  width:595px;
  height:50px;
  margin:0px auto;
  position:relative;
  background:url(images/sprite.png) 0px 255px no-repeat;
  }

.navigation li,
.navigation li a {
  color:#fff;
  font:bold 15px/50px Arial,Helvetica,sans-serif;
  text-decoration:none;
  float:left;
  }

.navigation li a {
  background:url(images/sprite.png) 100% -120px no-repeat;
  padding:0px 20px;
  }

.navigation li a:hover { background-position:100% -65px; }

.logo {
  display:block;
  width:280px;
  height:100px;
  overflow:hidden;
  text-indent:-9999px;
  background:url(images/sprite.png) 0px -120px no-repeat;
  position:absolute;
  bottom:-20px;
  left:15px;
  z-index:1;
  }

a.fork {
  display:block;
  width:120px;
  height:120px;
  position:fixed;
  top:0px;
  right:0px;
  overflow:hidden;
  text-indent:-9999px;
  background:url(images/sprite.png) -280px -120px no-repeat;
  }

/**
 * Facebox ====================================================================
 */
#facebox .close{
  top:6px;
  right:6px;
  padding:0px 0px 6px 6px;
  background:#fff;
  border-radius:0px 0px 0px 4px;
  -moz-border-radius:0px 0px 0px 4px;
  -webkit-border-radius:0px 0px 0px 4px;
  }

#facebox .close img { display:block; }

