body {
  background:transparent;
  color:#333;
  padding:10px;
  margin:0px;
  font:13px/20px monospace;
  }

span.mss-variable           { color:#708; }
span.mss-color-variable     { color:#B60049; }
span.mss-unit               { color:#281; }
span.mss-value              { color:#708; }
span.mss-known-value        { color:#B60049; }
span.mss-selector           { color:#b64f90; }
span.mss-identifier         { color:#999; }
span.mss-valid-identifier   { color:#333; }
span.mss-important          { color:#03c; }
span.mss-colorcode          { color:#048; }
span.mss-punctuation        { color:#666; }
span.mss-comment            { color:#999; }
span.mss-string             { color:#8010a0; }
span.mss-filter             { color:#66475B; }
