body {
  color:#333;
  background:#f8f8f8;
  padding:10px;
  margin:0px;
  font:13px/20px monospace;
  }

span.css-at           { color:#708; }
span.css-unit         { color:#281; }
span.css-value        { color:#708; }
span.css-identifier   { color:#333; }
span.css-important    { color:#03c; }
span.css-colorcode    { color:#048; }
span.css-punctuation  { color:#666; }
span.css-comment      { color:#999; }
span.css-string       { color:#a22; }
