body {
  background:#f8f8f8;
  color:#333;
  }

a {
  color:#333;
  text-decoration:none;
  }

a:hover { color:#333; }

h1 { font-size:18px; }
h2 { font-size:15px; }
h3 { font-size:13px; }

.overlay {
  z-index:5000;
  background:url(../images/overlay.png);
  position:absolute;
  top:0px;
  left:0px;
  bottom:0px;
  right:0px;
  }

.loading {
  position:absolute;
  top:50%;
  left:50%;
  padding-top:40px;
  margin-top:-40px;
  margin-left:-100px;
  width:200px;

  text-align:center;
  background:url(../images/swirly.gif) 50% 0% no-repeat;
  color:#666;
  font-weight:bold;
  font-size:15px;
  }

.error-page {
  position:fixed;
  top:40px;
  left:0px;
  right:0px;
  padding:60px 20px;
  text-align:center;
  font-size:24px;
  line-height:40px;
  color:#999;
  }

.hidden { display:none; }

.pane { padding:10px; }

/**
 * Header =====================================================================
 */
.header {
  background:#ccc url(../images/sprite.png) 0px -390px repeat-x;
  position:fixed;
  left:0px;
  right:0px;
  top:0px;
  height:20px;
  padding:15px 10px;
  }

.header a,
.header h1 { float:left; }

.header h1 {
  color:#f8f8f8;
  text-shadow:#333 0px 1px 0px;
  margin-right:20px;
  }

.header h1 a {
  font-weight:bold;
  color:#f8f8f8;
  }

.header h1 .logo {
  float:left;
  background-color:transparent;
  background-position:-20px -270px;
  margin-right:5px;
  }

.header h1 .separator {
  background-position:-40px -270px;
  margin:0px 5px;
  }

.header .actions a {
  font-weight:bold;
  float:left;
  padding:0px 10px;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  margin:0px 5px;
  }

.header .actions {
  position:absolute;
  right:0px;
  top:10px;
  background:#eee;
  height:20px;
  line-height:20px;
  padding:9px 5px 10px 4px;
  border-width:1px 0px 0px 1px;
  border-style:solid;
  border-color:#fff;
  -moz-border-radius:5px 0px 0px 0px;
  -webkit-border-radius:5px 0px 0px 0px;
  -webkit-box-shadow:#444 0px 0px 3px;
  }

.header .actions a {
  background-color:#e4e4e4;
  color:#666;
  }

.header .actions a.disabled,
.header .actions a.disabled:hover {
  background-color:#e4e4e4;
  box-shadow:none;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  color:#bbb;
  cursor: default;
  }

.header .actions a:hover {
  background-color:#fff;
  color:#333;
  box-shadow:#ccc 0px 1px 3px;
  -moz-box-shadow:#ccc 0px 1px 3px;
  -webkit-box-shadow:#ccc 0px 1px 3px;
  }

.header .actions a.save.changed,
.header .actions a.save.changed:hover {
  background:#48a;
  color:#fff;
  text-shadow:#379 0px 1px;
  }

.header .icon,
.header .actions .icon,
.header .file {
  padding:0px;
  margin:0px 10px 0px 0px;
  float:left;
  }

.header .file {
  margin-top:-10px;
  background-color:transparent;
  }

.header .actions .icon { margin:0px 5px; }

.header .reverse { background-color:#444; }
.header .reverse:hover { background-color:#333; }
.header .reverse:active { background-color:#222; }
.header .actions .reverse { background-color:#888; }
.header .actions .reverse:hover { background-color:#666; }
.header .actions .reverse:active { background-color:#444; }

.header .form {
  position:absolute;
  right:10px;
  top:10px;
  padding:5px 40px 5px 5px;
  }

.header .form a.close {
  position:absolute;
  right:0px;
  top:5px;
  }

/**
 * Menu =======================================================================
 */
.menu li { position:relative; }
.menu li .icon { top:5px; }
.menu li .edit { right:26px; }

.menu li a.title {
  position:relative;
  display:block;
  padding:15px 10px 14px 60px;
  border-bottom:1px solid #ddd;
  font-size:15px;
  font-weight:bold;
  color:#666;
  }

.menu li a.title .file {
  position:absolute;
  left:10px;
  top:5px;
  }

.menu li a.title.active {
  color:#fff;
  background:#48a;
  border-color:#268;
  }

/**
 * Lists ======================================================================
 */
.items li {
  position:relative;
  padding:4px 10px;
  border-bottom:1px solid #ddd;
  border-top:1px solid #fff;
  background:#eee;
  }

.items ul {
  background:#fff;
  margin-top:5px;
  padding:5px;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  }

.items ul li {
  padding:0px;
  border:0px;
  background:transparent;
  }

.items li .handle {
  position:absolute;
  left:0px;
  top:0px;
  bottom:0px;
  width:15px;
  background:url(../images/sprite.png) 0px -240px;
  cursor:move;
  }

.items li label {
  font-size:11px;
  display:block;
  padding-left:35px;
  }

.items li .icon { background-color:#fff; }

.items li .inspect { right:49px; }
.items li .edit { right:27px; }
.items li .geometry {
  background-color:transparent;
  display:block;
  left:20px;
  }

/**
 * Toolbar ====================================================================
 */
.toolbar {
  background:#eee url(../images/sprite.png) 0px -490px repeat-x;
  height:20px;
  padding:10px 10px 9px;
  border-bottom:1px solid #ccc;
  }

.toolbar .pager { float:right; }

/**
 * Pager ======================================================================
 */
.pager a {
  float:left;
  margin-right:1px;
  }

.pager a.disabled,
.pager a.disabled:hover,
.pager a.disabled:active {
  background-color:#ccc;
  text-shadow:#999 0px 1px;
  }

/**
 * Icons ======================================================================
 */
.file,
.icon,
.logo,
.wax-tooltip .close,
a.wax-fullscreen,
a.zoomin,
a.zoomout {
  display:block;
  padding:0px;
  width:20px;
  height:20px;
  text-indent:-9999px;
  background:#fff url(../images/sprite.png) 20px 20px no-repeat;

  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  }

.file {
  background-color:transparent;
  background-position:-360px -180px;
  width:40px;
  height:40px;
  }

li .icon {
  display:none;
  position:absolute;
  right:5px;
  }

a:hover .icon,
li:hover .icon { display:block; }

a.button .icon,
a.button:hover .icon {
  background-color:transparent;
  float:left;
  margin:0px 0px 0px -10px;
  }

a.button .icon.right,
a.button:hover .icon.right {
  float:right;
  margin:0px -10px 0px 0px;
  }

.icon.edit           { background-position:0px 0px; }
.icon.inspect        { background-position:-20px 0px; }
.icon.delete         { background-position:-60px 0px; }
.icon.color-picker   { background-position:-40px 0px; }
.icon.close          { background-position:-80px 0px; }
.icon.values         { background-position:-100px 0px; }
.icon.map-legend     { background-position:-280px 0px; }
.icon.prev           { background-position:-140px 0px; }
.icon.next           { background-position:-160px 0px; }
.icon.add            { background-position:-180px 0px; }
.icon.plus           { background-position:-180px 0px; }
.icon.export         { background-position:-320px 0px; }
.icon.reference      { background-position:-320px 0px;}
.icon.dropdown       { background-position:-300px 0px; }
.icon.settings       { background-position:-260px 0px; }
.icon.assets         { background-position:-340px 0px;}
.icon.minus          { background-position:-380px 0px; }
.icon.geometry-linestring { background-position:-200px 0px; }
.icon.geometry-point      { background-position:-220px 0px; }
.icon.geometry-polygon    { background-position:-240px 0px; }
.icon.geometry-raster     { background-position:-360px 0px; }

.reverse { background-color:#888; }
.reverse:hover { background-color:#666; }
.reverse:active { background-color:#444; }
.reverse.edit           { background-position:0px -20px; }
.reverse.inspect        { background-position:-20px -20px; }
.reverse.delete         { background-position:-60px -20px; }
.reverse.color-picker   { background-position:-40px -20px; }
.reverse.close          { background-position:-80px -20px; }
.reverse.values         { background-position:-100px -20px; }
.reverse.map-legend     { background-position:-280px -20px; }
.reverse.prev           { background-position:-140px -20px; }
.reverse.next           { background-position:-160px -20px; }
.reverse.add            { background-position:-180px -20px; }
.reverse.plus           { background-position:-180px -20px; }
.reverse.export         { background-position:-320px -20px; }
.reverse.reference      { background-position: -320px -20px;}
.reverse.dropdown       { background-position:-300px -20px; }
.reverse.settings       { background-position:-260px -20px; }
.reverse.assets         { background-position:-340px -20px;}
.reverse.minus          { background-position:-380px -20px; }
.reverse.geometry-linestring { background-position:-200px -20px; }
.reverse.geometry-point      { background-position:-220px -20px; }
.reverse.geometry-polygon    { background-position:-240px -20px; }
.reverse.geometry-raster     { background-position:-360px -20px; }

/* Wax Buttons */
a.wax-fullscreen,
a.zoomin,
a.zoomout {
  background-color:transparent;
  position:absolute;
  bottom:5px;
  z-index:9999;
  }

a.wax-fullscreen {
  background-position:-120px -20px;
  right:10px;
  }

a.zoomin {
  background-position:-180px -20px;
  left:60px;
  }

a.zoomout {
  background-position:-380px -20px;
  left:80px;
  }

a.wax-fullscreen:hover,
a.zoomin:hover,
a.zoomout:hover {
  background-color:#111;
  box-shadow:#666 0px 0px 3px 1px;
  -moz-box-shadow:#666 0px 0px 3px 1px;
  -webkit-box-shadow:#666 0px 0px 3px 1px;
  }

a.wax-fullscreen:active,
a.zoomin:active,
a.zoomout:active {
  background-color:#444;
  }

.icon.clear,
.icon.clear:hover,
.icon.clear:active { background-color:transparent; }

.file.png { background-position:0px -180px; }
.file.pdf { background-position:-40px -180px; }
.file.zip { background-position:-120px -180px; }
.file.mbtiles { background-position:-80px -180px; }

.file.projects { background-position:0px -140px; }
.file.directory { background-position:-40px -140px; }
.file.s3 { background-position:-80px -140px; }
.file.exports { background-position:-120px -140px; }

.wax-tooltip .close { background-position:-80px -20px; }

/**
 * Form elements ==============================================================
 */
select,
input.text,
textarea {
  line-height:18px;
  height:20px;
  background:#f8f8f8;
  border:1px solid #ccc;
  border-color:#ccc #ddd #ddd;
  padding:0px 2px;
  box-shadow:inset #ddd 0px 2px 3px;
  -moz-box-shadow:inset #ddd 0px 2px 3px;
  -webkit-box-shadow:inset #ddd 0px 2px 3px;
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  }

textarea {
  height:auto;
  resize:none;
  }

a.button,
input.submit {
  line-height:20px;
  height:20px;
  cursor:pointer;
  padding:0px 10px;
  background:#888;
  color:#fff;
  font-weight:bold;
  text-shadow:#666 0px 1px;
  border-radius:3px;
  box-sizing:border-box;
  -moz-border-radius:3px;
  -moz-box-sizing:border-box;
  -webkit-border-radius:3px;
  -webkit-box-sizing:border-box;
  }

a.button { display:inline-block; }

a.button:hover,
input.submit:hover { background-color:#666; }

a.button:active,
input.submit:active { background-color:#444; }

form { position:relative; }
form label { font-weight:bold; }
form .description { font-size:11px; }
form .required { color: #f30; }

ul.form > li {
  position:relative;
  padding:10px 10px 9px 150px;
  border-bottom:1px solid #ddd;
  }

ul.form > li > label {
  display:block;
  position:absolute;
  left:0px;
  top:0px;
  bottom:0px;

  border-right:1px solid #eee;
  padding:10px 9px 9px 10px;
  background:#f4f4f4;
  width:120px;
  text-align:right;
  }

ul.form > li input.text,
ul.form > li textarea { width:100%; }
ul.form > li input.inline { width:auto; }

ul.form ul.form > li {
  padding:9px 10px 10px;
  margin:0px -10px;
  border-top:1px solid #ddd;
  border-bottom:0px;
  }

ul.form ul.form > li > label {
  left:-140px;
  border:0px;
  background:transparent;
  }

ul.form label.inline {
  display:block;
  position:static;
  text-align:left;
  width:auto;
  border:0px;
  padding:0px;
  background:transparent;
  }

.buttons {
  text-align:right;
  border:0px;
  padding:10px;
  }
  
.palette label,
.header label { color:#999; }

.palette select,
.palette input.text,
.palette input.submit,
.header select,
.header input.text,
.header input.submit {
  background:#333;
  border-color:#999;
  color:#fff;
  }

.palette input.text,
.header input.text {
  box-shadow:inset #111 0px 2px 3px;
  -moz-box-shadow:inset #111 0px 2px 3px;
  -webkit-box-shadow:inset #111 0px 2px 3px;
  }

.palette label { display:block; }

.palette .help {
  text-align:center;
  padding-bottom:20px;
  }

.palette .key {
  padding:2px 4px;
  background:#ccc;
  color:#333;
  text-shadow:#fff 0px 1px 0px;
  border-color:#aaa #888 #888;
  border-style:solid;
  border-width:2px 2px 4px;
  border-radius:2px;
  -moz-border-radius:2px;
  -webkit-border-radius:2px;
  }

form .palette div { padding:5px 0px; }

/**
 * ExportView =================================================================
 */
#ExportView .header { background-position:0px -440px; }

.palette {
  position:fixed;
  right:10px;
  top:60px;
  z-index:10;

  color:#999;
  width:160px;
  background:url(../images/palette.png);
  border-radius:5px;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  }

.palette .bbox-frame {
  background:#111;
  height:48px;
  margin:10px 20px;
  border:2px solid #333;
  position:relative;
  }

.palette .bbox-frame input.text {
  position:absolute;
  width:40px;
  font-size:11px;
  line-height:15px;
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  }

.palette .bbox-frame a.reset {
  display:block;
  position:absolute;
  width:60px;
  left:50%;
  top:19px;
  color:#999;
  margin-left:-30px;

  font-size:11px;
  text-align:center;
  text-transform:uppercase;
  }

.palette .bbox-frame a.reset:hover { color:#fff; }

.palette .bbox-frame #bbox-n { top:-10px; left:50%; margin-left:-20px; }
.palette .bbox-frame #bbox-w { top:20px; left:-20px; }
.palette .bbox-frame #bbox-e { top:20px; right:-20px; }
.palette .bbox-frame #bbox-s { bottom:-10px; left:50%; margin-left:-20px; }

/**
 * ExportDrawerView ===========================================================
 */
.exports li {
  min-height:40px;
  padding-left:90px;
  }

.exports .file {
  float:left;
  margin-right:10px;
  }

.exports .status,
.exports .progress {
  position:absolute;
  left:0px;
  top:5px;

  font-size:9px;
  font-weight:bold;
  text-transform:uppercase;

  width:60px;
  line-height:15px;
  padding:0px 10px;
  margin:2px 10px 3px 0px;
  border-radius:0px 3px 3px 0px;
  -webkit-border-radius:0px 3px 3px 0px;
  -moz-border-radius:0px 3px 3px 0px;
  }

.exports .status { color:#fff; }

.status-waiting    { background-color:#fc3; }
.status-processing { background-color:#6c3; }
.status-complete   { background-color:#3cf; }
.status-error      { background-color:#c33; }

.exports .progress { top:25px; }

.progress .bar {
  display:block;
  position:absolute;
  left:40px;
  top:5px;
  background:#999;
  height:5px;

  border-radius:3px;
  -webkit-border-radius:3px;
  -moz-border-radius:3px;
  }

.progress .bar-0 { width:0px; }
.progress .bar-1 { width:4px; }
.progress .bar-2 { width:8px; }
.progress .bar-3 { width:12px; }
.progress .bar-4 { width:16px; }
.progress .bar-5 { width:20px; }
.progress .bar-6 { width:24px; }
.progress .bar-7 { width:28px; }
.progress .bar-8 { width:32px; }
.progress .bar-9 { width:36px; }
.progress .bar-10 { width:40px; }

.exports .filename { font-weight:bold; }

.exports .time,
.exports .download,
.exports .message {
  font-size:11px;
  color:#666;
  }

/**
 * ProjectListView ============================================================
 */
ul.projects { padding-right:0px; }
ul.projects li { float:left; }

ul.projects a {
  display:block;
  overflow:hidden;
  position:relative;
  padding:9px;
  margin:0px 10px 10px 0px;
  border:1px solid #eee;
  max-width:240px;

  font-weight:bold;
  font-size:15px;
  text-shadow:#eee 0px 1px 0px;
  background:#ddd;
  box-shadow:#999 0px 1px 3px;
  -moz-box-shadow:#999 0px 1px 3px;
  -webkit-box-shadow:#999 0px 1px 3px;
  border-radius:3px;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  }

ul.projects span.thumb {
  display:block;
  background-position:50% 50%;
  background-repeat:no-repeat;
  width:240px;
  height:120px;
  margin:0px 0px 10px;
  overflow:hidden;
  background-color:#ccc;
  box-shadow:inset rgba(0,0,0,.4) 0px 1px 3px;
  -moz-box-shadow:inset rgba(0,0,0,.4) 0px 1px 3px;
  -webkit-box-shadow:inset rgba(0,0,0,.4) 0px 1px 3px;
  }

ul.projects span.delete {
  bottom:10px;
  right:10px;
  }

ul.projects a:hover {
  border-color:#fff;
  background-color:#eee;
  }

/**
 * ProjectView layout =========================================================
 */
.view { background:#f8f8f8; }

.main {
  background: #eee;
  position:fixed;
  top:50px;
  left:50%;
  right:0px;
  bottom:0px;
  }

.sidebar {
  position:fixed;
  top:50px;
  left:0px;
  bottom:0px;
  width:50%;
  border-right:1px solid #ccc;
  overflow:auto;
  }

.minimal #ProjectView .sidebar { width:100%; }
.minimal #ProjectView a.save,
.minimal #ProjectView .view,
.minimal .tab-ProjectFormatForm,
.minimal .tab-ProjectInteractivityForm,
.minimal .tab-ProjectLegendForm { display:none; }

.column h2,
.popup-header { background:url(../images/sprite.png) 0px -320px repeat-x;}

.sidebar-header { background:#eee url(../images/sprite.png) 0px -490px repeat-x; }
.sidebar-header h2 { float:left; margin-right: 8px;}
.sidebar-header a { float:right; }

/**
 * LibraryListView ============================================================
 */
#LibraryListView .main {
  left:25%;
  overflow:auto;
  }

#LibraryListView .sidebar { width:25%; }

/**
 * LibraryListPopupView =======================================================
 */
#LibraryListPopupView .main {
  position:absolute;
  top:0px;
  left:25%;
  overflow:auto;
  }

#LibraryListPopupView .sidebar {
  position:absolute;
  top:0px;
  width:25%;
  }

/**
 * LayerListView ==============================================================
 */
#LayerListView {
  border-top:1px solid #ccc;
  position:absolute;
  left:0px;
  bottom:0px;
  top:60%;
  width:50%;
  }

#LayerListView ul {
  position:absolute;
  overflow-x:hidden;
  overflow-y:auto;
  left:0px;
  top:40px;
  bottom:0px;
  right:0px;
  }

/**
 * ColorSwatchesTools
 */
#StylesheetTools {
  position:absolute;
  right:0px;
  bottom:0px;
  top:60%;
  width:50%;
  border-top:1px solid #ccc;
  border-left:1px solid #ccc;
  }

/**
 * Tabs =======================================================================
 */
.tabs {
  height:30px;
  padding:10px 10px 0px;
  background:#eee url(../images/sprite.png) 0px -490px repeat-x;
  }

.tabs a.tab {
  float:left;
  -moz-border-radius:3px 3px 0px 0px;
  -webkit-border-radius:3px 3px 0px 0px;
  background:#e4e4e4;
  border-width:1px 1px 0px;
  border-color:#ddd;
  border-style:solid;
  color:#999;
  padding:4px 29px 4px 9px;
  font-weight:bold;
  position:relative;
  cursor:pointer;
  }

.tabs a.active {
  color:#333;
  background:#f8f8f8;
  border-color:#ccc;
  padding-bottom:5px;
  }

.tabs a.hasError {
  color:#666;
  background:#fcf4a0;
  border-color:#ddb;
  }

.panes > div { display:none; }
.panes > div.active { display:block; }

/**
 * ColorSwatches ==============================================================
 */
#ColorSwatchListView { padding-right:30px; }
  
#ColorSwatchListView .swatch-backdrop {
  background:url(../images/sprite.png) -20px -290px no-repeat;
  float:left;
  margin:0px 5px 5px 0px;
  width:20px;
  height:20px;
  position:relative;
  }

#ColorSwatchListView .swatch {
  -moz-box-shadow:#ccc 0px 1px 2px;
  -webkit-box-shadow:#ccc 0px 1px 2px;
  background:url(../images/sprite.png) 0px -220px no-repeat;
  display:block;
  width:20px;
  height:20px;
  }

#ColorPicker {
  position:absolute;
  top:50px;
  right:10px;
  }

#ColorPicker a:hover { background-color:#999; }

.colorpicker input { line-height:13px; }

/**
 * MapView ====================================================================
 */
#MapView {
  overflow:hidden;
  position:absolute;
  left:0px;
  right:0px;
  top:0px;
  height:60%;
  border-bottom:1px solid #ccc;
  }

#MapView .map-preview {
  position:absolute;
  left:0px;
  right:0px;
  top:0px;
  bottom:0px;
  background:#f8f8f8 url(../images/canvas.png) 0% 0% repeat;
  }

body.minimal #MapView,
#MapView .map-preview.wax-fullscreen-map {
  position:fixed;
  top:50px;
  left:0px;
  right:0px;
  bottom:0px;
  width:auto;
  height:auto;
  border:0px;
  z-index:5;
  }

#MapView .olHandlerBoxZoomBox {
  position:absolute;
  background:url(../images/palette.png);
  opacity:1;
  border:0px;
  font-size:1px;
  }

#MapView .map-preview {
  width:100%;
  height:100%;
  }

#MapView .control {
  background:url(../images/palette.png);
  height:20px;
  padding:5px;
  position:absolute;
  bottom:0px;
  right:0px;
  left:0px;
  z-index:1003;
  }

#MapView .reverse { background-color:transparent; }

#MapView .control > a,
#MapView .control > span { position:absolute; }

#MapView .control a.active,
#MapView .control a:hover {
  background-color:#111;
  box-shadow:#666 0px 0px 3px 1px;
  -moz-box-shadow:#666 0px 0px 3px 1px;
  -webkit-box-shadow:#666 0px 0px 3px 1px;
  }

#MapView .control a:active { margin-top:1px; }

#MapView .zoom-display { left:10px; }
#MapView .map-legend { right:31px; }

#MapView .wax-legends { display:none; }
#MapView.legend .wax-legends { display:block; }

.zoom-display label {
  font-size:11px;
  font-weight:bold;
  color:#eee;
  float:left;
  padding:0px 10px 0px 0px;
  }

/**
 * Wax tooltips, legends ======================================================
 */
.wax-tooltip,
.wax-legends .wax-legend {
  position:absolute;
  left:0px;
  top:0px;

  font-size:11px;
  padding:5px 10px;
  background:url(../images/palette.png);
  border-radius:0px 0px 3px 0px;
  -moz-border-radius:0px 0px 3px 0px;
  -webkit-border-radius:0px 0px 3px 0px;
  }

.wax-tooltip {
  color:#fff;
  max-width:300px;
  }

.wax-tooltip a,
.wax-legends .wax-legend a { color:#8cf; }

.wax-legends {
  bottom:auto;
  left:auto;
  top:0px;
  right:0px;
  }

.wax-legends .wax-legend {
  border-radius:0px 0px 0px 3px;
  -moz-border-radius:0px 0px 0px 3px;
  -webkit-border-radius:0px 0px 0px 3px;
  }

.wax-popup { padding-right:30px; }

.wax-popup .close {
  position:absolute;
  right:5px;
  top:5px;
  background-color:transparent;
  }

/**
 * StylesheetListView =========================================================
 */
#tabs {
  position:absolute;
  top:0px;
  left:0px;
  right:0px;
  height:40px;
  background:#eee url(../images/sprite.png) 0px -490px repeat-x;
  }

#tabs .tabs { padding-right:40px; }

#tabs a.add {
  position:absolute;
  top:10px;
  right:10px;
  }

#tabs a.tab span.delete {
  background-color:transparent;
  display:none;
  position:absolute;
  right:5px;
  top:5px;
  }

#tabs a.tab:hover span.delete { display:block; }

#editor {
  overflow:auto;
  position:absolute;
  top:40px;
  left:0px;
  bottom:0px;
  right:0px;
  width:auto !important;
  }

#editor .editor {
  display:none;
  position:absolute;
  left:0px;
  right:0px;
  bottom:0px;
  top:0px;
  }

#editor .editor.active { display:block; }
#editor .editor iframe { padding:0px; }

.CodeMirror-gutter-text {
  background:#f7f7f7;
  color:#555;
  margin:0px;
  padding: .4em 0 .4em 0 !important;
  font:13px/20px monospace;
  text-align:right;
  }

.CodeMirror-gutter-text pre { padding: 0 0.3em 0 0.8em !important; }

.syntax-error {
  color:#666;
  background:#fcf4a0 !important;
  }


/**
 * FontPicker =================================================================
 */
#FontPicker {
  padding:5px 10px 4px;
  border-bottom:1px solid #ddd;
  }

#FontPicker input { font-weight: bold; }

#FontPicker .fonts-list {
  position:absolute;
  left:0px;
  right:0px;
  top:70px;
  bottom:0px;
  padding:5px;
  overflow: auto;
  }

#FontPicker ul.fonts-list li {
  display:block;
  font-size:11px;
  padding:0px 5px;
  cursor:pointer;

  border-radius:3px;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  }

#FontPicker ul.fonts-list li:hover { background: #eee; }

/**
 * Popup ======================================================================
 */
.popup {
  z-index:5000;
  position:absolute;
  top:69px;
  left:50%;
  width: 500px;
  margin-left:-251px;
  background-color:#f8f8f8;
  border:1px solid #999;
  -moz-box-shadow:rgba(64,64,64,.25) 0px 0px 0px 5px;
  -webkit-box-shadow:rgba(64,64,64,.25) 0px 0px 0px 5px;
  }

.popup-content { position:relative; }

.popup-header h2 { float:left; }
.popup-header a { float:right; }

.popup.big {
  top:59px;
  left:59px;
  right:59px;
  bottom:59px;
  width:auto;
  margin:0px;
  }

.popup.big .popup-content {
  position:absolute;
  left:0px;
  right:0px;
  top:40px;
  bottom:0px;
  }

/**
 * DropdownView ===============================================================
 */
.DropdownView {
  position:relative;
  float:left;
  }

.DropdownView .dropdown-content {
  z-index:5000;
  display:none;
  background:url(../images/palette.png);
  position:absolute;
  padding: 5px 0px;
  left:5px;
  top:20px;
  right:5px;
  -webkit-border-radius:0px 0px 5px 5px;
  -moz-border-radius:0px 0px 5px 5px;
  border-radius:0px 0px 5px 5px;
  }
  
.DropdownView .dropdown-content.expanded { display:block; }
  
.actions .DropdownView a.show {
  padding-right:50px;
  position:relative;
  }

.actions .DropdownView a.show .icon {
  background-color:transparent;
  position:absolute;
  right:0px;
  top:0px;
  }

.actions .DropdownView a.show.active,
.actions .DropdownView a.show.active:hover {
  background:url(../images/palette.png);
  color:#fff;
  -webkit-border-radius:5px 5px 0px 0px;
  -moz-border-radius:5px 5px 0px 0px;
  border-radius:5px 5px 0px 0px;
  }

.actions .DropdownView a.show.active .icon {
  background-color:transparent;
  background-position:-300px -20px;
  }

.actions .dropdown-content li.divider {
  border-top:1px solid #444;
  margin:5px 0px 0px;
  padding:4px 0px 0px;
  }

.actions .dropdown-content a {
  background: transparent;
  color:#fff;
  display:block;
  float:none;
  font-size:11px;
  font-weight:normal;
  margin:0px;
  padding:0px 10px;
  }

.actions .dropdown-content a:hover {
  background:transparent url(../images/sprite.png) 0px -360px repeat-x;
  box-shadow:0;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  color: #fff;
  }

/**
 * ReferenceView ==============================================================
 */
.reference-links {
  position:absolute;
  left:0px;
  top:0px;
  padding:10px 5px;
  width:110px;
  }

.reference-links a {
  display:block;
  padding:0px 10px;
  overflow:hidden;

  font-weight:bold;
  font-size:11px;
  color:#666;
  white-space:nowrap;
  border-radius:10px;
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
  }

.reference-links a.active {
  background:#888;
  color:#fff;
  }

.reference-section {
  display:none;
  padding:10px 20px 10px 140px;
  }

.reference-section.active { display:block; }

table { width:100%; }

table th { text-align:left; }

table thead th {
  font-size:11px;
  color:#999;
  text-shadow:#fff 0px 1px 0px;
  }

table td,
table th {
  border-collapse:collapse;
  padding:0px 10px 0px 0px;
  width: 25%;
  overflow:hidden;
  }

table th.header { cursor:pointer; }

table.features td,
table.features th {
  padding:0px 10px;
  border-right:1px solid #ddd;
  font-size:11px;
  }

table.features .Number { text-align:right; }

.reference-section p { margin:0px 0px 20px; }

.reference-section .CodeMirror,
.reference-section code {
  background-color:#f8f8f8;
  border:1px solid #fff;
  -webkit-box-shadow:#ccc 0px 1px 3px;
  padding:0px 2px;
  }

.reference-section .CodeMirror {
  padding:9px;
  margin:0px 0px 20px;
  }

.reference-default-meaning {
  font-size:11px;
  color:#999;
  }

.reference-table tr:hover { background-color:#eee; }

.reference-table a { color:#666; }
.reference-table a.reference-doc-available { color:#333; }

/**
 * Assets =====================================================================
 */
ul.form > li a.assets {
  position:absolute;
  right:10px;
  top:10px;
  display:block;
  border-radius:0px;
  -moz-border-radius:0px;
  -webkit-border-radius:0px;
  }

ul.form > li input#file { padding-right:20px; }

ul.assets { padding:10px; }

ul.assets li {
  float:left;
  width:50%;
  }

a.asset {
  display:block;
  position:relative;
  padding:0px 0px 0px 40px;
  height:40px;
  line-height:40px;
  white-space:nowrap;
  overflow:hidden;
  border-radius:3px;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  }

a.asset .file {
  position:absolute;
  left:0px;
  top:0px;
  }

a.asset:hover {
  background:#fff;
  box-shadow:#ccc 0px 1px 3px;
  -moz-box-shadow:#ccc 0px 1px 3px;
  -webkit-box-shadow:#ccc 0px 1px 3px;
  }
  
a.asset .url { display:none; }

a.asset .metadata {
  font-size:9px;
  padding:0px 3px;
  color:#666;
  }

/**
 * Tipsy ======================================================================
 */
body .tipsy { font-size:11px; }

/**
 * Slideout drawer ============================================================
 */
.drawer {
  background:#f8f8f8;
  width:50%;
  position:fixed;
  left:-50%;
  top:50px;
  bottom:0px;
  right:auto;
  z-index:2000;
  }

.minimal .drawer {
  width:100%;
  left:-100%;
  }

.drawer-content {
  overflow:auto;
  position:absolute;
  top:40px;
  left:0px;
  right:0px;
  bottom:0px;
  }

.showall {
  text-align:center;
  margin:10px 0;
  }

.showall a {
  margin:10px 0;
  float:none;
  }

.ui-slider,
form .palette .ui-slider {
  position:relative;
  background: #222;
  border:#444 solid 1px;
  height:1px;
  padding:0px;
  border-radius:2px;
  -moz-border-radius:2px;
  -webkit-border-radius:2px;
  }

.ui-slider-range,
form .palette .ui-slider-range {
  border:#c44 solid 1px;
  background:#a22;
  position:absolute;
  top:-1px;
  height:1px;
  padding:0px;
  border-radius:2px;
  -moz-border-radius:2px;
  -webkit-border-radius:2px;
  }

.ui-slider-handle {
  position:absolute;
  top:-4px;
  height:7px;
  width:8px;
  border:#999 solid 1px;
  background:#333;
  border-radius:4px;
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
  }

/**
 * About ======================================================================
 */
ul.form > li.about {
  padding:20px 20px 19px;
  text-align:center;
  }

.about a { font-weight:bold; }
.about .description { line-height:15px; }

.about .logo {
  display:block;
  width:190px;
  height:50px;
  margin:0px auto 10px;
  text-indent:-9999px;
  overflow:hidden;
  background:url(../images/sprite.png) -20px -220px no-repeat;
  }

/**
 * @media max-device-width rules. Allows us to adjust the design on the basis
 * of the window size.
 */
@media screen and (max-width:800px) {
  ul.assets li {
    float:none;
    width:auto;
    }
}

