body {
  background:#ccc url(../images/sprite.png) 0px -360px repeat-x;
  color:#333;
  }

div.loading {
  background:#eee url(../images/swirly.gif) 50% 50% no-repeat;
  opacity:.5;
  left:0px;
  position:absolute;
  right:0px;
  bottom:0px;
  top:0px;
  }

div.page-loading { top:40px; }

div.loading-text {
  width:100px;
  position:absolute;
  top:50%;
  left:50%;
  text-align:center;
  margin-top:50px;
  margin-left:-50px;
  }

div.error-page {
  position:fixed;
  top:40px;
  left:0px;
  right:0px;
  padding:60px 20px;
  text-align:center;
  font-size:24px;
  line-height:40px;
  color:#ccc;
  }

a {
  color:#333;
  text-decoration:none;
  }

a:hover { color:#333; }

h1 { font-size:20px; }
h2 { font-size:16px; }
h3 { font-size:13px; }

.hidden { display:none; }

.pane { padding:10px; }

#header {
  position:fixed;
  left:0px;
  right:0px;
  top:0px;
  padding:15px 10px;
  }

  #header a,
  #header h1 { float:left; }

  #header h1 {
    color:#fff;
    text-shadow:#333 0px 1px 0px;
    margin-right:20px;
    }

  #header a {
    font-weight:bold;
    float:left;
    padding:0px 10px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    }

  #header .links a {
    line-height:18px;
    border-top:1px solid #444;
    border-bottom:1px solid #888;
    color:#ccc;
    background-color:#555;
    }

  #header .links a:hover { color:#fff; }

  #header .actions {
    position:absolute;
    right:0px;
    top:10px;
    background:#eee;
    height:20px;
    line-height:20px;
    padding:9px 5px 10px 4px;
    border-width:1px 0px 0px 1px;
    border-style:solid;
    border-color:#fff;
    -moz-border-radius:5px 0px 0px 0px;
    -webkit-border-radius:5px 0px 0px 0px;
    -webkit-box-shadow:#444 0px 0px 3px;

    }

  #header .actions a {
    background-color:#e4e4e4;
    color:#666;
    margin:0px 5px;
    }

  #header .actions a:hover {
    background-color:#fff;
    color:#333;
    box-shadow:#ccc 0px 1px 3px;
    -moz-box-shadow:#ccc 0px 1px 3px;
    -webkit-box-shadow:#ccc 0px 1px 3px;
    }

  #header .actions a.close {
    background-color:#666;
    padding:0px;
    }

  #header .actions a.close:active { background-color:#333; }

  #header .actions a:focus,
  #header .actions a:active,
  #header .actions a.active,
  #header .actions a.active:hover {
    background-color:#666;
    color:#fff;
    }

  #header .actions a.save.changed,
  #header .actions a.save.changed:hover {
    background:#48a;
    color:#fff;
    }

/**
 * Home
 */
body#list .column { margin-top:40px; }

ul.sidebar-content li {
  padding:4px 10px;
  border-bottom:1px solid #ddd;
  border-top:1px solid #fff;
  background:#eee;
  }

ul.sidebar-content ul {
  background:#fff;
  margin-top:5px;
  padding:5px;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  }

ul.sidebar-content ul li {
  padding:0px;
  border:0px;
  background:transparent;
  }

ul.projects { padding-right:0px; }

ul.projects li {
  float:left;
  width:50%;
  font-size:20px;
  }

form.projects,
ul.projects a {
  display:block;
  border:1px solid #eee;
  text-shadow:#eee 0px 1px 0px;
  background:#ddd;
  box-shadow:#999 0px 1px 3px;
  -moz-box-shadow:#999 0px 1px 3px;
  -webkit-box-shadow:#999 0px 1px 3px;
  border-radius:3px;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  }

ul.projects a { 
  position:relative;
  padding:38px 38px 38px 138px;
  margin:0px 10px 10px 0px;
  font-weight:bold;
  }

ul.projects span.thumb {
  display:block;
  width:120px;
  height:80px;
  overflow:hidden;
  background-color:#ccc;
  position:absolute;
  left:9px;
  top:9px;
  }

ul.projects span.thumb img {
  width:128px;
  height:128px;
  display:block;
  }

ul.projects span.delete {
  background-color:#fff;
  top:5px;
  right:5px;
  }

ul.projects a:hover {
  border-color:#fff;
  background-color:#eee;
  }

form.projects h2 { font-size:16px; }
form.projects p { margin:0px 0px 10px; }

#inspector ul li em { margin-left:5px; }

ul.inspect-values {
  -moz-border-radius:3px 3px 0px 3px;
  -webkit-border-radius:3px 3px 0px 3px;
  }

ul.inspect-values li {
  font-size:11px;
  line-height:19px;
  border-bottom:1px solid #eee;
  white-space:nowrap;
  overflow:hidden;
  float:left;
  width:50%;
  }

ul.inspect-values li.min,
ul.inspect-values li.max {
  width:auto;
  float:none;
  border-color:#e0e8e8;
  background:#f0f4f4;
  }

ul.inspect-values strong { text-transform:uppercase; }

/**
 * Pager
 */
div.pager {
  position:relative;
  height:20px;
  }

div.pager a.disabled { opacity:.5; }

div.pager a.pager-prev,
div.pager a.pager-next { position:absolute; }

div.pager a.pager-next {
  -moz-border-radius:0px 0px 3px 0px;
  -webkit-border-radius:0px 0px 3px 0px;
  right:0px;
  }

div.pager a.pager-prev {
  -moz-border-radius:0px 0px 0px 3px;
  -webkit-border-radius:0px 0px 0px 3px;
  right:20px;
  }

/**
 * Form elements
 */
input.text {
  line-height:18px;
  background:#f8f8f8;
  border:1px solid #ccc;
  padding:0px 2px;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  }

input.submit {
  line-height:18px;
  cursor:pointer;
  padding:0px 10px;
  border:1px solid #ccc;
  background:#f8f8f8;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  }

form { position:relative; }

form label {
  font-size:11px;
  text-transform:uppercase;
  }

form div {
  position:relative;
  padding:5px 5px 4px 110px;
  border-bottom:1px solid #eee;
  }

form div.container { border:0px; padding:0px; }

form div label {
  display:block;
  position:absolute;
  left:0px;
  width:100px;
  text-align:right;
  }

form div.messages {
  display:none;
  background:url(../images/black90.png);
  color:#fff;

  position:absolute;
  border:0px;
  padding:5px 10px;
  bottom:100%;
  line-height:20px;

  z-index:1000;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  }

form div.messages label {
  position:static;
  width:auto;
  text-align:auto;
  text-transform:none;
  }

form div input.text { width:90%; }

form div.buttons {
  text-align:right;
  border:0px;
  padding:5px 0px 5px 110px;
  }

/**
 * ProjectView layout
 */
.view { background:#f8f8f8; }

#main {
  position:fixed;
  top:50px;
  left:50%;
  right:0px;
  bottom:0px;
  }

#sidebar {
  position:fixed;
  top:50px;
  left:0px;
  bottom:0px;
  width:50%;
  border-right:1px solid #ccc;
  }

#toolbar {
  background:#eee;
  position:absolute;
  left:50%;
  right:0px;
  bottom:0px;
  border-top:1px solid #ddd;
  padding-right:180px;
  min-height:20px;
  }

.minimal #sidebar { width:100%; }
.minimal a.save,
.minimal #main,
.minimal #toolbar { display:none; }

#ProjectListView #main { left:25%; }
#ProjectListView #sidebar { width:25%; border-color:#bbb; }

.column h2,
.popup-header,
.sidebar-header { background:url(../images/sprite.png) 0px -320px repeat-x; }

.sidebar-header h2 { float:left; }
.sidebar-header a { float:right; }

#toolbar label {
  font-size:11px;
  font-weight:bold;
  text-transform:uppercase;
  }

/**
 * Layers
 */
#layers {
  position:absolute;
  left:0px;
  bottom:0px;
  top:50%;
  width:50%;
  }

#layers ul {
  position:absolute;
  overflow-x:hidden;
  overflow-y:auto;
  left:0px;
  top:40px;
  bottom:0px;
  right:0px;
  }

.sidebar-content.loading { background:url(../images/swirly.gif) 50% 50% no-repeat; }

.sidebar-content li { position:relative; }

.sidebar-content li a { background-color:#fff; }

.sidebar-content li div.handle {
  position:absolute;
  left:0px;
  top:0px;
  bottom:0px;
  width:15px;
  background:url(../images/sprite.png) 0px -240px;
  cursor:move;
  }

.sidebar-content li label {
  font-size:11px;
  display:block;
  padding-left:15px;
  }

/**
 * ColorSwatchesToolView
 */
#color-swatches {
  position:absolute;
  right:0px;
  bottom:0px;
  top:50%;
  width:50%;
  border-left:1px solid #ccc;
  }

#color-swatches .swatch {
  -moz-box-shadow:#ccc 0px 1px 2px;
  -webkit-box-shadow:#ccc 0px 1px 2px;
  background:url(../images/sprite.png) 0px -220px no-repeat;
  float:left;
  margin:0px 5px 5px 0px;
  width:20px;
  height:20px;
  position:relative;
  }

/**
 * Icon links
 */
.icon {
  display:block;
  padding:0px;
  width:20px;
  height:20px;
  text-indent:-9999px;
  background:#666 url(../images/sprite.png) 20px 20px no-repeat;

  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  }

li .icon {
  display:none;
  position:absolute;
  right:5px;
  }

  a:hover .icon,
  li:hover .icon { display:block; }

  li .inspect { right:49px; }
  li .inspect-loading { display:none; }
  li .edit { right:27px; }
  li .scaledPoints { right:91px; }
  li. choropleth { right:70px; }
  li. label { right:49px; }
  li. unique { right:27px; }

.icon.edit           { background-position:0px 0px; }
.icon.inspect        { background-position:-20px 0px; }
.icon.delete         { background-position:-60px 0px; }
.icon.color-picker   { background-position:-40px -20px; }
.icon.close          { background-position:-80px -20px; }
.icon.values         { background-position:-100px 0px; }
.icon.map-fullscreen { background-position:-120px -20px; }
.icon.prev           { background-position:-140px 0px; }
.icon.next           { background-position:-160px 0px; }
.icon.add            { background-position:-180px -20px; }
.icon.label          { background-position:-200px 0px; }
.icon.choropleth     { background-position:-220px 0px; }
.icon.unique         { background-position:-240px 0px; }
.icon.scaledPoints   { background-position:-260px 0px; }
.icon.label.active        { background-position:-200px -20px; }
.icon.choropleth.active   { background-position:-220px -20px; }
.icon.unique.active       { background-position:-240px -20px; }
.icon.scaledPoints.active { background-position:-260px -20px; }

.icon.scaledPoints.active,
.icon.label.active,
.icon.choropleth.active,
.icon.unique.active       { background-color:#222; }

/**
 * Map preview
 */
#map-preview {
  overflow:hidden;
  position:absolute;
  left:0px;
  right:0px;
  top:0px;
  background:#ddd url(../images/checker-bg.png) 0% 0% repeat;
  }

#sidebar #map-preview {
  height:50%;
  border-bottom:1px solid #ccc;
  }

#map-preview .olMap {
  position:absolute;
  left:0px;
  right:0px;
  top:0px;
  bottom:0px;
  }

#map-preview div.olControlPanZoomBar {
  top:20px !important;
  }

#map-preview div.olControlPanZoom {
  top:20px !important;
  }

#map-preview.fullscreen,
#sidebar #map-preview.fullscreen {
  position:fixed;
  top:50px;
  left:0px;
  right:0px;
  bottom:0px;
  z-index:5;
  width:auto;
  height:auto;
  border:0px;
  }

#map-preview a.map-fullscreen,
#map-preview #zoom-display {
  background-color:#222;
  height:20px;
  position:absolute;
  top:5px;
  z-index:1003;
  }

#map-preview a.map-fullscreen {
  right:5px;
  }

#map-preview #zoom-display {
  left:5px;
  padding:0px 5px;
  background-color:#222;
  font-size:11px;
  color:#eee;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  }

#map-preview .olHandlerBoxZoomBox {
  border:2px solid #000;
  position:absolute;
  background-color:#fff;
  opacity:0.40;
  font-size:1px;
  filter:alpha(opacity=50);
  }

/**
 * Code editor
 */
#tabs {
  position:absolute;
  top:0px;
  left:0px;
  right:0px;
  height:29px;

  padding:10px 10px 0px;
  border-bottom:1px solid #ccc;
  background:#eee;
  }

#tabs a.add {
  position:absolute;
  right:10px;
  }

#tabs a.tab {
  float:left;
  -moz-border-radius:3px 3px 0px 0px;
  -webkit-border-radius:3px 3px 0px 0px;
  background:#e4e4e4;
  border-width:1px 1px 0px;
  border-color:#ddd;
  border-style:solid;
  color:#999;
  padding:4px 29px 4px 9px;
  font-size:11px;
  font-weight:bold;
  position:relative;
  cursor:pointer;
  }

#tabs a.tab span.delete {
  background-color:transparent;
  display:none;
  position:absolute;
  opacity:.5;
  right:5px;
  top:5px;
  }

  #tabs a.tab:hover span.delete { display:block; }
  #tabs a.tab:hover span.delete:hover { opacity:1; }

#tabs a.active {
  color:#333;
  background:#f8f8f8;
  border-color:#ccc;
  padding-bottom:5px;
  }

#editor {
  overflow:auto;
  position:absolute;
  top:40px;
  left:0px;
  bottom:40px;
  right:0px;
  width:auto !important;
  }

#editor .editor {
  display:none;
  position:absolute;
  left:0px;
  right:0px;
  bottom:0px;
  top:0px;
  }

#editor .editor.active { display:block; }
#editor .editor iframe { padding:0px; }

/**
 * Color palette
 */
#color-picker {
  position:absolute;
  right:0px;
  bottom:0px;
  height:20px;
  }

#color-picker a {
  background-color:#999;
  float:right;
  }

#color-picker a:hover { background-color:#666; }

.tilemill-farbtastic {
  background:#eee;
  color:#fff;
  position:absolute;
  right:0px;
  bottom:40px;

  display:none;
  -moz-border-radius:3px 0px 0px 0px;
  -webkit-border-radius:3px 0px 0px 0px;
  }

/**
 * Font pallette
 */
.font-picker {
  height:20px;
  position:relative;
  float:left;
  }

.font-picker label { position:absolute; }

.fonts-list {
  position:absolute;
  left:60px;
  width: 220px;
  }

/**
 * Popup editor.
 */
.popup-backdrop {
  z-index:5000;
  background-color:#999;
  opacity: 0.75;
  position:absolute;
  top:0;
  left:0;
  bottom:0;
  right:0;
  }

.popup {
  z-index:5000;
  position:absolute;
  top:0;
  left:0;
  right:0;
  width: 500px;
  background-color: #fff;
  margin: 100px auto 0;

  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  border-radius:3px;
  -moz-box-shadow:#666 0px 1px 10px;
  -webkit-box-shadow:#666 0px 1px 10px;
  }

.popup-header {
  -moz-border-radius:3px 3px 0px 0px;
  -webkit-border-radius:3px 3px 0px 0px;
  }

.popup-content { position:relative; }

.popup-header h2 { float:left; }
.popup-header a { float:right; }

a.tab-add,
a#layers-add,
a.close,
a.inspector-close { background-color:#666; }

/**
 * Reference page
 */

#reference #sidebar,
#reference #main { background-color:#eee; }

#reference #main,
#data #main { overflow: auto; }

#reference .pane { padding:20px; }

.reference-symbolizer {
  border-bottom:1px solid #ccc;
  padding:0px 0px 19px;
  margin:0px 0px 20px;
  }

table { width:100%; }

table th { text-align:left; }

table thead th {
  font-size:11px;
  color:#999;
  text-shadow:#fff 0px 1px 0px;
  }

.reference-table td, th {
  border-top:1px solid #eee;
  border-collapse:collapse;
  padding:0px 5px 0px 0px;
  width: 25%;
  }

.reference-help p { margin:0px 0px 20px; }

.reference-help pre,
.reference-help code {
  background-color:#f8f8f8;
  border:1px solid #fff;
  -webkit-box-shadow:#ccc 0px 1px 3px;
  padding:0px 2px;
  }

.reference-help pre {
  padding:9px;
  margin:0px 0px 20px;
  }

.reference-default-meaning {
  float:right;
  color:#999;
  }

.reference-table a { color:#666; }
.reference-table a.reference-doc-available { color:#333; }

#quick-reference {
  background:#eee;
  color:#666;
  position:absolute;
  left:10px;
  right:25px;
  padding:3px 6px;
  bottom:50px;
  border:1px solid #ccc;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  z-index: 999999999999;
  padding-right:180px;
  min-height:20px;
  }

#quick-reference .default {
  color: #888;
  }

/**
 * Add datasources from known data
 */
a#expand-datasources {
  background-color:#fff;
  float:right;
  background-position:-20px 0px;
  }
  
a#expand-datasources:hover {
  cursor:pointer;
  }

#datasource-list {
  padding: 5px;
  margin-top: 5px;
  background-color:#eee;
  overflow-y:auto;
  border: 1px solid #ccc;
  }

#datasource-list div {
  padding:0;
  }

/**
 * TODO: this will break in IE
 */
#datasource-list div.datasource:hover {
  color:#000;
  cursor:pointer;
  }
  
#datasource-list div.datasource .url {
  display:none;
  }

#datasource-list div.datasource .metadata {
  font-size:9px;
  padding:3px;
  background-color:#eee;
  color:#aaa;
  }

/**
 * Code snippets in info popup
 */
textarea.code-snippet {
  font-family: monospace;
  width: 100%;
  height: 150px;
  }

.CodeMirror-line-numbers {
  background:#eee;
  color:#555;
  margin:0px;
  padding:10px 0;
  font:13px/20px monospace;
  }
.CodeMirror-line-numbers div {
  padding:0 10px;
  }

div.syntax-error {
  background-color:#FDF59F;
  }

/**
 * Tipsy ======================================================================
 */
body .tipsy { font-size:11px; }

