body {
  background:#f8f8f8;
  color:#333;
  }

small {
  font-size:10px;
  }

div.loading {
  background:#eee url(../images/swirly.gif) 50% 50% no-repeat;
  opacity:.5;
  position:absolute;
  left:0px;
  right:0px;
  bottom:0px;
  top:0px;
  }

div.page-loading { top:40px; }

div.loading-text {
  width:100px;
  position:absolute;
  top:50%;
  left:50%;
  text-align:center;
  margin-top:50px;
  margin-left:-50px;
  }

div.error-page {
  position:fixed;
  top:40px;
  left:0px;
  right:0px;
  padding:60px 20px;
  text-align:center;
  font-size:24px;
  line-height:40px;
  color:#ccc;
  }

a {
  color:#48a;
  text-decoration:none;
  }

a:hover { color:#333; }

h1 { font-size:20px; }
h2 { font-size:16px; }
h3 { font-size:13px; }

.hidden { display:none; }

.pane { padding:10px; }

.column { float:left; width:50%; }

#header {
  position:fixed;
  left:0px;
  right:0px;
  top:0px;
  height:20px;
  background:url(../images/sprite.png) 0px -360px repeat-x;
  }

  #header,
  #header a { color:#eee; }

  #header a { font-weight:bold; }

  #header h1,
  #header a.info,
  #header a.minimal,
  #header a.save,
  #header a.status,
  #header a.projectify {
    float:left;
    margin-right:10px;
    }

  #header h1 {
    text-shadow:#000 0px -1px 0px;
    margin-right:20px;
    }

  #header a.info,
  #header a.minimal,
  #header a.projectify,
  #header a.status,
  #header a.save {
    background:#222;
    padding:0px 10px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    }

  #header a.save {
    color:#999;
    display:none;
    }

  #header a.save.changed {
    color:#fff;
    background:#268;
    display:block;
    }

  #header a.home {
    text-shadow:#000 0px -1px 0px;
    float:right;
    }

 #header a.status {
    color:#999;
    display:none;
    }

 #header a.status.offline {
    color:#fff;
    background:#B93D3D;
    display:block;
    }

/**
 * Home
 */
body#list .column { margin-top:40px; }

ul li {
  padding:4px 10px;
  border-bottom:1px solid #ddd;
  border-top:1px solid #fff;
  background:#eee;
  }

ul ul {
  background:#fff;
  margin-top:5px;
  padding:5px;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  }

ul ul li {
  padding:0px;
  border:0px;
  background:transparent;
  }

ul.items li {
  position:relative;
  padding:4px 30px 4px 5px;
  line-height:30px;
  font-size:16px;
  }

ul.items li a.route {
  padding:0px 5px;
  display:block;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  }

  ul.items li a.file-delete { top:8px; }
  ul.items li a:hover { background-color:#fff; }

ul.items li form { padding:0px 5px; }

ul.items li form label { line-height:18px; }

#inspector ul li em { margin-left:5px; }

ul.inspect-values {
  -moz-border-radius:3px 3px 0px 3px;
  -webkit-border-radius:3px 3px 0px 3px;
  }

ul.inspect-values li {
  font-size:11px;
  line-height:19px;
  border-bottom:1px solid #eee;
  white-space:nowrap;
  overflow:hidden;
  float:left;
  width:50%;
  }

ul.inspect-values li.min,
ul.inspect-values li.max {
  width:auto;
  float:none;
  border-color:#e0e8e8;
  background:#f0f4f4;
  }

ul.inspect-values strong { text-transform:uppercase; }

/**
 * Pager
 */
div.pager {
  position:relative;
  height:20px;
  }

div.pager a.disabled { opacity:.5; }

div.pager a.pager-prev,
div.pager a.pager-next { position:absolute; }

div.pager a.pager-next {
  -moz-border-radius:0px 0px 3px 0px;
  -webkit-border-radius:0px 0px 3px 0px;
  right:0px;
  }

div.pager a.pager-prev {
  -moz-border-radius:0px 0px 0px 3px;
  -webkit-border-radius:0px 0px 0px 3px;
  right:20px;
  }

/**
 * Form elements
 */
input.text {
  line-height:18px;
  background:#f8f8f8;
  border:1px solid #ccc;
  padding:0px 2px;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  }

input.submit {
  line-height:18px;
  cursor:pointer;
  padding:0px 10px;
  border:1px solid #ccc;
  background:#f8f8f8;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  }

form { position:relative; }

form label {
  font-size:11px;
  text-transform:uppercase;
  }

form div {
  position:relative;
  padding:5px 5px 4px 110px;
  border-bottom:1px solid #eee;
  }

form div label {
  display:block;
  position:absolute;
  left:0px;
  width:100px;
  text-align:right;
  }

form div.messages {
  display:none;
  background:url(../images/black90.png);
  color:#fff;

  position:absolute;
  border:0px;
  padding:5px 10px;
  bottom:100%;
  line-height:20px;

  z-index:1000;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  }

form div.messages label {
  position:static;
  width:auto;
  text-align:auto;
  text-transform:none;
  }

form div input.text { width:90%; }

form div.buttons {
  text-align:right;
  border:0px;
  padding:5px 0px 5px 110px;
  }

/**
 * Layers
 */
#main {
  position:fixed;
  top:40px;
  left:30%;
  right:0px;
  bottom:0px;
  }

#sidebar {
  position:fixed;
  top:40px;
  left:0px;
  bottom:0px;
  width:30%;
  border-right:1px solid #ccc;
  }

.column h2,
.popup-header,
.sidebar-header { background:url(../images/sprite.png) 0px -320px repeat-x; }

.sidebar-header h2 { float:left; }
.sidebar-header a { float:right; }

.sidebar-content {
  position:absolute;
  left:0px;
  bottom:0px;
  right:0px;
  top:40px;
  overflow:auto;
  }

  .with-map .sidebar-content { bottom:240px; }

  .sidebar-content.loading { background:url(../images/swirly.gif) 50% 50% no-repeat; }

.sidebar-content li { position:relative; }

.sidebar-content li a { background-color:#fff; }

.sidebar-content li div.handle {
  position:absolute;
  left:0px;
  top:0px;
  bottom:0px;
  width:15px;
  background:url(../images/sprite.png) 0px -240px;
  cursor:move;
  }

.sidebar-content li input.checkbox {
  position:absolute;
  left:20px;
  top:5px;
  }

.sidebar-content li label {
  font-size:11px;
  display:block;
  padding-left:30px;
  }

/**
 * Icon links
 */
a.file-delete,
a.inspect-label,
a.inspect-choropleth,
a.inspect-unique,
a.inspect-scaledPoints,
span.tab-delete,
a.tab-add,
a#layers-add,
a.inspector-close,
a.popup-close,
a.pager-prev,
a.pager-next,
a.color-picker,
a.layer-edit,
a.layer-delete,
a.layer-inspect,
a.inspect-values,
a.map-fullscreen {
  display:block;
  padding:0px;
  width:20px;
  height:20px;
  text-indent:-9999px;
  background:url(../images/sprite.png) 20px 20px no-repeat;

  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  }

a.file-delete,
a.inspect-label,
a.inspect-choropleth,
a.inspect-scaledPoints,
a.inspect-unique,
a.layer-edit,
a.layer-delete,
a.layer-inspect,
a.inspect-values {
  display:none;
  position:absolute;
  right:5px;
  }

  a.layer-inspect { right:49px; }
  a.layer-inspect-loading { display:none; }
  a.layer-edit { right:27px; }

  a.inspect-scaledPoints { right:91px; }
  a.inspect-choropleth { right:70px; }
  a.inspect-label { right:49px; }
  a.inspect-unique { right:27px; }

  li:hover a.file-delete,
  li:hover a.inspect-scaledPoints,
  li:hover a.inspect-label,
  li:hover a.inspect-choropleth,
  li:hover a.inspect-unique,
  li a.inspect-scaledPoints.active,
  li a.inspect-label.active,
  li a.inspect-choropleth.active,
  li a.inspect-unique.active,
  li:hover a.layer-edit,
  li:hover a.layer-delete,
  li:hover a.layer-inspect,
  li:hover a.inspect-values { display:block; }

a.layer-edit     { background-position:0px 0px; }
a.layer-inspect  { background-position:-20px 0px; }
a.file-delete,
span.tab-delete,
a.layer-delete   { background-position:-60px 0px; }
a.color-picker   { background-position:-40px -20px; }
a.inspector-close,
a.popup-close    { background-position:-80px -20px; }
a.inspect-values { background-position:-100px 0px; }
a.map-fullscreen { background-position:-120px -20px; }
a.pager-prev     { background-position:-140px 0px; }
a.pager-next     { background-position:-160px 0px; }
a.tab-add,
a#layers-add     { background-position:-180px -20px; }
a.inspect-label  { background-position:-200px 0px; }
a.inspect-choropleth { background-position:-220px 0px; }
a.inspect-unique { background-position:-240px 0px; }
a.inspect-scaledPoints { background-position:-260px 0px; }
a.inspect-label.active      { background-position:-200px -20px; }
a.inspect-choropleth.active { background-position:-220px -20px; }
a.inspect-unique.active     { background-position:-240px -20px; }
a.inspect-scaledPoints.active     { background-position:-260px -20px; }

a.inspect-scaledPoints.active,
a.inspect-label.active,
a.inspect-choropleth.active,
a.inspect-unique.active     { background-color:#222; }

/**
 * Map preview
 */
#map-preview {
  position:absolute;
  left:0px;
  bottom:0px;
  right:0px;
  top:0px;
  background:#ddd url(../images/checker-bg.png) 0% 0% repeat;
  }

#sidebar #map-preview {
  top:auto;
  height:239px;
  border-top:1px solid #ccc;
  }

#map-preview div.olControlPanZoomBar {
  top:20px !important;
  }

#map-preview.fullscreen,
#sidebar #map-preview.fullscreen {
  position:fixed;
  top:40px;
  left:0px;
  right:0px;
  bottom:0px;
  z-index:5;
  width:auto;
  height:auto;
  border:0px;
  }

#map-preview a.map-fullscreen,
#map-preview #zoom-display {
  background-color:#222;
  height:20px;
  position:absolute;
  top:5px;
  z-index:1003;
  }

#map-preview a.map-fullscreen {
  right:5px;
  }

#map-preview #zoom-display {
  left:5px;
  padding:0px 5px;
  background-color:#222;
  font-size:11px;
  color:#eee;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  }

/**
 * Code editor
 */
#tabs {
  position:absolute;
  top:0px;
  left:0px;
  right:0px;
  height:29px;

  padding:10px 10px 0px;
  border-bottom:1px solid #eee;
  background:#f8f8f8;
  }

#tabs a.tab-add {
  position:absolute;
  right:10px;
  }

#tabs a.tab {
  float:left;
  -moz-border-radius:3px 3px 0px 0px;
  -webkit-border-radius:3px 3px 0px 0px;
  background:#f8f8f8;
  padding:5px 30px 4px 10px;
  font-size:11px;
  font-weight:bold;
  color:#999;
  position:relative;
  }

#tabs a.tab span.tab-delete {
  display:none;
  position:absolute;
  opacity:.5;
  right:5px;
  top:5px;
  }

  #tabs a.tab:hover span.tab-delete { display:block; }
  #tabs a.tab:hover span.tab-delete:hover { opacity:1; }

#tabs a.active {
  border-width:1px 1px 0px;
  border-color:#ddd;
  border-style:solid;
  color:#333;
  background:#f8f8f8;
  padding:4px 29px 5px 9px;
  }

#editor {
  overflow:auto;
  position:absolute;
  top:40px;
  left:0px;
  bottom:40px;
  right:0px;
  display:block;
  width:auto !important;
  }

#editor iframe { padding:0px; }

/**
 * Color palette
 */
#color-palette {
  background:#303030 url(../images/sprite.png) 0px -360px repeat-x;
  color:#eee;
  position:absolute;
  left:0px;
  right:0px;
  bottom:0px;
  padding-right:180px;
  min-height:20px;
  }

#colors {
  padding-left:70px;
  position:relative;
  float:left;
  }

#colors label {
  text-shadow:#000 0px -1px 0px;
  position:absolute;
  left:0px;
  font-size:11px;
  font-weight:bold;
  text-transform:uppercase;
  }

#colors .swatch {
  -moz-box-shadow:#222 0px 1px 2px;
  -webkit-box-shadow:#222 0px 1px 2px;
  background:url(../images/sprite.png) 0px -220px no-repeat;
  float:left;
  margin:3px 3px 2px 2px;

  border:1px solid #222;
  width:18px;
  height:13px;
  position:relative;
  }

  #colors .swatch label {
    position:absolute;
    left:-26px;
    bottom:10px;
    width:70px;

    padding:0px 0px 10px;
    text-align:center;
    background:url(../images/sprite.png) 0px -190px no-repeat;
    color:#333;
    display:none;
    text-shadow:none;
    }

  #colors .swatch:hover label { display:block; }

#color-picker {
  position:absolute;
  right:0px;
  bottom:0px;
  height:20px;
  }

#color-picker a { float:right; }
#color-picker a:hover { background-color:#000; }

#farbtastic {
  background:#333;
  color:#fff;
  position:absolute;
  right:0px;
  bottom:40px;

  display:none;
  -moz-border-radius:3px 0px 0px 0px;
  -webkit-border-radius:3px 0px 0px 0px;
  }

/**
 * Popup editor.
 */
.popup-backdrop {
  z-index:5000;
  background-color:#999;
  opacity: 0.75;
  position:absolute;
  top:0;
  left:0;
  bottom:0;
  right:0;
  }

.popup {
  z-index:5000;
  position:absolute;
  top:0;
  left:0;
  right:0;
  width: 500px;
  background-color: #fff;
  margin: 100px auto 0;

  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  border-radius:3px;
  -moz-box-shadow:#666 0px 1px 10px;
  -webkit-box-shadow:#666 0px 1px 10px;
  }

.popup-header {
  -moz-border-radius:3px 3px 0px 0px;
  -webkit-border-radius:3px 3px 0px 0px;
  }

.popup-content { position:relative; }

.popup-header h2 { float:left; }
.popup-header a { float:right; }

a.tab-add,
a#layers-add,
a.inspector-close,
a.popup-close { background-color:#222; }

/**
 * Reference page
 */

#reference #main,
#data #main {
    overflow: auto;
}

#main-content {
    padding:10px;
}

#main-content h2 {
    font-size:16px;
    margin:6px 0 8px 0;
}

.reference-table {
    width: 100%;
}

.reference-table thead tr th {
  border-top:1px solid #aaa;
  background-color: #eee;
}

.reference-table th {
  color: #555;
  text-align:left;
  }

.reference-table td, th {
  border-top:1px solid #eee;
  border-collapse:collapse;
  padding: 1px 3px;
  width: 25%;
  }

.reference-help {
  padding:10px;
  }

.reference-help p {
  padding: 10px;
  }

.reference-help p code {
  background-color: #eee;
  padding:2px;
  }

.reference-help pre {
  background-color: #eee;
  border:1px solid #ccc;
  padding:5px;
  margin:10px;
  }

.reference-default-meaning {
  float:right;
  color:#999;
  }

/**
 * Add datasources from known data
 */
#form-providers {
  padding: 5px;
  margin-top: 5px;
  background-color:#eee;
  overflow-y:auto;
  border: 1px solid #ccc;
  }

#form-providers div {
  padding:0;
  }

  /**
   * TODO: this will break in IE
   */
#form-providers div.datasource:hover {
  background-color:#fff;
  cursor:pointer;
  }
  
#form-providers div.datasource .url {
  display:none;
  }
