<div class='footer keyline-bottom fill-light clearfix'>
  <div class='col-section footer-label col3 pad4'>
    <h3>TileMill</h3>
    <small>Documentation &amp; Helpful Links</small>
  </div>
  <div class='col2 pad4 links small'>
    <a href='{{site.baseurl}}/'>Home</a>
    <a href='{{site.baseurl}}/gallery/'>Map Gallery</a>
    <a href='{{site.baseurl}}/changelog/'>Changelog</a>
  </div>
  <div class='col2 pad4 links small'>
    <a href='{{site.baseurl}}/docs/install'>Installation</a>
    <a href='{{site.baseurl}}/docs/crashcourse/introduction/'>Crash Course</a>
    <a href='{{site.baseurl}}/docs/guides/add-shapefile'>Guide</a>
    <a href='{{site.baseurl}}/docs/manual/'>References</a>
    <a href='{{site.url}}/carto/'>CartoCSS Reference</a>
    <a href='http://support.mapbox.com'>Support</a>
  </div>
</div>
