<div class='footer clearfix limiter space-bottom'>
  <div class='col-section footer-label col6 pad4y'>
    <h3>TileMill</h3>
    <small>Documentation &amp; Helpful Links</small>
  </div>
  <div class='col2 pad4y strong small'>
    <a class='col12' href='{{site.baseurl}}/'>Home</a>
    <a class='col12' href='{{site.baseurl}}/gallery/'>Map Gallery</a>
    <a class='col12' href='{{site.baseurl}}/changelog/'>Changelog</a>
  </div>
  <div class='col2 pad4y strong small'>
    <a class='col12' href='{{site.baseurl}}/docs/install'>Installation</a>
    <a class='col12' href='{{site.baseurl}}/docs/crashcourse/introduction/'>Crash Course</a>
    <a class='col12' href='{{site.baseurl}}/docs/guides/add-shapefile'>Guide</a>
    <a class='col12' href='{{site.baseurl}}/docs/manual/'>References</a>
    <a class='col12' href='{{site.url}}/carto/'>CartoCSS Reference</a>
    <a class='col12' href='http://support.mapbox.com'>Support</a>
  </div>
</div>
