.book {
  border:none;
  padding:0px;
  margin:0px;
  width:210px;
  }

.book li.topic {
  border: 1px solid #ccc;
  margin:10px;
  }

.book li.topic h3 {
  background:#eee;
  }

  .book li.topic h3 a {
    color:#444;
    }

  .book ul li.active h3 {
    border-bottom: 1px solid #ccc;
    }

.book ul li.topic ul.articles li {
  height:0px;
  overflow:hidden;
  transition: height .25s;
  -moz-transition: height .25s;
  -webkit-transition: height .25s;
  }

  .book ul li.topic.active ul.articles li {
    height:30px;
    overflow:hidden;
    }

.book a {
  margin:0;
  padding:5px 10px;
  border-radius:0px;
  -moz-border-radius:0px;
  -webkit-border-radius:0px;
  }

  .book a.active {
    border-radius:0px;
    -moz-border-radius:0px;
    -webkit-border-radius:0px;
    }
