body.poster .wrapper {
  background:#f0f8fc;
  }

body.poster .branding {
  box-shadow:#c0d8e0 0px 0px 20px;
  -moz-box-shadow:#c0d8e0 0px 0px 20px;
  -webkit-box-shadow:#c0d8e0 0px 0px 20px;
  }

body.poster .bleed {
  height:560px;
  background:#e0f0f4;
  border:0px;
  margin:0px 0px -40px;
  }

body.poster .box {
  width:920px;
  padding:20px;
  margin:0px auto 40px;
  background:#fff;
  border-radius:5px;
  box-shadow:inset #f0f8fc 0px -100px 100px 0px, #d0e8f0 0px -5px 5px -5px;
  }

.prose img {
  max-width:640px;
  }
