{
    "AWSTemplateFormatVersion": "2010-09-09",
    "Description": "tilemill test user",
    "Resources": {
        "TestUser": {
            "Type": "AWS::IAM::User",
            "Properties": {
                "Policies": [
                    {
                        "PolicyName": "publish",
                        "PolicyDocument": {
                            "Statement": [
                                {
                                    "Action": [
                                        "s3:GetObject",
                                        "s3:PutObject",
                                        "s3:PutObjectAcl"
                                    ],
                                    "Effect": "Allow",
                                    "Resource": [
                                        "arn:aws:s3:::mapbox/tilemill/*",
                                        "arn:aws:s3:::mapbox/mapbox-studio/*"
                                    ]
                                }
                            ]
                        }
                    },
                    {
                        "PolicyName": "upload",
                        "PolicyDocument": {
                            "Statement": [
                                {
                                    "Action": [
                                        "s3:PutObject",
                                        "s3:PutObjectAcl"
                                    ],
                                    "Effect": "Allow",
                                    "Resource": [
                                        "arn:aws:s3:::mapbox-upload-testing/*"
                                    ]
                                }
                            ]
                        }
                    },
                    {
                        "PolicyName": "fedtoken",
                        "PolicyDocument": {
                            "Statement": [
                                {
                                    "Action": [
                                        "sts:GetFederationToken"
                                    ],
                                    "Effect": "Allow",
                                    "Resource": "*"
                                }
                            ]
                        }
                    }
                ]
            }
        },
        "TestUserKey": {
            "Type": "AWS::IAM::AccessKey",
            "Properties": {
                "UserName": {
                    "Ref": "TestUser"
                }
            }
        }
    },
    "Outputs": {
        "AccessKeyId": {
            "Value": {
                "Ref": "TestUserKey"
            }
        },
        "SecretAccessKey": {
            "Value": {
                "Fn::GetAtt": [
                    "TestUserKey",
                    "SecretAccessKey"
                ]
            }
        }
    }
}