div.CodeMirror {
  height:100%;
  background:#fff;
  color:#222;
  padding:0px;
  margin:0px;
  font:13px/20px monospace;
  }

span.carto-variable           { color:#708; }
span.carto-color-variable     { color:#B60049; }
span.carto-unit               { color:#281; }
span.carto-value              { color:#708; }
span.carto-valid-value        { color:#B60049; }
span.carto-selector           { color:#b64f90; }
span.carto-identifier         { color:#999; }
span.carto-valid-identifier   { color:#333; }
span.carto-important          { color:#03c; }
span.carto-colorcode          { color:#048; }
span.carto-punctuation        { color:#666; }
span.carto-comment            { color:#999; }
span.carto-string             { color:#8010a0; }
span.carto-filter             { color:#66475B; }
