@font-face {
  font-family:Droid;
  src:url('../fonts/DroidSans.ttf');
  }

input,
select,
textarea,
body { font-family:Droid,'Lucida Grande',sans-serif; }

body {
  padding:50px 0px 0px;
  background:#eee;
  color:#222;
  }

.overlay:before,
.loading:before,
.fill,
.fill-s,
.fill-n,
.fill-w,
.fill-e {
  position:absolute;
  left:0px;
  top:0px;
  bottom:0px;
  right:0px;
  display:block;
  }

.fill-s { top:auto; }
.fill-n { bottom:auto; }
.fill-w { right:auto; }
.fill-e { left:auto; }

a {
  color:#222;
  text-decoration:none;
  }

/**
 * Generic loading, overlay classes
 */
.overlay,
.loading { overflow:hidden; }

.overlay:before,
.loading:before {
  content:'.';
  text-indent:-9999px;
  overflow:hidden;
  background:rgba(0,0,0,.5);
  z-index:100;
  }

.overlay .overlay:before,
.loading .loading:before,
.overlay .loading:before,
.loading .overlay:before { background:rgba(0,0,0,.25); }

.loading:after {
  content:'Loading ...';
  position:absolute;
  left:50%;
  top:50%;
  margin:-10px 0px 0px -50px;
  width:100px;
  height:20px;
  font-size:20px;
  text-align:center;
  z-index:101;
  color:#fff;
  text-shadow:#fff 0px 0px 10px;
  }

/**
 * Pagewide modal messages
 */
#modal {
  display:none;
  position:absolute;
  left:50%;
  top:50%;
  background:rgba(48,48,48,.9);
  color:#ccc;
  width:480px;
  margin:-120px 0px 0px -240px;
  z-index:102;
  border-radius:5px;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  }

#modal.active { display:block; }

#modal a { color:#fff; }

#modal a.close {
  top:10px;
  right:10px;
  position:absolute;
  }

#modal .content {
  padding:20px;
  font-size:16px;
  color:#fff;
  }

#modal .bug {
  border-top:1px solid #666;
  padding:4px 10px 5px;
  text-align:right;
  }

#modal .buttons {
  border-top:1px solid #666;
  padding:9px 10px 10px;
  text-align:center;
  }

#modal .buttons input {
  background:#222;
  border-color:#666;
  line-height:30px;
  height:30px;
  margin:0px 5px;
  width:80px;
  text-align:center;
  font-size:16px;
  }

#modal .buttons input:active {
  box-shadow:inset #666 0px 0px 5px;
  background:#444;
  }

/**
 * Sliding panes
 */
#popup {
  position:fixed;
  bottom:-100%;
  left:50%;
  margin-left:-361px;
  width:720px;
  height:90%;
  z-index:101;
  border:1px solid #666;
  border-bottom:0px;
  border-radius:5px 5px 0px 0px;
  -moz-border-radius:5px 5px 0px 0px;
  -webkit-border-radius:5px 5px 0px 0px;
  transition:bottom .25s;
  -moz-transition:bottom .25s;
  -webkit-transition:bottom .25s;
  }

#popup.active { bottom:0%; }
#modal.active + #popup {
  z-index:99;
  border-color:#ccc;
  }

#drawer {
  top:50px;
  left:-50%;
  z-index:10;
  background:#fff;
  overflow:hidden;
  width:50% !important;
  transition:left .25s;
  -moz-transition:left .25s;
  -webkit-transition:left .25s;
  }

#drawer.active { left:0%; }

.pane { background:#fff; }

.pane > h2.title {
  height:20px;
  font-size:20px;
  white-space:nowrap;
  padding:10px 10px 9px;
  border-bottom:1px solid #eee;
  }

.pane > a.close {
  position:absolute;
  top:10px;
  right:10px;
  }

.pane > .content {
  top:40px;
  padding:10px;
  overflow:auto;
  }

/**
 * Header
 */
.bleed {
  position:fixed;
  left:0px;
  right:0px;
  top:0px;
  z-index:10;
  height:32px;
  padding:9px 0px;
  background:#aaa url(../images/sprite.png) 0px 0px repeat-x;
  }

.header {
  width:720px;
  height:30px;
  border:1px solid #888;
  border-radius:5px;
  margin:0px auto;
  background:#fff url(../images/sprite.png) 0px -50px repeat-x;
  box-shadow:inset rgba(0,0,0,.1) 0px 1px 2px;
  }

.header .breadcrumb {
  position:relative;
  float:left;
  }

.header .breadcrumb a {
  float:left;
  font-weight:bold;
  padding:5px 20px 5px 10px;
  background:url(../images/sprite.png) 100% -80px no-repeat;
  height:20px;
  }

.header .breadcrumb a.logo { padding-left:30px; }

.header .breadcrumb a.logo .icon {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:url(../images/sprite.png) 0px -150px no-repeat;
  }

.header .actions {
  float:right;
  position:relative;
  padding:5px;
  height:20px;
  }

.header .actions > * {
  float:left;
  border-radius:0px;
  border-right-width:0px;
  }

.header .actions > *:first-child { border-radius:3px 0px 0px 3px; }

.header .actions > *:last-child {
  border-right-width:1px;
  border-radius:0px 3px 3px 0px;
  }

.button.dropdown {
  width:100px;
  position:relative;
  }

.dropdown .menu {
  display:none;
  position:absolute;
  top:17px;
  left:-1px;
  width:98px;
  padding:3px 0px 0px;
  background-color:#7c7c7c;
  border:1px solid #666;
  border-top:0px;
  border-radius:0px 0px 3px 3px;
  }

.dropdown:active .menu,
.dropdown.active .menu { display:block; }

.dropdown .menu a {
  display:block;
  padding:0px 10px;
  color:#fff;
  }

.dropdown .menu a.divider { border-top:1px solid #666; }

.dropdown .menu a:hover { background-color:#666; }

/**
 * Projects
 */
.projects form { text-align:right; }

.projects ul {
  margin:20px;
  /* Fixes a variety of spacing problems when using `inline-block` */
  font:0px/0px;
  text-align:center;
  }

.projects li {
  background:#ddd;
  font:13px/20px;
  display:inline-block;
  text-align:left;
  width:238px;
  height:238px;
  border:1px solid #ccc;
  margin:0px 5px 10px;
  position:relative;
  overflow:hidden;
  box-shadow:rgba(0,0,0,.1) 0px 1px 3px;
  }

.thumb {
  width:238px;
  height:238px;
  font-weight:bold;
  display:block;
  background:#fff url(../images/bg.png);
  position:relative;
  }

.thumb .thumb-layer {
  background-position:50% 50%;
  background-repeat:no-repeat;
  }

.thumb .thumb-name {
  background:rgba(255,255,255,.9);
  padding:5px 10px;
  min-height:20px;
  overflow:hidden;
  }

.thumb .icon {
  position:absolute;
  right:5px;
  top:5px;
  }

/**
 * Project
 */
.project .map {
  background:#fff url(../images/bg.png) 100% 0%;
  border-right:1px solid #ccc;
  }

.project .map,
.project .editor {
  top:50px;
  width:50% !important;
  }

.project .layers {
  position:absolute;
  left:0px;
  bottom:20px;
  border:1px solid #ccc;
  border-left:0px;
  border-radius:0px 3px 3px 0px;
  box-shadow:rgba(0,0,0,.1) 0px 1px 3px;
  background:rgba(255,255,255,.9);
  }

.project .layers .button { margin:5px 10px; }

.project .layers ul {
  max-height:200px;
  overflow:auto;
  }

.project .layers li {
  border-top:1px solid #eee;
  padding:2px 70px 2px 30px;
  font-weight:bold;
  }

.project .layers li .icon { background-color:transparent; }
.project .layers li .punc { color:#999; }

.project .layers li {
  min-width:60px;
  max-width:240px;
  }

/**
 * Map fullscreen and project exporting mode.
 */
.project.exporting .map,
.project .wax-fullscreen-map {
  z-index:2;
  border-right:0px !important;
  width:100% !important;
  }

.project.exporting .header .actions { display:none; }

.project.exporting #export { right:0px; }
.project.exporting #drawer.active { left:-50%; }

#export {
  position:fixed;
  top:60px;
  right:-320px;
  z-index:2;
  background:#fff;
  overflow:hidden;
  border:1px solid #ccc;
  border-right:0px;
  width:319px;
  transition:right .25s;
  -moz-transition:right .25s;
  -webkit-transition:right .25s;
  border-radius:5px 0px 0px 5px;
  -moz-border-radius:5px 0px 0px 5px;
  -webkit-border-radius:5px 0px 0px 5px;
  }

#export .content { padding:0px; }

.project.exporting .wax-fullscreen { display:none; }
.project.exporting .zoom-display { width:59px; }
.project.exporting .zoomin {
  border-radius:0px 3px 3px 0px;
  -moz-border-radius:0px 3px 3px 0px;
  -webkit-border-radius:0px 3px 3px 0px;
  }

#export .key {
  padding:2px 8px;
  background:#f8f8f8;
  border-color:#eee #ccc #ccc;
  border-style:solid;
  border-width:2px 2px 4px;
  border-radius:2px;
  -moz-border-radius:2px;
  -webkit-border-radius:2px;
  }

.bboxForm {
  margin:10px 0px;
  background:#eee;
  border:1px solid #ddd;
  height:78px;
  position:relative;
  box-shadow:inset #ddd 0px 1px 3px;
  -moz-box-shadow:inset #ddd 0px 1px 3px;
  -webkit-box-shadow:inset #ddd 0px 1px 3px;
  }

.bboxForm input[type=text] {
  position:absolute;
  width:60px;
  border:0px;
  background:#ddd;
  box-shadow:none;
  text-align:center;
  }

.bboxForm .n,
.bboxForm .s {
  left:50%;
  margin-left:-30px;
  }

.bboxForm .w,
.bboxForm .e {
  top:50%;
  margin-top:-10px;
  }

.bboxForm .n { top:0%; }
.bboxForm .s { bottom:0%; }
.bboxForm .w { left:0%; }
.bboxForm .e { right:0%; }

/**
 * Layers
 */
li { position:relative; }

li .handle {
  width:20px;
  padding:2px;
  cursor:move;
  }

li .actions {
  display:none;
  width:60px;
  padding:2px;
  }

li .handle .icon,
li .actions .icon { float:left; }
li:hover .actions { display:block; }

.palette {
  position:relative;
  height:20px;
  overflow:hidden;
  padding:10px 20px 9px;
  border-bottom:1px solid #ddd;
  }

.palette .colors {
  position:absolute;
  left:10px;
  top:10px;
  right:90px;
  height:20px;
  overflow:hidden;
  }

.palette .ref {
  position:absolute;
  right:10px;
  top:10px;
  }

.colors .button {
  float:left;
  border-radius:3px 0px 0px 3px;
  -moz-border-radius:3px 0px 0px 3px;
  -webkit-border-radius:3px 0px 0px 3px;
  }

.swatch {
  background:url(../images/sprite.png) -20px -220px no-repeat;
  width:20px;
  height:20px;
  float:left;
  }

.swatch .color {
  background:#fff url(../images/sprite.png) 0px -220px no-repeat;
  display:block;
  width:20px;
  height:20px;
  }

/**
 * Tabs
 */
.tabs {
  float:left;
  position:relative;
  overflow:hidden;
  margin:0px;
  padding:10px 0px 0px 10px;
  height:30px;
  }

.tabs li {
  position:relative;
  float:left;
  }

.tabs li a.tab {
  position:relative;
  float:left;
  border:1px solid #ccc;
  border-bottom:0px;
  border-radius:3px 3px 0px 0px;
  box-shadow:rgba(0,0,0,.1) 0px 1px 2px;

  padding:4px 29px 5px 9px;
  margin:0px 2px 0px 0px;
  background:#f4f4f4;
  color:#888;
  }

.tabs li a.tab.active {
  background:#fff;
  color:#222;
  z-index:1;
  }

.tabs + a.add { margin:10px 10px 0px; }

.tabs li a.delete {
  display:none;
  position:absolute;
  right:5px;
  top:4px;
  z-index:1;
  }

.tabs li:hover a.delete { display:block; }

/**
 * "Dock"-style tabs
 */
.dock { padding-left:60px; }

.dock .icons {
  width:59px;
  border-right:1px solid #ddd;
  background:#eee;
  }

.dock .icons .icon { margin:0px auto; }

.dock .icons a {
  display:block;
  font-size:11px;
  text-align:center;
  width:40px;
  height:40px;
  border-bottom:1px solid #ddd;
  border-right:1px solid #ddd;
  padding:10px 9px 9px 10px;
  }

.dock .icons a.active {
  color:#fff;
  border-color:#999;
  background:#aaa url(../images/sprite.png) 0px 10px repeat-x;
  }

.dock form { display:none; }
.dock form.active { display:block; }

/**
 * CodeMirror
 */
.editor .code {
  overflow:hidden;
  top:79px;
  background:#fff;
  border-top:1px solid #ccc;
  box-shadow:rgba(0,0,0,.1) 0px 0px 3px;
  }

.editor .CodeMirror,
.editor .CodeMirror-scroll {
  position:absolute;
  top:0px;
  left:0px;
  right:0px;
  bottom:0px;
  height:auto!important;
  }

.editor .CodeMirror {
  background:#fff;
  z-index:-1;
  }

.editor .CodeMirror.active { z-index:0; }

/**
 * Icons
 */
.icon {
  display:block;
  padding:0px;
  width:20px;
  height:20px;
  text-indent:-9999px;
  background:transparent url(../images/sprite.png) 20px 20px no-repeat;
  }

a:hover .icon,
li:hover .icon { display:block; }

.button .icon,
.button:hover .icon {
  float:left;
  display:block;
  margin:-1px -5px;
  background-color:transparent;
  }

.button .icon.labeled,
.button:hover .icon.labeled { margin-right:5px; }

.button .icon.right,
.button:hover .icon.right {
  float:right;
  margin:-1px -10px -1px 0px;
  }

.icon.edit           { background-position:0px -180px; }
.icon.inspect        { background-position:-20px -180px; }
.icon.delete         { background-position:-60px -180px; }
.icon.color-picker   { background-position:-40px -180px; }
.icon.close          { background-position:-80px -180px; }
.icon.fonts          { background-position:-100px -180px; }
.icon.legend         { background-position:-280px -180px; }
.icon.prev           { background-position:-140px -180px; }
.icon.next           { background-position:-160px -180px; }
.icon.add            { background-position:-180px -180px; }
.icon.plus           { background-position:-180px -180px; }
.icon.export         { background-position:-420px -180px; }
.icon.reference      { background-position:-320px -180px;}
.icon.dropdown       { background-position:-300px -180px; }
.icon.settings       { background-position:-260px -180px; }
.icon.assets         { background-position:-340px -180px;}
.icon.minus          { background-position:-380px -180px; }
.icon.geometry-linestring { background-position:-200px -180px; }
.icon.geometry-point      { background-position:-220px -180px; }
.icon.geometry-polygon    { background-position:-240px -180px; }
.icon.geometry-raster     { background-position:-360px -180px; }
.icon.file              { background-position:-540px -180px; }
.icon.postgis           { background-position:-560px -180px; }
.icon.tooltip           { background-position:-580px -180px; }

.reverse.edit           { background-position:0px -200px; }
.reverse.inspect        { background-position:-20px -200px; }
.reverse.delete         { background-position:-60px -200px; }
.reverse.color-picker   { background-position:-40px -200px; }
.reverse.close          { background-position:-80px -200px; }
.reverse.fonts          { background-position:-100px -200px; }
.reverse.legend         { background-position:-280px -200px; }
.reverse.prev           { background-position:-140px -200px; }
.reverse.next           { background-position:-160px -200px; }
.reverse.add            { background-position:-180px -200px; }
.reverse.plus           { background-position:-180px -200px; }
.reverse.export         { background-position:-420px -200px; }
.reverse.reference      { background-position: -320px -200px;}
.reverse.dropdown       { background-position:-300px -200px; }
.reverse.settings       { background-position:-260px -200px; }
.reverse.assets         { background-position:-340px -200px;}
.reverse.minus          { background-position:-380px -200px; }
.reverse.geometry-linestring { background-position:-200px -200px; }
.reverse.geometry-point      { background-position:-220px -200px; }
.reverse.geometry-polygon    { background-position:-240px -200px; }
.reverse.geometry-raster     { background-position:-360px -200px; }
.reverse.file           { background-position:-540px -200px; }
.reverse.postgis        { background-position:-560px -200px; }
.reverse.tooltip        { background-position:-580px -200px; }

/* Dock-icon specific reverse styles */
.dock .active .icon.legend   { background-position:-280px -200px; }
.dock .active .icon.settings { background-position:-260px -200px; }
.dock .active .icon.file     { background-position:-540px -200px;}
.dock .active .icon.postgis  { background-position:-560px -200px;}
.dock .active .icon.tooltip  { background-position:-580px -200px;}

/**
 * Form elements
 */
select,
input[type=text],
textarea {
  line-height:18px;
  height:20px;
  background:#f8f8f8;
  border:1px solid #ccc;
  border-color:#ccc #ddd #ddd;
  padding:0px 2px;
  box-shadow:inset #ddd 0px 2px 3px;
  -moz-box-shadow:inset #ddd 0px 2px 3px;
  -webkit-box-shadow:inset #ddd 0px 2px 3px;
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  }

textarea {
  height:auto;
  resize:none;
  }

.button,
input[type=button],
input[type=submit] {
  font-size:11px;
  border:1px solid #5ab;
  line-height:20px;
  height:20px;
  cursor:pointer;
  padding:0px 10px;
  background:#74bccc url(../images/sprite.png) 0px -130px no-repeat;
  color:#fff;
  border-radius:3px;
  box-sizing:border-box;
  display:inline-block;
  }

.button:hover,
input[type=button]:hover,
input[type=submit]:hover { background-color:#8cd; }

.button:active,
.button.active,
input[type=button]:active,
input[type=submit]:active {
  background-color:#888;
  border-color:#666;
  background-position:0px -110px;
  box-shadow:inset #999 0px -1px 0px;
  }

ul.form h2 { font-size:16px; }

ul.form li {
  position:relative;
  padding:10px 20px 9px 120px;
  border-bottom:1px solid #eee;
  }

ul.form li.text,
ul.form li.buttons { padding-left:20px; }

ul.form li:hover {
  background-color:#f0f8fa;
  border-color:#e0e8ea;
  }

ul.form li .inline {
  vertical-align:top;
  display:inline-block;
  }

ul.form li label {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  padding:10px 5px 10px 10px;
  text-align:right;
  }

ul.form .buttons { text-align:center; }
ul.form .buttons input {
  display:inline-block;
  background:#74bccc;
  line-height:30px;
  height:30px;
  margin:0px 5px;
  min-width:100px;
  text-align:center;
  font-size:16px;
  box-shadow:inset #8cd 0px 1px 0px;
  }

ul.form .buttons input.cancel {
  background:#fff;
  color:#999;
  box-shadow:inset #eee 0px -1px 0px;
  border-color:#ccc;
  }

ul.form .buttons input.cancel:active,
ul.form .buttons input:active {
  color:#fff;
  border-color:#666;
  background:#888;
  box-shadow:inset #999 0px -1px 0px;
  }

ul.form .required { color:#c30; }
ul.form .description { color:#999; }
ul.form select + span.description,
ul.form input + span.description { margin-left:10px; }
ul.form select + span.description,
ul.form input + div.description { margin-top:10px; }
ul.form select { width:120px; }

/* Special sauce */
ul::-webkit-scrollbar,
div::-webkit-scrollbar {
  height:8px;
  width:8px;
  background:#eee;
  border-radius:4px;
  }

ul::-webkit-scrollbar-thumb,
div::-webkit-scrollbar-thumb {
  border-radius:4px;
  background:#aaa;
  }

ul::-webkit-scrollbar-thumb:vertical,
div::-webkit-scrollbar-thumb:vertical { height:25px; }
ul::-webkit-scrollbar-thumb:horizontal,
div::-webkit-scrollbar-thumb:horizontal { width:25px; }

/**
 * Manual
 */
.manual {}

.manual .toggler {
  font-size:11px;
  width:119px;
  background:#eee;
  border-right:1px solid #ddd;
  }

.manual .toggler a {
  display:block;
  width:100px;
  padding:5px 9px 4px 10px;
  border-right:1px solid #ddd;
  border-bottom:1px solid #ddd;
  }

.manual .toggler a.active {
  border-color:#aaa;
  background:#999 url(../images/sprite.png) 0px -20px repeat-x;
  color:#fff;
  }

.manual .page {
  left:120px;
  overflow:auto;
  padding:10px;
  }

.manual .section { display:none; }
.manual .section.active { display:block; }

.manual h1,
.manual h2,
.manual h3,
.manual h4,
.manual h5,
.manual h6 {
  font-size:20px;
  margin:0px 0px 20px;
  }

.prose ul,
.prose .CodeMirror,
.prose p { margin:0px 0px 20px; }

.prose ul li {
  margin-left:20px;
  list-style:square;
  }

.prose .CodeMirror-scroll { height:auto; }
.prose .CodeMirror-lines { padding:0px 0px 0px 20px; }

table { width:100%; }
table th { text-align:left; }
table thead th {
  font-size:11px;
  color:#999;
  }

table td,
table th {
  border-collapse:collapse;
  padding:0px 20px 0px 0px;
  width: 25%;
  overflow:hidden;
  }

table th.header { cursor:pointer; }

.reference-default-meaning {
  font-size:11px;
  color:#999;
  }

table tr:hover { background-color:#fe8; }

table a { color:#666; }
table a.reference-doc-available { color:#333; }

/**
 * Font reference
 */
.fonts { padding-top:30px; }

.fonts .toggler {
  font-size:11px;
  padding:0px;
  background:#eee;
  border-bottom:1px solid #ddd;
  height:29px;
  overflow:hidden;
  }

.fonts .toggler a,
.fonts .toggler span {
  float:left;
  width:20px;
  padding:5px 0px 4px;
  text-align:center;
  }

.fonts .toggler span { color:#ccc; }

.fonts .toggler a.all { width:40px; }

.fonts .toggler a.active {
  background:#999 url(../images/sprite.png) 0px -20px repeat-x;
  color:#fff;
  }

.fonts .font {
  display:none;
  padding:5px 5px 4px;
  border-bottom:1px solid #eee;
  }

.fonts .font.active { display:block; }


