@font-face {
  font-family:Droid;
  src:url('../fonts/DroidSans.ttf');
  }

input,
select,
textarea,
body { font-family:Droid,'Lucida Grande',sans-serif; }

body {
  padding:50px 0px 0px;
  background:#f0f8fa;
  color:#222;
  }

.loading { position:relative; }

.loading:after {
  content:'.';
  text-indent:-9999px;
  overflow:hidden;
  background:rgba(255,255,255,.75); /* @TODO spinner */
  }

.loading:after,
.fill,
.fill-s,
.fill-n,
.fill-w,
.fill-e {
  position:absolute;
  left:0px;
  top:0px;
  bottom:0px;
  right:0px;
  display:block;
  }

.fill-s { top:auto; }
.fill-n { bottom:auto; }
.fill-w { right:auto; }
.fill-e { left:auto; }

a {
  color:#222;
  text-decoration:none;
  }

/**
 * Header
 */
.bleed {
  position:fixed;
  left:0px;
  right:0px;
  top:0px;
  z-index:1;
  height:32px;
  padding:9px 0px;
  background:#ddeef4 url(../images/sprite.png) 0px 0px repeat-x;
  }

.header {
  width:600px;
  height:30px;
  border:1px solid #b0dce8;
  border-radius:5px;
  margin:0px auto;
  background:#fff url(../images/sprite.png) 0px -50px repeat-x;
  box-shadow:inset rgba(0,0,0,.1) 0px 1px 2px;
  }

.header .breadcrumb {
  position:relative;
  float:left;
  }

.header .breadcrumb a {
  float:left;
  font-weight:bold;
  padding:5px 20px 5px 10px;
  background:url(../images/sprite.png) 100% -80px no-repeat;
  height:20px;
  }

.header .breadcrumb a.logo { padding-left:30px; }

.header .breadcrumb a.logo .icon {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:url(../images/sprite.png) 0px -150px no-repeat;
  }

.header .actions {
  float:right;
  position:relative;
  padding:5px;
  height:20px;
  }

.header .actions > * {
  float:left;
  margin-right:2px;
  }

.button.dropdown {
  width:80px;
  position:relative;
  }

.button.dropdown:active,
.button.dropdown.active { border-radius:3px 3px 0px 0px; }

.dropdown .menu {
  display:none;
  position:absolute;
  top:17px;
  left:-1px;
  width:78px;
  padding:3px 0px 0px;
  z-index:2;
  background-color:#7c7c7c;
  border:1px solid #666;
  border-top:0px;
  border-radius:0px 0px 3px 3px;
  }

.dropdown:active .menu,
.dropdown.active .menu { display:block; }

.dropdown .menu a {
  display:block;
  padding:0px 10px;
  color:#fff;
  }

/**
 * Projects
 */
.projects form {
  text-align:right;
  }

.projects ul {
  margin:20px;
  /* Fixes a variety of spacing problems when using `inline-block` */
  font:0px/0px;
  text-align:center;
  }

.projects li {
  background:#ddd;
  font:13px/20px;
  display:inline-block;
  text-align:left;
  width:238px;
  height:238px;
  border:1px solid #ccc;
  margin:0px 5px 10px;
  position:relative;
  overflow:hidden;
  box-shadow:rgba(0,0,0,.1) 0px 1px 3px;
  }

.thumb {
  width:238px;
  height:238px;
  font-weight:bold;
  display:block;
  background:#fff url(../images/bg.png);
  position:relative;
  }

.thumb .thumb-layer {
  background-position:50% 50%;
  background-repeat:no-repeat;
  }

.thumb .thumb-name {
  background:rgba(255,255,255,.9);
  padding:5px 10px;
  min-height:20px;
  overflow:hidden;
  }

.thumb .icon {
  position:absolute;
  right:5px;
  top:5px;
  }

/**
 * Project
 */
.project .map {
  border-right:1px solid #ccc;
  background:#fff url(../images/bg.png) 100% 0%;
  z-index:1;
  transition:width .25s;
  -moz-transition:width .25s;
  -webkit-transition:width .25s;
  }

.project .map,
.project .editor {
  top:50px;
  width:50% !important;
  }

.project .wax-fullscreen-map {
  border-right:0px !important;
  width:100% !important;
  }

.project .layers {
  position:absolute;
  left:0px;
  bottom:20px;
  z-index:1;
  transition:left: .25s;
  -moz-transition:left .25s;
  -webkit-transition:left .25s;
  }

.project .wax-fullscreen-map + .layers { left:-400px; }

.project .layers .button {
  float:left;
  clear:left;
  margin:10px;
  }

.project .layers li {
  float:left;
  clear:left;
  padding:3px 20px 3px;
  margin:0px 0px 2px;
  font-weight:bold;
  border:1px solid #ccc;
  border-left:0px;
  border-radius:0px 3px 3px 0px;
  box-shadow:rgba(0,0,0,.1) 0px 1px 3px;
  background:rgba(255,255,255,.9);
  }

.project .layers li { padding:3px 70px 3px 30px; }

.project .layers li .icon { background-color:transparent; }

.project .layers li {
  min-width:60px;
  max-width:240px;
  }

li { position:relative; }

li .handle {
  width:20px;
  padding:3px;
  }

li .actions {
  display:none;
  width:60px;
  padding:3px;
  }

li .handle .icon,
li .actions .icon { float:left; }
li:hover .actions { display:block; }

/**
 * Map controls
 */
.wax-fullscreen,
.map .zoomin,
.map .zoomout {
  position:absolute;
  right:20px;
  bottom:20px;
  z-index:10;
  width:30px !important;
  height:30px !important;
  display:block;
  text-indent:-9999px;
  overflow:hidden;
  background:rgba(64,64,64,.9) url(../images/sprite.png) 30px 30px no-repeat;
  border-radius:5px;
  box-shadow:rgba(0,0,0,.1) 0px 1px 2px;
  }

.wax-fullscreen:active,
.map .zoomin:active,
.map .zoomout:active { background-color:rgba(32,32,32,.9); }

.map .zoomin {
  background-position:0px -240px;
  border-radius:5px 0px 0px 5px;
  right:90px;
  }

.map .zoomout {
  border-left:1px solid #444;
  background-position:-30px -240px;
  border-radius:0px 5px 5px 0px;
  right:60px;
  }

.wax-fullscreen { background-position:-60px -240px; }

.palette {
  position:relative;
  height:20px;
  overflow:hidden;
  margin:20px;
  }

.palette .colors {
  position:absolute;
  left:0px;
  top:0px;
  right:80px;
  }

.palette .ref {
  position:absolute;
  right:0px;
  top:0px;
  }

.swatch {
  background:url(../images/sprite.png) -20px -220px no-repeat;
  width:20px;
  height:20px;
  display:inline-block;
  position:relative;
  }

.swatch .color {
  background:#fff url(../images/sprite.png) 0px -220px no-repeat;
  display:block;
  width:20px;
  height:20px;
  }


/**
 * Tabs
 */
.tabs {
  float:left;
  position:relative;
  overflow:hidden;
  margin:0px;
  padding:0px 0px 0px 20px;
  height:30px;
  }

.tabs li {
  font-weight:bold;
  float:left;

  border:1px solid #ccc;
  border-bottom:0px;
  border-radius:3px 3px 0px 0px;
  box-shadow:rgba(0,0,0,.1) 0px 1px 2px;

  padding:4px 29px 5px 9px;
  margin:0px 2px 0px 0px;
  background:#f4f4f4;
  color:#888;
  }

.tabs li.active {
  background:#fff;
  color:#222;
  z-index:1;
  }

.tabs + a.add { margin:0px 10px 0px; }

.code {
  overflow:auto;
  top:89px;
  z-index:1;
  background:#fff;
  border-top:1px solid #ccc;
  box-shadow:rgba(0,0,0,.1) 0px 0px 3px;
  }

.dummy { height:1200px; }

/**
 * Icons
 */
.icon {
  display:block;
  padding:0px;
  width:20px;
  height:20px;
  text-indent:-9999px;
  background:transparent url(../images/sprite.png) 20px 20px no-repeat;
  }

a:hover .icon,
li:hover .icon { display:block; }

.button .icon,
.button:hover .icon {
  float:left;
  display:block;
  margin:-1px -5px;
  background-color:transparent;
  }

.button .icon.right,
.button:hover .icon.right {
  float:right;
  margin:-1px -10px -1px 0px;
  }

.icon.edit           { background-position:0px -180px; }
.icon.inspect        { background-position:-20px -180px; }
.icon.delete         { background-position:-60px -180px; }
.icon.color-picker   { background-position:-40px -180px; }
.icon.close          { background-position:-80px -180px; }
.icon.fonts          { background-position:-100px -180px; }
.icon.map-legend     { background-position:-280px -180px; }
.icon.prev           { background-position:-140px -180px; }
.icon.next           { background-position:-160px -180px; }
.icon.add            { background-position:-180px -180px; }
.icon.plus           { background-position:-180px -180px; }
.icon.export         { background-position:-320px -180px; }
.icon.reference      { background-position:-320px -180px;}
.icon.dropdown       { background-position:-300px -180px; }
.icon.settings       { background-position:-260px -180px; }
.icon.assets         { background-position:-340px -180px;}
.icon.minus          { background-position:-380px -180px; }
.icon.geometry-linestring { background-position:-200px -180px; }
.icon.geometry-point      { background-position:-220px -180px; }
.icon.geometry-polygon    { background-position:-240px -180px; }
.icon.geometry-raster     { background-position:-360px -180px; }

.reverse { background-color:#888; }
.reverse:hover { background-color:#666; }
.reverse:active { background-color:#444; }
.reverse.edit           { background-position:0px -200px; }
.reverse.inspect        { background-position:-20px -200px; }
.reverse.delete         { background-position:-60px -200px; }
.reverse.color-picker   { background-position:-40px -200px; }
.reverse.close          { background-position:-80px -200px; }
.reverse.fonts          { background-position:-100px -200px; }
.reverse.map-legend     { background-position:-280px -200px; }
.reverse.prev           { background-position:-140px -200px; }
.reverse.next           { background-position:-160px -200px; }
.reverse.add            { background-position:-180px -200px; }
.reverse.plus           { background-position:-180px -200px; }
.reverse.export         { background-position:-320px -200px; }
.reverse.reference      { background-position: -320px -200px;}
.reverse.dropdown       { background-position:-300px -200px; }
.reverse.settings       { background-position:-260px -200px; }
.reverse.assets         { background-position:-340px -200px;}
.reverse.minus          { background-position:-380px -200px; }
.reverse.geometry-linestring { background-position:-200px -200px; }
.reverse.geometry-point      { background-position:-220px -200px; }
.reverse.geometry-polygon    { background-position:-240px -200px; }
.reverse.geometry-raster     { background-position:-360px -200px; }

/**
 * Form elements
 */
select,
input.text,
textarea {
  line-height:18px;
  height:20px;
  background:#f8f8f8;
  border:1px solid #ccc;
  border-color:#ccc #ddd #ddd;
  padding:0px 2px;
  box-shadow:inset #ddd 0px 2px 3px;
  -moz-box-shadow:inset #ddd 0px 2px 3px;
  -webkit-box-shadow:inset #ddd 0px 2px 3px;
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  }

textarea {
  height:auto;
  resize:none;
  }

.button,
input.submit {
  font-size:11px;
  border:1px solid #5ab;
  line-height:20px;
  height:20px;
  cursor:pointer;
  padding:0px 10px;
  background:#74bccc url(../images/sprite.png) 0px -130px no-repeat;
  color:#fff;
  border-radius:3px;
  box-sizing:border-box;
  }

.button { display:inline-block; }

.button:hover,
input.submit:hover { background-color:#8cd; }

.button:active,
input.submit:active {
  background-color:#888;
  border-color:#666;
  background-position:0px -110px;
  box-shadow:inset #999 0px -1px 0px;
  }

