@font-face {
  font-family:Droid;
  src:url('../fonts/DroidSans.ttf');
  }

input,
select,
textarea,
body { font-family:Droid,'Lucida Grande',sans-serif; }

body {
  background:#eee url(../images/top.png) 50% 0% no-repeat;
  color:#222;
  }

.loading { position:relative; }

.loading:after {
  content:'.';
  text-indent:-9999px;
  overflow:hidden;
  background:rgba(255,255,255,.75); /* @TODO spinner */
  }

.loading:after,
.fill,
.fill-s,
.fill-n,
.fill-w,
.fill-e {
  position:absolute;
  left:0px;
  top:0px;
  bottom:0px;
  right:0px;
  display:block;
  }

.fill-s { top:auto; }
.fill-n { bottom:auto; }
.fill-w { right:auto; }
.fill-e { left:auto; }

a {
  color:#222;
  text-decoration:none;
  }

.header {
  margin:10px 20px;
  padding:9px;
  position:relative;
  height:20px;
  background:#fff url(../images/sprite.png) 0px -450px repeat-x;
  border-radius:5px;
  border:1px solid #ccc;
  box-shadow:inset rgba(0,0,0,.1) 0px 1px 3px;
  }

.header .breadcrumb {
  position:absolute;
  left:0px;
  top:0px;
  height:38px;
  }

.header .breadcrumb a {
  background:url(../images/sprite.png) 100% -531px no-repeat;
  float:left;
  font-weight:bold;
  padding:9px 20px 9px 10px;
  height:20px;
  }

.header .breadcrumb a.logo { padding-left:35px; }

.header .breadcrumb a.logo .icon {
  position:absolute;
  left:4px;
  top:4px;
  width:30px;
  height:30px;
  background:url(../images/sprite.png) 0px -110px no-repeat;
  }

.header .actions {
  position:absolute;
  right:7px;
  top:9px;
  }

.header .actions > * {
  float:left;
  margin-right:2px;
  }

.button.dropdown {
  width:80px;
  position:relative;
  }

.button.dropdown:active,
.button.dropdown.active { border-radius:3px 3px 0px 0px; }

.dropdown .menu {
  display:none;
  position:absolute;
  top:17px;
  left:-1px;
  width:78px;
  padding:3px 0px 0px;
  z-index:2;
  background-color:#7c7c7c;
  border:1px solid #666;
  border-top:0px;
  border-radius:0px 0px 3px 3px;
  }

.dropdown:active .menu,
.dropdown.active .menu { display:block; }

.dropdown .menu a {
  display:block;
  padding:0px 10px;
  color:#fff;
  }

/**
 * Projects
 */
.projects form {
  width:470px;
  margin:10px auto;
  text-align:right;
  }

.projects ul {
  margin:10px;
  /* Fixes a variety of spacing problems when using `inline-block` */
  font:0px/0px;
  text-align:center;
  }

.projects li {
  background:#ddd;
  font:13px/20px;
  display:inline-block;
  text-align:left;
  width:238px;
  height:238px;
  border:1px solid #ccc;
  box-shadow:rgba(0,0,0,.1) 0px 1px 3px;
  margin:0px 5px 10px;
  position:relative;
  overflow:hidden;
  }

.thumb {
  width:238px;
  height:238px;
  font-weight:bold;
  display:block;
  background:#fff url(../images/bg.png);
  position:relative;
  }

.thumb .thumb-layer {
  background-position:50% 50%;
  background-repeat:no-repeat;
  }

.thumb .thumb-name {
  background:rgba(255,255,255,.9);
  padding:5px 10px;
  min-height:20px;
  overflow:hidden;
  }

.thumb .icon {
  position:absolute;
  right:5px;
  top:5px;
  }

/**
 * Project
 */
.project .map {
  border-right:1px solid #ccc;
  background:#fff url(../images/bg.png) 100% 0%;
  z-index:1;
  }

.project .map,
.project .editor { width:50%; }

.project .editor { background:#eee url(../images/top.png) 50% 0% no-repeat; }

.project .layers {
  position:absolute;
  left:0px;
  bottom:20px;
  z-index:1;
  }

.project .layers .button {
  float:left;
  clear:left;
  margin:10px;
  }

.project .layers li {
  float:left;
  clear:left;
  padding:3px 20px 3px;
  margin:0px 0px 2px;
  font-weight:bold;
  border:1px solid #ccc;
  border-left:0px;
  border-radius:0px 3px 3px 0px;
  box-shadow:rgba(0,0,0,.1) 0px 1px 3px;
  background:rgba(255,255,255,.9);
  }

.project .layers li { padding:3px 70px 3px 30px; }

.project .layers li .icon { background-color:transparent; }

.project .layers li {
  min-width:60px;
  max-width:240px;
  }

li { position:relative; }

li .handle {
  width:20px;
  padding:3px;
  }

li .actions {
  display:none;
  width:60px;
  padding:3px;
  }

li .handle .icon,
li .actions .icon { float:left; }
li:hover .actions { display:block; }

.editor .palette {
  height:29px;
  border-top:1px solid #ccc;
  z-index:1;
  }

.map .zoomer {
  position:absolute;
  left:10px;
  bottom:5px;
  z-index:1;
  }

.map .zoomin { left:30px; }

.tabs {
  float:left;
  position:relative;
  overflow:hidden;
  margin:-10px 0px;
  padding:10px 8px 0px 20px;
  height:30px;
  }

.tabs li {
  font-weight:bold;
  float:left;

  border:1px solid #ccc;
  border-bottom:0px;
  border-radius:3px 3px 0px 0px;
  box-shadow:rgba(0,0,0,.1) 0px 1px 3px;

  padding:4px 29px 5px 9px;
  margin:0px 2px 0px 0px;
  background:#eee;
  color:#888;
  }

.tabs li.active {
  background:#fff;
  color:#222;
  z-index:1;
  }

.code {
  top:89px;
  z-index:1;
  background:#fff;
  border-top:1px solid #ccc;
  box-shadow:rgba(0,0,0,.1) 0px 0px 3px;
  }

/**
 * Icons
 */
.file,
.icon,
.wax-tooltip .close,
a.wax-fullscreen,
a.zoomin,
a.zoomout {
  display:block;
  padding:0px;
  width:20px;
  height:20px;
  text-indent:-9999px;
  background:transparent url(../images/sprite.png) 20px 20px no-repeat;
  }

.file {
  background-color:transparent;
  background-position:-360px -180px;
  width:40px;
  height:40px;
  }

a:hover .icon,
li:hover .icon { display:block; }

.button .icon,
.button:hover .icon {
  float:left;
  display:block;
  margin:-1px -5px;
  background-color:transparent;
  }

.button .icon.right,
.button:hover .icon.right {
  float:right;
  margin:-1px -10px -1px 0px;
  }

.icon.edit           { background-position:0px 0px; }
.icon.inspect        { background-position:-20px 0px; }
.icon.delete         { background-position:-60px 0px; }
.icon.color-picker   { background-position:-40px 0px; }
.icon.close          { background-position:-80px 0px; }
.icon.values         { background-position:-100px 0px; }
.icon.map-legend     { background-position:-280px 0px; }
.icon.prev           { background-position:-140px 0px; }
.icon.next           { background-position:-160px 0px; }
.icon.add            { background-position:-180px 0px; }
.icon.plus           { background-position:-180px 0px; }
.icon.export         { background-position:-320px 0px; }
.icon.reference      { background-position:-320px 0px;}
.icon.dropdown       { background-position:-300px 0px; }
.icon.settings       { background-position:-260px 0px; }
.icon.assets         { background-position:-340px 0px;}
.icon.minus          { background-position:-380px 0px; }
.icon.geometry-linestring { background-position:-200px 0px; }
.icon.geometry-point      { background-position:-220px 0px; }
.icon.geometry-polygon    { background-position:-240px 0px; }
.icon.geometry-raster     { background-position:-360px 0px; }

.reverse { background-color:#888; }
.reverse:hover { background-color:#666; }
.reverse:active { background-color:#444; }
.reverse.edit           { background-position:0px -20px; }
.reverse.inspect        { background-position:-20px -20px; }
.reverse.delete         { background-position:-60px -20px; }
.reverse.color-picker   { background-position:-40px -20px; }
.reverse.close          { background-position:-80px -20px; }
.reverse.values         { background-position:-100px -20px; }
.reverse.map-legend     { background-position:-280px -20px; }
.reverse.prev           { background-position:-140px -20px; }
.reverse.next           { background-position:-160px -20px; }
.reverse.add            { background-position:-180px -20px; }
.reverse.plus           { background-position:-180px -20px; }
.reverse.export         { background-position:-320px -20px; }
.reverse.reference      { background-position: -320px -20px;}
.reverse.dropdown       { background-position:-300px -20px; }
.reverse.settings       { background-position:-260px -20px; }
.reverse.assets         { background-position:-340px -20px;}
.reverse.minus          { background-position:-380px -20px; }
.reverse.geometry-linestring { background-position:-200px -20px; }
.reverse.geometry-point      { background-position:-220px -20px; }
.reverse.geometry-polygon    { background-position:-240px -20px; }
.reverse.geometry-raster     { background-position:-360px -20px; }

/**
 * Form elements
 */
select,
input.text,
textarea {
  line-height:18px;
  height:20px;
  background:#f8f8f8;
  border:1px solid #ccc;
  border-color:#ccc #ddd #ddd;
  padding:0px 2px;
  box-shadow:inset #ddd 0px 2px 3px;
  -moz-box-shadow:inset #ddd 0px 2px 3px;
  -webkit-box-shadow:inset #ddd 0px 2px 3px;
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  }

textarea {
  height:auto;
  resize:none;
  }

.button,
input.submit {
  font-size:11px;
  border:1px solid #39b;
  line-height:20px;
  height:20px;
  cursor:pointer;
  padding:0px 10px;
  background:#4ac url(../images/sprite.png) 0px -510px no-repeat;
  color:#fff;
  border-radius:3px;
  box-sizing:border-box;
  }

.button { display:inline-block; }

.button:hover,
input.submit:hover {
  background-color:#5bd;
  }

.button:active,
input.submit:active {
  background-color:#888;
  border-color:#666;
  background-position:0px -490px;
  box-shadow:inset #999 0px -1px 0px;
  }

form { position:relative; }
form label { font-weight:bold; }
form .description { font-size:11px; }
form .required { color: #f30; }

ul.form > li {
  position:relative;
  padding:10px 10px 9px 150px;
  border-bottom:1px solid #ddd;
  }

ul.form > li > label {
  display:block;
  position:absolute;
  left:0px;
  top:0px;
  bottom:0px;

  border-right:1px solid #eee;
  padding:10px 9px 9px 10px;
  background:#f4f4f4;
  width:120px;
  text-align:right;
  }

ul.form > li input.text,
ul.form > li textarea { width:100%; }
ul.form > li input.inline {
  width:auto;
  margin-right:10px;
  }

ul.form ul.form > li {
  padding:9px 10px 10px;
  margin:0px -10px;
  border-top:1px solid #ddd;
  border-bottom:0px;
  }

ul.form ul.form > li > label {
  left:-140px;
  border:0px;
  background:transparent;
  }

ul.form label.inline {
  display:inline-block;
  position:static;
  text-align:left;
  width:70px;
  border:0px;
  padding:0px;
  background:transparent;
  }

.buttons {
  text-align:right;
  border:0px;
  padding:10px;
  }

.palette label,
.header label { color:#999; }

