---
layout: tilemill
section: tilemill
category: homepage
title: TileMill
class: fill-denim
description: Design beautiful maps
permalink: /
platforms:
- id: mac
  name: Mac OS X
  help: Extract this archive and drag<br />TileMill to your Applications folder.
  file: TileMill-0.10.1.zip
  size: 58.9 MB
  url: http://tilemill.s3.amazonaws.com/latest/TileMill-0.10.1.zip
- id: linux
  name: Ubuntu
  help: Extract this archive and double-click<br/>on <code>install-tilemill.sh</code>.
  file: install-tilemill.tar.gz
  size: 30 MB
  url: http://tilemill.s3.amazonaws.com/latest/install-tilemill.tar.gz
- id: windows
  name: Windows
  help: Double-click this installer to set up<br/> TileMill on your computer.
  file: TileMill-v0.10.1-Setup.exe
  size: 73.2 MB
  url: http://tilemill.s3.amazonaws.com/latest/TileMill-v0.10.1-Setup.exe
---

<div id='hero' class='clearfix dark'>
  <div class='pad4 col6 intro prose'>
    <h1>Make beautiful interactive maps</h1>
    <p>Whether you're a journalist, web designer, researcher,  or seasoned cartographer, TileMill is the design studio you need to create stunning interactive maps.</p>
  </div>
  <div class='col6 tilemill-screenshot'></div>
  <div class='download callout col6 pad4 fill-navy-dark'>
    <ul class='oslist clearfix'>
    {% for item in page.platforms %}
      <li id='{{item.id}}'><a href='#' class='button big'>{{item.name}}</a></li>
    {% endfor %}
    </ul>
    {% for item in page.platforms %}
    <a href='{{item.url}}' class='download-button clearfix {{item.id}}' title='{{item.name}}'>
      <div class='label col5 pad1'>
        <small>{{item.name}}</small>
        <h3 class='label-title'>Download</h3>
      </div>
      <div class='details col7 pad1'>
        <small class='filename'>{{item.file}}</small>
        <h3 class='label-title'>{{item.size}}</h3>
      </div>
      <div class='instructions'><small><span class='arrow'></span>{{item.help}}</small></div>
    </a>
    {% endfor %}

    <div class='mailchimp-subscribe col12 clearfix'>
      <div class='col6 prose'>
        <h3>Downloading&hellip;</h3>
        <small>While you wait, check out the <a href='{{site.baseurl}}/docs/crashcourse/introduction'>TileMill Crash course</a>.
        </small>
      </div>
      <div class='col6 prose'>
        <h3>Newsletter</h3>
        <small>For news &amp; updates subscribe now:</small>
        <!-- Begin MailChimp Signup Form -->
        <div id='mc-signup'>
          <form action='http://mapbox.us2.list-manage1.com/subscribe/post?u=1b29ad842d113cece02035883&amp;id=6cbe531fd0' method='post' id='mc-embedded-subscribe-form' name='mc-embedded-subscribe-form' class='validate' target='_blank'>
            <div class='mc-field-group clearfix'>
              <input type='hidden' value='1' name='group[7417][2]'>
              <div class='field-wrapper'><input type='text' value='' placeholder='Email Address' name='EMAIL' class='required email' id='mce-EMAIL'></div>
              <input type='submit' value='Subscribe' name='subscribe' id='mc-embedded-subscribe' class='button icon mail'>
            </div>
            <div id='mce-responses'>
              <div class='response' id='mce-error-response' style='display:none'></div>
              <div class='response' id='mce-success-response' style='display:none'></div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <small class='links'>
      <a href='{{site.baseurl}}/docs/upgrade/'>Upgrade notes</a> | <a href='{{site.baseurl}}/changelog/'>Changelog</a>  | <a href='{{site.baseurl}}/docs/install/'>More install details</a>
    </small>

  </div>
</div>

<div id='manage' class='fill-navy-dark dark'>
  <div class='heading center'>
    <h3 class='label-title'><span class='ico manage'>&nbsp;</span>Manage data</h3>
  </div>
  <div class='clearfix full single'>
    <div class='col6 pad4 fr prose'>
      <h2>Load data from a wide range of sources</h2>
      <p>Compatible datasources include ESRI Shapefile, KML, GeoJSON, GeoTIFF, PostGIS, CSV, and SQLite. Inspect, order, and layer your sources to build complex maps.</p>
      <a href='{{site.baseurl}}/docs/manual/interface-tour/'>Interface tour<span class='icon next blue'>&nbsp;</span></a>
    </div>
    <div class='col6 contain'>
      <div class='illustration sources'></div>
    </div>
  </div>
  <div class='clearfix full'>
    <div class='col6 pad4 contain'>
      <div class='illustration browse'></div>
      <div class='prose col6'>
        <h2>Browse public data</h2>
        <p>Access dozens of useful public datasources with the built-in MapBox Geodata browser.</p>
      </div>
    </div>
    <div class='col6 pad4 contain'>
      <div class='illustration raster'></div>
      <div class='prose col6'>
        <h2>Raster support</h2>
        <p>Show satellite data or map your DIY weather balloon aerial photography.</p>
      </div>
    </div>
  </div>
</div>

<div id='render' class='dark'>
  <div class='heading center'>
    <h3 class='label-title'><span class='ico render'>&nbsp;</span>Render + style</h3>
  </div>
  <div class='clearfix full single'>
    <div class='col6 pad4 fr prose'>
      <h2>State of the art rendering</h2>
      <p>At TileMill's core is Mapnik, a powerful, full-featured library including support for RGBA color, True Type fonts, rasters, patterns, and even SVG transforms.</p>
      <a href='{{site.baseurl}}/gallery/'>Map gallery<span class='icon next blue'>&nbsp;</span></a>
    </div>
    <div class='col6 contain'>
      <div class='illustration rendering'></div>
    </div>
  </div>
  <div class='clearfix full'>
    <div class='col6 pad4 contain'>
      <div class='illustration textures'></div>
      <div class='col6 prose'>
        <h2>Textures</h2>
        <p>With full alpha-channel support and the ability to add multiple layers and fills TileMill can create richly textured maps.</p>
      </div>
    </div>
    <div class='col6 pad4 contain'>
      <div class='illustration svg'></div>
      <div class='col6 prose'>
        <h2>SVG Markers</h2>
        <p>Resize and transform scalable vector SVG markers right in TileMill.</p>
      </div>
    </div>
  </div>
  <div class='clearfix full single'>
    <div class='col6 pad4 prose fr'>
      <h2>Style maps with Carto</h2>
      <p>Inspired by CSS, Carto gives you full control over design. Filters, variables, and functions are at your fingertips in the code editor.</p>
      <a href='{{site.baseurl}}/docs/manual/carto/'>Carto guide<span class='icon next blue'>&nbsp;</span></a>
    </div>
    <div class='col6 illo-container contain'>
      <div class='illustration carto'></div>
    </div>
  </div>
</div>

<div id='enrich' class='fill-navy-dark dark'>
  <div class='heading center'>
    <h3 class='label-title'><span class='ico enrich'>&nbsp;</span>Enrich</h3>
  </div>
  <div class='clearfix full'>
    <div class='col6 pad4 contain'>
      <div class='illustration interaction'></div>
      <div class='col6 prose'>
        <h2>Add interaction</h2>
        <p>Create hover tooltips and clickable pop ups with UTF-8 grid technology.</p>
        <a href='{{site.baseurl}}/docs/crashcourse/tooltips/'>Tooltips and legends in TileMill<span class='icon next blue'>&nbsp;</span></a>
      </div>
    </div>
    <div class='col6 pad4 contain'>
      <div class='illustration embed'></div>
      <div class='col6 prose'>
        <h2>Embed graphics or images</h2>
        <p>Insert interactive graphs, images, links, and other content into your maps.</p>
        <a href='{{site.baseurl}}/docs/tutorials/google-charts/'>Charts in TileMill<span class='icon next blue'>&nbsp;</span></a>
      </div>
    </div>
  </div>
</div>

<div id='share' class='dark'>
  <div class='heading center'>
    <h3 class='label-title'><span class='ico share'>&nbsp;</span>Share</h3>
  </div>
  <div class='clearfix full'>
    <div class='col6 pad4 contain'>
      <div class='illustration publish'></div>
      <div class='col6 prose'>
        <h2>Publish to the web and mobile</h2>
        <p>Export to the MBTiles format and every map you make in TileMill is desktop and mobile ready.</p>
      </div>
    </div>
    <div class='col6 pad4 contain'>
      <div class='illustration mapbox'></div>
      <div class='col6 prose'>
        <h2>Integrate with MapBox</h2>
        <p>It's just one click to automatically render and upload maps to your MapBox account.</p>
        <a href='http://mapbox.com/'>About MapBox<span class='icon next blue'>&nbsp;</span></a>
      </div>
    </div>
  </div>
</div>

<div id='open-source' class='dark'>
  <div class='clearfix full single fill-navy-dark'>
    <div class='col6 pad4 fr prose'>
      <h2>Powered by Open Source</h2>
      <p>TileMill is built on a suite of open source libraries including <a href='http://mapnik.org'>Mapnik</a>, <a href='http://nodejs.org'>node.js</a>, <a href='http://documentcloud.github.com/backbone'>backbone.js</a>, <a href='http://expressjs.com'>express</a> and <a href='http://codemirror.net'>CodeMirror</a>. Visit <a href='http://github.com'>GitHub</a> and dig into the source code.</p>
      <a href='http://github.com/mapbox/tilemill' class='button icon github'>Fork me on GitHub</a>
    </div>
    <div class='col6 illo-container contain'>
      <div class='illustration github'></div>
    </div>
  </div>
</div>

<div class='clearfix footer-actions fill-navy-dark dark'>
  <h1 class='pad4 center'>Download now</h1>
    <div class='download callout margin3 col6 pad4'>
    <ul class='oslist clearfix'>
    {% for item in page.platforms %}
      <li id='{{item.id}}'><a href='#' class='button big'>{{item.name}}</a></li>
    {% endfor %}
    </ul>
    {% for item in page.platforms %}
    <a href='{{item.url}}' class='download-button clearfix {{item.id}}' title='{{item.name}}'>
      <div class='label col5 pad1'>
        <small>{{item.name}}</small>
        <h3 class='label-title'>Download</h3>
      </div>
      <div class='details col7 pad1'>
        <small class='filename'>{{item.file}}</small>
        <h3 class='label-title'>{{item.size}}</h3>
      </div>
      <div class='instructions'><small><span class='arrow'>&nbsp;</span>{{item.help}}</small></div>
    </a>
    {% endfor %}

    <div class='mailchimp-subscribe col12 clearfix'>
      <div class='col6'>
        <h3>Downloading&hellip;</h3>
        <small>While you wait, check out the <a href='{{site.baseurl}}/docs/crashcourse/introduction'>TileMill Crash course</a>.
        </small>
      </div>
      <div class='col6'>
        <h3>Newsletter</h3>
        <small>For news &amp; updates subscribe now:</small>
        <!-- Begin MailChimp Signup Form -->
        <div id='mc-signup'>
          <form action='http://mapbox.us2.list-manage1.com/subscribe/post?u=1b29ad842d113cece02035883&amp;id=6cbe531fd0' method='post' id='mc-embedded-subscribe-form' name='mc-embedded-subscribe-form' class='validate' target='_blank'>
            <div class='mc-field-group clearfix'>
              <input type='hidden' value='1' name='group[7417][2]'>
              <div class='field-wrapper'><input type='text' value='' placeholder='Email Address' name='EMAIL' class='required email' id='mce-EMAIL'></div>
              <input type='submit' value='Subscribe' name='subscribe' id='mc-embedded-subscribe' class='button icon mail'><span class='reverse mail'></span>
            </div>
          </form>
        </div>
      </div>
    </div>

    <small class='links'>
      <a href='{{site.baseurl}}/docs/upgrade/'>Upgrade notes</a> | <a href='{{site.baseurl}}/changelog/'>Changelog</a>  | <a href='{{site.baseurl}}/docs/install/'>More install details</a>
    </small>
  </div>
</div>

<script>

$('.download').addClass((function() {
  if (navigator.appVersion.indexOf('Win') != -1) return 'windows';
  if (navigator.appVersion.indexOf('Mac') != -1) return 'mac';
  if (navigator.appVersion.indexOf('X11') != -1 || navigator.appVersion.indexOf('Linux') != -1) return 'linux';
  return 'mac'; // default to Mac.
})());

$('.oslist li#mac a').click(function() {
    $('.download').addClass('mac').removeClass('windows').removeClass('linux');
    return false;
  });

$('.oslist li#windows a').click(function() {
    $('.download').addClass('windows').removeClass('mac').removeClass('linux');
    return false;
  });

$('.oslist li#linux a').click(function() {
    $('.download').addClass('linux').removeClass('windows').removeClass('mac');
    return false;
  });

  $('.download-button').click(function(ev) {
    var _gaq = _gaq || [];
    _gaq.push([
      '_trackEvent',
      'TileMill Download',
      $(ev.currentTarget).attr('title')
    ]);
    $('.download').addClass('subscribe');
  });
</script>
