<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/> 
    <title>{{ escape(handler.settings["tilemill_title"]) }}</title>
    <link rel="stylesheet" href="{{ static_url("blog.css") }}" type="text/css"/>
    {% block head %}{% end %}
  </head>
  <body>
    <div id="body">
      <div id="header">
        <h1><a href="/">{{ escape(handler.settings["tilemill_title"]) }}</a></h1>
      </div>
      <div id="content">{% block body %}{% end %}</div>
    </div>
    {% block bottom %}{% end %}
  </body>
</html>
