<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>{{ escape(handler.settings["tilemill_title"]) }}</title>
    <link rel="stylesheet" href="{{ static_url("css/blog.css") }}" type="text/css"/>
    {% block head %}{% end %}
  </head>
  <body>
    <div id="body">
      <div id="header">
        <h1><a href="/">{{ escape(handler.settings["tilemill_title"]) }}</a></h1>
      </div>
      {% if messages %}
      <div id="messages">
        <ul>
        {% for message in messages %}
          <li>{{ escape(message) }}</li>
        {% end %}
        <ul>
      </div>
      {% end %}
      <div id="content">
        {% block body %}
        <ul>
            {% for project in projects %}
            <li><a href="/projects/edit?id={{ url_escape(project) }}">{{ escape(project) }}</a></li>
            {% end %}
            <li>
              <form action="/projects/new" method="post">
                <input type="text" name="name" />
                <input type="submit" value="Add project" />
              </form>
            </li>
        </ul>
        {% end %}
      </div>
    </div>
    {% block bottom %}{% end %}
  </body>
</html>
