<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns='http://www.w3.org/1999/xhtml'>
  <head>
    <meta http-equiv='Content-Type' content='text/html; charset=UTF-8'/>
    <title>{{ escape(handler.settings['tilemill_title']) }}</title>
    <link rel='stylesheet' href='{{ static_url('css/reset.css') }}' type='text/css'/>
    <link rel='stylesheet' href='{{ static_url('css/tilemill.css') }}' type='text/css'/>
    <script type="text/javascript" src="{{ static_url('js/jquery.js') }}" />
    <script type="text/javascript" src="{{ static_url('js/jquery-ui.js') }}" />
    <script type="text/javascript">
      var mml = {{ mml }};
    </script>
  </head>
  <body class='project'>
    <div id='header' class='clearfix pane'>
      <h1>Editing {{ escape(project_id) }}</h1>
      <a class='info' href='#project-info'>Info</a>
      <a class='save' href='#project-save'>Save</a>
      <a class='home' href='/'>Back home</a>
    </div>
    <div id='layers-wrapper'>
      <div id='layers-header' class='clearfix pane'>
        <h2>Layers</h2>
        <a href="#layers-add">+ Add</a>
      </div>
      <div id='layers'>
        <ul>
          <li>
            <input type="checkbox" />
            <span>.natural</span>
            <a href="#">Edit</a>
            <a href="#">Inspect</a>
          </li>
          <li>
            <input type="checkbox" />
            <span>.water</span>
            <a href="#">Edit</a>
            <a href="#">Inspect</a>
          </li>
          <li>
            <input type="checkbox" />
            <span>.border .district</span>
            <a href="#">Edit</a>
            <a href="#">Inspect</a>
          </li>
          <li>
            <input type="checkbox" />
            <span>.road .outline</span>
            <a href="#">Edit</a>
            <a href="#">Inspect</a>
          </li>
        </ul>
      </div>
    </div>
    <div id='map-preview'>
    </div>
    <div id='editor'>
      <div id='code'>
      </div>
      <div id="color-palette" class='pane'>
        <div id='color-picker'>
          <a href='#color-picker'>Color picker</a>
          <div class='color-picker'></div>
        </div>
        <div id='colors'>
          <label>Colors</label>
          <span class='swatch' style="background-color: #ff0000">#ff0000</span>
          <span class='swatch' style="background-color: #cccccc">#cccccc</span>
          <span class='swatch' style="background-color: #ff00ff">#ff00ff</span>
          <span class='swatch' style="background-color: #00ff00">#00ff00</span>
          <span class='swatch' style="background-color: #0000ff">#0000ff</span>
        </div>
      </div>
    </div>
  </body>
</html>
