<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns='http://www.w3.org/1999/xhtml'>
  <head>
    <meta http-equiv='Content-Type' content='text/html; charset=UTF-8'/>
    <title>{{ escape(handler.settings['tilemill_title']) }}</title>
    <link rel='stylesheet' href='{{ static_url('css/reset.css') }}' type='text/css'/>
    <link rel='stylesheet' href='{{ static_url('css/tilemill.css') }}' type='text/css'/>
    <script type="text/javascript" src="{{ static_url('js/jquery.js') }}"></script>
    <script type="text/javascript" src="{{ static_url('js/jquery-ui.js') }}"></script>
    <script type="text/javascript" src="{{ static_url('js/jquery.url.js') }}"></script>
    <script type="text/javascript" src="{{ static_url('js/openlayers/OpenLayers.js') }}"></script>
    <script type="text/javascript" src="{{ static_url('js/farbtastic.js') }}"></script>
    <script type="text/javascript" src="{{ static_url('js/codemirror/js/codemirror.js') }}"></script>
    <script type="text/javascript" src="{{ static_url('js/base64.js') }}"></script>
    <script type="text/javascript" src="{{ static_url('js/editor.js') }}"></script>
    <script type="text/javascript" src="{{ static_url('js/code.js') }}"></script>
    <script type="text/javascript" src="{{ static_url('js/inspector.js') }}"></script>
    <script type="text/javascript" src="{{ static_url('js/mml.js') }}"></script>
    <script type="text/javascript" src="{{ static_url('js/stylesheet.js') }}"></script>
    <script type="text/javascript" src="{{ static_url('js/color.js') }}"></script>
    <script type="text/javascript" src="{{ static_url('js/map.js') }}"></script>
    <script type="text/javascript" src="{{ static_url('js/popup.js') }}"></script>
    <script type="text/javascript">
      $.extend(TileMill.settings, {
        mml: {{ mml }},
        project_id: '{{ project_id }}',
        tilelive: '{{ tilelive }}',
        server: '{{ url }}',
      });
    </script>
  </head>
  <body class='project'>
    <div id='header' class='clearfix pane'>
      <h1>Editing {{ escape(project_id) }}</h1>
      <a class='info' href='#project-info'>Info</a>
      <a class='save' href='#project-save'>Save</a>
      <a class='home' href='/'>Back home</a>
    </div>
    <div id='sidebar'>
      <div id='layers'>
        <div class='sidebar-header clearfix pane'>
          <h2>Layers</h2>
          <a href="#layers-add" id="layers-add">+ Add</a>
        </div>
        <ul class='sidebar-content'>
        </ul>
      </div>
      <div id='inspector' class='hidden'>
        <div class='sidebar-header clearfix pane'>
          <h2>[layer_name]</h2>
          <a class='inspector-close' href="#">Close</a>
        </div>
        <ul class='sidebar-content'>
        </ul>
      </div>
    </div>
    <div id='map-preview'>
      <a class="map-fullscreen" href="#map-fullscreen">Fullscreen</a>
      <h4 id='zoom-display'>Zoom level ?</h4>
    </div>
    <div id='tabs'>
      <div class='stylesheets'></div>
      <a class='tab-add' href='#'>Add MSS</a>
    </div>
    <div id='editor'>
      <textarea id='code'></textarea>
      <div id="color-palette" class='pane'>
        <div id='color-picker' class='pane'>
          <a class='color-picker' href='#color-picker'>Color picker</a>
          <input size='7' maxlength='7' id='color' type='text' class='text' />
          <div class='pane' id='farbtastic'></div>
        </div>
        <div id='colors'>
          <label>Colors</label>
          <div></div>
        </div>
      </div>
    </div>
    <div id='popups' class='hidden'>
      <div id='popup-layer' class='clearfix pane'>
        <form>
          <div><label for="classes">Classes</label><input type="text" class="text" id="classes"></div>
          <div><label for="id">Id</label><input type="text" class="text" id="id"></div>
          <div><label for="dataSource">Data Source</label><input type="text" class="text" id="dataSource"></div>
          <div>
            <label for="srs">SRS</label>
            <select id="srs">
              <option value="900913">900913</option>
              <option value="WGS84">WGS84</option>
            </select>
          </div>
          <div class='buttons'><input class='submit' type='submit' value='Add layer' /></div>
        </form>
      </div>
      <div id='popup-info' class='clearfix pane'>
        <form>
          <div><label for='tilelive-url'>TileLive URL</label><input id='tilelive-url' class='text' type='text' /></div>
          <div><label for='project-mml-url'>MML URL</label><input id='project-mml-url' class='text' type='text' /></div>
        </form>
      </div>
      <div id='popup-stylesheet' class='clearfix pane'>
        <form>
          <div><label for='stylesheet-name'>Name</label><input id='stylesheet-name' class='text' type='text' /></div>
          <div class='buttons'><input class='submit' type='submit' value='Add stylesheet' /></div>
        </form>
      </div>
    </div>
  </body>
</html>
