a.button,
input[type='submit'],
input[type='button'] { margin:0px; }

.content { width:960px; }
.content .col,
.content .col-1,
.content .col-2,
.content .col-3 {
  float:left;
  width:200px;
  margin-right:40px;
  }
.content .col-2 { width:440px; }
.content .col-3 { width:680px; }
.content .col-4 { width:920px; }

.content .image {
  padding-right:120px;
  background:100% 20px no-repeat;
  }

.content .wrapper-2,
.content .wrapper-3 { float:left; }
.content .wrapper-2 { width:480px; }
.content .wrapper-3 { width:720px; }
.content .wrapper-4 { width:960px; }

.content .reverse {
  padding:30px 40px;
  border-radius:5px;
  background:#666;
  color:#fff;
  }

.content .reverse em,
body.reverse big em {
  font-style:normal;
  color:#ade;
  }

.content hr {
  clear:both;
  display:block;
  margin:20px 0px 39px;
  border:0px;
  height:1px;
  background:#ccc;
  }

.content h1 { font-size:40px; line-height:50px; }
.content h2 { font-size:20px; }
.content h2,
.content h3,
.content h4,
.content h5,
.content h6 { font-weight:bold; }

.prose h1,
.prose h2,
.prose h3,
.prose h4,
.prose h5,
.prose h6,
.prose p,
.prose ul,
.prose ol,
.prose img,
.prose blockquote,
.prose pre,
.prose iframe,
.prose object,
.prose .ts-map {
  display:block;
  margin:0px 0px 20px;
  }

/* Block quotes */
.prose blockquote {
  font-style:italic;
  padding:0px 0px 0px 20px;
  color:#888;
  }
  .prose blockquote em { font-style:normal; }

.prose blockquote a { color:#666; }
.prose table { margin:0px 0px 20px; }

.prose li { margin-left:30px; }
.prose ul li { list-style:disc; }
.prose ol li { list-style:decimal; }

.prose table { width:100%; }
.prose table th,
.prose table td {
  width:50%;
  border-bottom:1px solid #eee;
  padding:5px 20px 4px 0px;
  text-align:left;
  }

.prose img { max-width:100%; }

/* doc page prerequisites */
.prose .note,
.prose .docbox {
  padding:9px 14px;
  border:1px solid #ddd;
  border-radius:5px;
  background:#f4f4f4;
  margin:0px 0px 20px;
  }
.prose .note *,
.prose .docbox ul { margin:0px; }

.prose .note {
  color:#222;
  background:#fec;
  border-color:#edb;
  }

/* Special sauce */
pre {
  overflow:auto;
  padding:0px 20px;
  transition:background-color .2s, color .2s;
  -moz-transition:background-color .2s, color .2s;
  -webkit-transition:background-color .2s, color .2s;
  }

pre:hover {
  background-color:#eee;
  color:#444;
  }
pre::-webkit-scrollbar {
  height:8px;
  width:8px;
  background:#fff;
  border-radius:2px;
  }
pre::-webkit-scrollbar-thumb {
  border-radius:2px;
  background:#fff;
  }
pre::-webkit-scrollbar-thumb:vertical { height:25px; }
pre::-webkit-scrollbar-thumb:horizontal { width:25px; }
pre:hover::-webkit-scrollbar { background:#eee; }
pre:hover::-webkit-scrollbar-thumb { background:#666; }

/* ### Book nav ### */
.book {
  background:#f4f4f4;
  float:right;
  width:198px;
  border:1px solid #ccc;
  margin-right:40px;
  border-radius:5px;
  }
  .book h3 {
    padding:9px 9px 9px 14px;
    border-bottom:1px solid #ddd;
    }

.book a.category { color:#444; }

.book li a {
  display:block;
  position:relative;
  background:#fff;
  padding:10px 9px 9px 14px;
  border-bottom:1px solid #eee;
  transition:all 200ms;
  -moz-transition:all 200ms;
  -webkit-transition:all 200ms;
  }

.book li a:hover { background:#d0e8f0; }
.book li:first-child a { border-radius:5px 5px 0px 0px; }
.book h3 + ul li:first-child a { border-radius:0px; }
.book li:last-child a { border-radius:0px 0px 5px 5px; }
.book li a.active {
  background:#59a;
  color:#fff;
  margin:-1px -1px 0px;
  border:1px solid #489;
  }

.book a.active small { color:#ade; }

.book a.active .icon {
  display:block;
  width:20px;
  height:20px;
  position:absolute;
  left:5px;
  top:5px;
  background:url(sprite.png) -100px -160px no-repeat;
  }
.book li.tag a {
  color:#888;
  background:transparent url(sprite.png) -375px -110px no-repeat;
  padding-left:29px;
  border-bottom:1px solid #ddd;
  }
.book li.tag a.expanded {
  color:#444;
  background-color:#fff;
  border-bottom:1px solid #f4f4f4;
  }
.book li.tagged a {
  padding-top:0px;
  padding-bottom:0px;
  margin:0px;
  height:0px;
  border-width:0px;
  font-size:12px;
  overflow:hidden;
  }
.book li.expanded a {
  padding-top:5px;
  padding-bottom:4px;
  border-bottom:1px solid #f4f4f4;
  height:20px;
  }
.book li.expanded a.active {
  border:1px solid #489;
  margin:-1px -1px 0px;
  }

.book-page {
  margin-right:-20px;
  background:#fff;
  padding:19px;
  border:1px solid #ccc;
  border-radius:5px;
  }

/* ### Pager ### */
.pager a {
  position:fixed;
  top:50%;
  margin-top:-30px;
  width:20px;
  height:20px;
  padding:20px 5px;
  display:block;
  text-align:center;
  background:#d0e8f0;
  color:#fff;
  transition:background-color .25s;
  -moz-transition:background-color .25s;
  -webkit-transition:background-color .25s;
  }
  .pager a.prev {
    left:0px;
    border-radius:0px 5px 5px 0px;
    }
  .pager a.next {
    right:0px;
    border-radius:5px 0px 0px 5px;
    }
    .pager a:hover { background-color:#d22; }

  .pager .icon {
    display:block;
    width:20px;
    height:20px;
    overflow:hidden;
    text-indent:-9999px;
    background:url(sprite.png) -260px 0px no-repeat;
    }
    .pager .next .icon { background-position:-280px 0px; }

/* ### Forms ### */
input[type=text] {
  background:#fff;
  border:1px solid #ccc;
  padding:5px;
  height:30px;
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  }

form .message { height:20px; }
form .error { color:#c22; }

form input[type=submit] { margin:0px 10px; }

form > div { margin:0px 0px 20px; }

/* ### TileMill download & hosting action links ### */

.actions {
  clear:both;
  height:50px;
  }

.actions.tour {
  background:#f4f4f4;
  border-radius:5px;
  padding:9px;
  border:1px solid #ccc;
  }
.actions h3,
.actions .label {
  float:left;
  height:40px;
  padding:5px 10px;
  }
.actions h3 { line-height:40px; }

.github a {
  display: inline-block;
  }

.actions a {
  float:right;
  margin-left:10px;
  padding:4px 59px 4px 14px;
  border:1px solid #ddd;
  background:#fff;
  position:relative;
  white-space:nowrap;
  transition:all 250ms;
  -moz-transition:all 250ms;
  -webkit-transition:all 250ms;
  border-radius:5px;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  max-width: 150px;
  }
  .github a:hover,
  .actions a:hover {
    color:#444;
    border-color:#444;
    }
.actions .icon {
  position:absolute;
  right:4px;
  top:4px;
  display:block;
  width:40px;
  height:40px;
  text-indent:-999em;
  background:url(sprite.png) 40px 40px no-repeat;
  }
  .actions .icon.download { background-position:0px -110px; }
  .actions .icon.signup   { background-position:-40px -110px; }
  .actions .icon.hosting  { background-position:-80px -110px; }
  .actions .icon.tour     { background-position:-120px -110px; }
  .actions .icon.github   { background-position:-160px -110px; }

.col-1 .book { float:none; margin:0px; }
.col-1 .actions { height:auto; }
.col-1 .actions a { float:none; display:block; margin:10px 0px; background:#f4f4f4; }
/* ### Error page ### */
.error-page {
  width:480px;
  padding:19px;
  background:#eee;
  border:1px solid #ddd;
  margin:40px auto;
  border-radius:5px;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  }

.error-page img { display:block; margin:0px auto 20px; }

/* ### Reverse ### */

body.reverse .wrapper {
  color:#fff;
  background:#444;
  }

body.reverse .branding {
  box-shadow:#222 0px 0px 20px;
  -moz-box-shadow:#222 0px 0px 20px;
  -webkit-box-shadow:#222 0px 0px 20px;
  }

body.reverse .title { border:0px; padding:40px 0px 20px; }

.premium .button,
body.reverse .button,
body.reverse .button:hover { border-color:#666; }

body.reverse .disabled input[type="submit"],
body.reverse .disabled input[type="button"],
body.reverse .disabled input[type="submit"]:hover,
body.reverse .disabled input[type="button"]:hover,
body.reverse .disabled input[type="submit"]:active,
body.reverse .disabled input[type="button"]:active { background:#444; color:#888; }

body.reverse hr { background-color:#666; }
body.reverse li.hr { border-color:#666; }


/* Structural Layout Styling */
.subsection {
  background: #F4F4F4;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  margin-bottom: 20px;
  }

/* Blog: Mainpage */

small.date {
  text-transform: uppercase;
  font-size: 10px;
  }

.top-posts {
  border: 1px #ccc solid;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  padding: 20px;
  width: 918px;
  margin: 0px auto 40px;
}    

ul.posts li {
  float: left;
  }

li.top-headline {
  width: 558px;
  padding-right: 19px;
  height: 608px;
  border-right: #ddd 1px dashed;
  }
  li.top-headline small.date {
    text-align: left;
    margin-top: 10px;
    }
  li.top-headline .title,
  li.top-headline .subtitle {
    display: block;
    overflow: visible;
    white-space: normal;
    }
  li.top-headline .thumb {
    width: 558px;
    height: 238px;
    display: block;
    border: 1px #ddd solid;
    }

  li.top-headline a {
    display: block;
    font-weight: normal;
    }

li.grid {
  width: 320px;
  margin:  0 0 20px 20px;
  position: relative;
  }
li.grid a {
  }
li.grid .thumb {
  width: 318px;
  height: 98px;
  margin: 0 0 10px;
  display: block;
  border: 1px #ddd solid;
  background-repeat: no-repeat;
  background-position: 50%;
  }

li.grid .label small { color:#ccc; }
li.grid .text .title {
  font-size: 18px;
  margin: 10px 0;
  }

.content .posts li {
  list-style: none;
  width: 200px;
  margin: 0 20px 0px 0;
  height: 260px;
  overflow: hidden;
  padding: 0 19px 10px 0;
  border-right: #ddd 1px dashed;
  }

.content .posts li .thumb {
  width: 198px;
  }

h1 a {
  color: #444;
  }

.footer {
  clear:both;
  background:#444 url({{site.baseurl}}/assets/pages/bg-dot-rev.png) 50% 0% repeat;
  font-size:12px;
  color:#ccc;
  margin:20px 0px 0px;
  padding:20px 0px;
  text-align:center;
  }
