---
layout: default
section: tilemill
category: homepage
title: TileMill
class: fillD box
description: Design beautiful maps
permalink: /
platforms:
- id: mac
  name: Mac OS X
  help: Extract this archive and drag<br />TileMill to your Applications folder.
  file: TileMill-0.9.1.zip
  size: 79.6 MB
  url: http://github.com/downloads/mapbox/tilemill/TileMill-0.9.1.zip
- id: linux
  name: Linux
  help: Run <code>sudo ./install-tilemill.sh</code><br/>to install packages.
  help: Extract this archive and double-click<br/>on <code>install-tilemill.sh</code>.
  file: install-tilemill.tar.gz
  size: 30 MB
  url: https://github.com/downloads/mapbox/tilemill/install-tilemill.tar.gz
- id: windows
  name: Windows
  help: Double-click this installer to set up<br/> TileMill on your computer.
  file: TileMill-v0.9.1-Setup.exe
  size: 89.4 MB
  url: http://github.com/downloads/mapbox/tilemill/TileMill-v0.9.1-Setup.exe
---
<style type='text/css'>
#hero { min-height: 660px; }

#hero .tilemill-screenshot {
  background: url({{site.baseurl}}/img/hero-tilemill.png) 0 bottom no-repeat;
  height: 660px;
  float: right;
  animation: fadeIn 500ms ease 1500ms both;
  -moz-animation: fadeIn 500ms ease 1500ms both;
  -webkit-animation: fadeIn 500ms ease 1500ms both;
  }

.heading { height: 80px;}
  .heading h3 { 
    background: rgba(0,0,0,0.1);
    display: inline-block;
    padding: 10px;
    border-radius: 4px;
    margin-top: 20px;
    width: 160px;
    }
  .heading .icon {
    background-image:url({{site.baseurl}}/img/tilemill-sprite.png);
    background-position-y: -110px;
    margin-right: 2px;
    }
    .heading .icon.manage { background-position-x:0; }
    .heading .icon.render { background-position-x:-20px; }
    .heading .icon.enrich { background-position-x:-40px; }
    .heading .icon.share  { background-position-x:-60px; }

#hero .intro { 
  padding-bottom: 20px;
  animation: fadeInRight 500ms ease 500ms both;
  -moz-animation: fadeInRight 500ms ease 500ms both;
  -webkit-animation: fadeInRight 500ms ease 500ms both;
  }

.download {
  position: relative;
  animation: fadeIn 500ms ease 1000ms both;
  -moz-animation: fadeIn 500ms ease 1000ms both;
  -webkit-animation: fadeIn 500ms ease 1000ms both;
  }
.download ul.oslist { 
  box-shadow: rgba(0,0,0,0.05) 0px 0px 0px 5px;
  border-radius: 4px;
  }
.download ul.oslist li .button.big {
  float: left;
  width: 33.3333%;
  border-radius: 0;
  background: #3c4e5a;
  border-right: 1px solid #28353d;
  box-shadow: none;
  font-size: 12px;
  font-family: 'Opensans',Arial,sans-serif;
  text-transform: none;
  min-width: 0;
  transition: background 500ms;
  -moz-transition: background 500ms;
  -webkit-transition: background 500ms;
  -o-transition: background 500ms;
  }
  .download ul.oslist li:last-child .button.big { border-right: none; }
  .download ul.oslist li#mac .button.big { border-radius: 4px 0 0 4px;}
  .download ul.oslist li#windows .button.big { border-radius: 0 4px 4px 0;}

.download.mac ul.oslist li#mac .button.big{ background: #597486;}
.download.linux ul.oslist li#linux .button.big{ background: #597486;}
.download.windows ul.oslist li#windows .button.big{ background: #597486;}

.download-button {
  margin: 20px 0;
  border-radius: 4px;
  box-shadow: rgba(0,0,0,0.05) 0px 0px 0px 5px;
  display: none;
  }
  .download.mac .download-button.mac {
    display: block;
    }
  .download.linux .download-button.linux {
    display: block;
    }
  .download.windows .download-button.windows {
    display: block;
    }
  .download-button small, .download-button h3 { 
    color: white;
            animation: fadeIn 500ms ease 250ms both;
       -moz-animation: fadeIn 500ms ease 250ms both;
    -webkit-animation: fadeIn 500ms ease 250ms both;
    }
  .download-button h3 { 
    text-shadow: rgba(0,0,0,0.2) 0px -1px;
    margin-bottom: 0;
    }
  .download-button .details { 
    border: 1px solid #3887be;
    border-right: none;
    border-radius: 0 4px 4px 0;
    background-color:#3887BE;
    white-space: nowrap;
    }
      .download-button:hover .details { 
      background: #3bb2d0;
      border-color: #3bb2d0;
      }
  .download-button .label { 
    position: relative;
    border: 1px solid #3175a5;
    border-right: none;
    border-radius: 4px 0 0 4px;
    }
  .download-button:hover .label { border-color: #3bb2d0; }
  .download-button:active .details {
    box-shadow: inset rgba(0,0,0,0.4) 0px 1px 3px, inset rgba(0,0,0,0.1) 0px -20px 20px -10px;
    }
.download-button .instructions { 
  display: none;
  position: absolute;
  right: -140px;
  width: 160px;
  top: 70px;
  }
  .download-button:hover .instructions { 
    display: block;
    }
  .download-button .instructions small { 
  color: #3C4E5A;
  background: white;
  opacity: 0;
  padding: 20px;
  display: block;
  border-radius: 4px;
  box-shadow: 0 0 35px 0px rgba(0,0,0,.5);
  transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -webkit-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  }
  .download-button:hover .instructions small { opacity: 1;}
  .download-button .instructions .arrow { 
    width: 0; 
    height: 0; 
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent; 
    border-right:10px solid white;
    position: absolute;
    left: -10px;
    top: 0;
    bottom: 0;
    margin: auto 0;
    }
/* ### Borders + special tour section layout stuff ### */

.full {
  position: relative;
  border-top: 1px solid #28353D;
  }
  .fillE .full { border-color: #3C4E5A; }
  .full:before {
    content: " ";
    display: block;
    position: absolute;
    right: 50%;
    height: 100%;
    border-right: 1px solid #28353D;
    z-index: 9999;
    }
  .fillE .full:before { border-color: #3C4E5A; }
  .full.single:before { display: none; }

/* ### Illustrations ###  */

.full > .cell6 { 
  overflow: hidden;
  position: relative;
  min-height: 340px;
  }

.illustration {
  height: 260px;
  width: 260px;
  position: absolute;
  margin-left: 50%;
  }

.single .illustration { 
  width: 450px;
  height: 280px;
  right: 20px;
  }

.illo-container { 
  height: 380px;
  }

#manage .illustration {
  background:url({{site.baseurl}}/img/manage-sprite.png) 0 20px no-repeat;
  }
   #manage .illustration.browse { background-position: 0 -280px;}
   #manage .illustration.raster { background-position: -280px -280px;}

#render .illustration {
  background:url({{site.baseurl}}/img/render-sprite.png) 0 20px no-repeat;
  }
   #render .illustration.textures { background-position: 0 -280px; }
        #render .illustration.svg { background-position: -280px -280px;}
  #render .illustration.carto { 
    background-position: 0 -540px;
    width: 480px;
    height: 380px;
    }

#enrich .illustration {
  background:url({{site.baseurl}}/img/enrich-sprite.png) 0 0 no-repeat;
  }
  #enrich .illustration.embed { background-position: -280px 0;}

#share .illustration {
  background:url({{site.baseurl}}/img/share-sprite.png) 0 0 no-repeat;
  }
  #share .illustration.publish {
  height: 100%;
  width: 380px;
  top: 0;
  }
  #share .illustration.mapbox { background-position: -410px -40px;}

#open-source .illustration.github {
  background:url({{site.baseurl}}/img/open-source.png) 0 0 no-repeat;
  width: 480px;
  height: 380px;
  }

.footer-actions h1{ 
  border-top: 1px solid #3C4E5A;
  padding-bottom: 0;}

/* ### MailChimp ### */
.download .mailchimp-subscribe {
  opacity: 0;
  display: none;
  }
.download .mailchimp-subscribe .cell6:first-child { padding-right: 10px; }
.download .mailchimp-subscribe .cell6:last-child { padding-left: 10px; }
.download .mailchimp-subscribe .cell6 small {margin-bottom: 10px; }

.download.subscribe .mailchimp-subscribe { 
  opacity:1;
  display: block;
  height: auto;
  margin-bottom: 20px;
  animation: fadeIn 500ms ease 500ms both;
  -moz-animation: fadeIn 500ms ease 500ms both;
  -webkit-animation: fadeIn 500ms ease 500ms both;  
  }

#hero .download.subscribe .download-button,
#hero .download.subscribe ul.oslist,
.footer-actions .download.subscribe .download-button,
.footer-actions .subscribe ul.oslist { display: none;}

@media
only screen and (max-width: 640px) {
  #hero { min-height: inherit; padding-bottom: 0;}
  #hero .tilemill-screenshot { 
    height: 320px;
    background-position-y: top;
    }
  .download { display: none;}
  .footer-actions { display: none;}
  .full > .cell6 { min-height: inherit;}
  .full > .cell6:last-child { border-top: 1px solid #28353D;}
  .fillE .full > .cell6:last-child { border-color: #3C4E5A;}
  .full.single > .cell6:last-child { border-top: none;}
  .full:before { display: none;}
  .illustration {
    margin: 0 auto 30px;
    position: relative;
    }
  .single .illustration { 
    right: 0;
    margin-bottom: 20px;
    }
  #share .illustration.publish { 
    height: 260px;
    margin-top: -40px;
    background-position-y: -420px;
    }
  .footer .cell3:first-child {
    border-top: 1px solid #28353D;
    }
}

@media
only screen and (-webkit-min-device-pixel-ratio : 2),
only screen and (min-device-pixel-ratio : 2) {
  #hero .tilemill-screenshot {
    background-image: url({{site.baseurl}}/img/hero-tilemill@2x.png);
    background-size:906px 654px;
    }
  .heading .icon {
    background-image:url({{site.baseurl}}/img/tilemill-sprite@2x.png);
    background-size:150px 130px;
    }
  #manage .illustration {
    background-image:url({{site.baseurl}}/img/manage-sprite@2x.png);
    background-size:540px 540px;
    }
  #render .illustration {
    background:url({{site.baseurl}}/img/render-sprite@2x.png);
    background-size:540px 900px;
    }
  #enrich .illustration {
    background-image:url({{site.baseurl}}/img/enrich-sprite@2x.png);
    background-size:540px 260px;
    }
  #share .illustration {
    background-image:url({{site.baseurl}}/img/share-sprite@2x.png);
    background-size:670px 690px;
    }
  #open-source .illustration.github {
    background-image:url({{site.baseurl}}/img/mobile-sprite@2x.png);
    background-size:500px 360px;
    }
}

</style>

<div id='hero' class='clearfix'>
  <div class='pad3 cell6 intro'>
    <h1>Make beautiful interactive maps</h1>
    <p>Whether you're a journalist, web designer, researcher,  or seasoned cartographer, TileMill is the design studio you need to create stunning interactive maps.</p>
  </div>
  <div class='cell6 tilemill-screenshot'></div>
  <div class='download callout cell6 pad3 fillE'>
    <ul class='oslist clearfix'>
    {% for item in page.platforms %}
      <li id='{{item.id}}'><a href='#' class='button big'>{{item.name}}</a></li>
    {% endfor %}
    </ul>
    {% for item in page.platforms %}
    <a href='{{item.url}}' class='download-button clearfix {{item.id}}'>
      <div class='label cell5 pad1'>
        <small>{{item.name}}</small>
        <h3 class='label-title'>Download</h3>
      </div>
      <div class='details cell7 pad1'>
        <small class='filename'>{{item.file}}</small>
        <h3 class='label-title'>{{item.size}}</h3>
      </div>
      <div class='instructions'><small><span class='arrow'></span>{{item.help}}</small></div>
    </a>
    {% endfor %}

    <div class='mailchimp-subscribe cell12 clearfix'>
      <div class='cell6'>
        <h3>Downloading&hellip;</h3>
        <small>While you wait, check out the <a href='{{site.baseurl}}/docs/crashcourse/introduction'>TileMill Crash course</a>.
        </small>
      </div>
      <div class='cell6'>
        <h3>Newsletter</h3>
        <small>For news &amp; updates subscribe now:</small>
        <!-- Begin MailChimp Signup Form -->
        <div id='mc-signup'>
          <form action='http://mapbox.us2.list-manage1.com/subscribe/post?u=1b29ad842d113cece02035883&amp;id=6cbe531fd0' method='post' id='mc-embedded-subscribe-form' name='mc-embedded-subscribe-form' class='validate' target='_blank'>
            <div class='mc-field-group clearfix'>
              <input type='hidden' value='1' name='group[7417][2]'>
              <div class='field-wrapper'><input type='text' value='' placeholder='Email Address' name='EMAIL' class='required email' id='mce-EMAIL'></div>
              <input type='submit' value='Subscribe' name='subscribe' id='mc-embedded-subscribe' class='button big icon reverse mail'><span class='reverse mail'></span>
            </div>
            <div id='mce-responses'>
              <div class='response' id='mce-error-response' style='display:none'></div>
              <div class='response' id='mce-success-response' style='display:none'></div>
            </div>
          </form>
        </div>
      </div>
    </div>
  
    <small class='links'>
      <a href='{{site.baseurl}}/docs/upgrade/'>Upgrade notes</a> | <a href='{{site.baseurl}}/changelog/'>Changelog</a>
    </small>

  </div>
</div>

<div id='manage' class='fillE'>
  <div class='heading centered'>
    <h3 class='label-title'><span class='icon manage'></span>Manage data</h3>
  </div>
  <div class='clearfix full single'>
    <div class='cell6 pad3 float-right'>
      <h2>Load data from a wide range of sources</h2>
      <p>Compatible datasources include ESRI Shapefile, KML, GeoJSON, GeoTIFF, PostGIS, CSV, and SQLite. Inspect, order, and layer your sources to build complex maps.</p>
      <a href='#'>Interface tour<span class='icon next blue'></span></a>
    </div>
    <div class='cell6 '>
      <div class='illustration sources'></div>
    </div>
  </div>
  <div class='clearfix full'>
    <div class='cell6 pad3'>
      <div class='illustration browse'></div>
      <div class='cell6'>
        <h2>Browse public data</h2>
        <p>The built-in MapBox Geodata browser provides access to dozens of useful public datasources.</p>
      </div>
    </div>
    <div class='cell6 pad3'>
      <div class='illustration raster'></div>
      <div class='cell6'>
        <h2>Raster support</h2>
        <p>Show satellite data or map your DIY weather balloon aerial photography.</p>
      </div>
    </div>
  </div>
</div>

<div id='render'>
  <div class='heading centered'>
    <h3 class='label-title'><span class='icon render'></span>Render + style</h3>
  </div>
  <div class='clearfix full single'>
    <div class='cell6 pad3 float-right'>
      <h2>State of the art rendering</h2>
      <p>At TileMill's core is Mapnik, a powerful, full-featured library including support for RGBA color, True Type fonts, rasters, patterns, and even SVG transforms.</p>
      <a href='#'>Map gallery<span class='icon next blue'></span></a>
    </div>
    <div class='cell6 '>
      <div class='illustration rendering'></div>
    </div>
  </div>
  <div class='clearfix full'>
    <div class='cell6 pad3'>
      <div class='illustration textures'></div>
      <div class='cell6'>
        <h2>Textures</h2>
        <p>With full alpha-channel support and the ability to add multiple layers and fills TileMill can create richly textured maps.</p>
      </div>
    </div>
    <div class='cell6 pad3'>
      <div class='illustration svg'></div>
      <div class='cell6'>
        <h2>SVG Markers</h2>
        <p>Resize and transform scalable vector SVG markers right in TileMill.</p>
      </div>
    </div>
  </div>
  <div class='clearfix full single'>
    <div class='cell6 pad3 float-right'>
      <h2>Style maps with Carto</h2>
      <p>Inspired by CSS, Carto gives you full control over design. Mixins, variables, and functions are at your fingertips in the code editor.</p>
      <a href='#'>Carto guide<span class='icon next blue'></span></a>
    </div>
    <div class='cell6  illo-container'>
      <div class='illustration carto'></div>
    </div>
  </div>
</div>

<div id='enrich' class='fillE'>
  <div class='heading centered'>
    <h3 class='label-title'><span class='icon enrich'></span>Enrich</h3>
  </div>
  <div class='clearfix full'>
    <div class='cell6 pad3'>
      <div class='illustration interaction'></div>
      <div class='cell6'>
        <h2>Add interaction</h2>
        <p>Create hover tooltips and clickable pop ups with UTF-8 grid technology.</p>
        <a href='#'>UTF grids<span class='icon next blue'></span></a>
      </div>
    </div>
    <div class='cell6 pad3'>
      <div class='illustration embed'></div>
      <div class='cell6'>
        <h2>Embed graphics or images</h2>
        <p>Insert interactive graphs, images, links, and other content into your maps.</p>
        <a href='#'>Charts in TileMill<span class='icon next blue'></span></a>
      </div>
    </div>
  </div>
</div>

<div id='share'>
  <div class='heading centered'>
    <h3 class='label-title'><span class='icon share'></span>Share</h3>
  </div>
  <div class='clearfix full'>
    <div class='cell6 pad3'>
      <div class='illustration publish'></div>
      <div class='cell6'>
        <h2>Publish to the web and mobile</h2>
        <p>Export to the MBTiles format and every map you make in TileMill is desktop and mobile ready.</p>
        <a href='#'>About MBTiles<span class='icon next blue'></span></a>
      </div>
    </div>
    <div class='cell6 pad3'>
      <div class='illustration mapbox'></div>
      <div class='cell6'>
        <h2>Integrate with MapBox</h2>
        <p>It's just one click to automatically render and upload maps to your MapBox account.</p>
        <a href='#'>About MapBox<span class='icon next blue'></span></a>
      </div>
    </div>
  </div>
</div>

<div id='open-source'>
  <div class='clearfix full single fillE'>
    <div class='cell6 pad3 float-right'>
      <h2>Powered by Open Source</h3>
      <p>TileMill is built on a suite of open source libraries including <a href="http://mapnik.org">Mapnik</a>, <a href="http://nodejs.org">node.js</a>, <a href="http://documentcloud.github.com/backbone">backbone.js</a>, <a href="http://expressjs.com">express</a> and <a href="http://codemirror.net">CodeMirror</a>. Visit <a href="http://github.com">GitHub</a> and dig into the source code.</p>
      <a href="http://github.com/mapbox/tilemill"><span class='icon blue github'></span>Fork me on GitHub</a>
    </div>
    <div class='cell6 illo-container'>
      <div class='illustration github'></div>
    </div>
  </div>
</div>

<div class='clearfix footer-actions fillE'>
  <h1 class='pad3 centered'>Download now</h1>
    <div class='download callout margin3 cell6 pad3'>
    <ul class='oslist clearfix'>
    {% for item in page.platforms %}
      <li id='{{item.id}}'><a href='#' class='button big'>{{item.name}}</a></li>
    {% endfor %}
    </ul>
    {% for item in page.platforms %}
    <a href='{{item.url}}' class='download-button clearfix {{item.id}}'>
      <div class='label cell5 pad1'>
        <small>{{item.name}}</small>
        <h3 class='label-title'>Download</h3>
      </div>
      <div class='details cell7 pad1'>
        <small class='filename'>{{item.file}}</small>
        <h3 class='label-title'>{{item.size}}</h3>
      </div>
      <div class='instructions'><small><span class='arrow'></span>{{item.help}}</small></div>
    </a>
    {% endfor %}

    <div class='mailchimp-subscribe cell12 clearfix'>
      <div class='cell6'>
        <h3>Downloading&hellip;</h3>
        <small>While you wait, check out the <a href='{{site.baseurl}}/docs/crashcourse/introduction'>TileMill Crash course</a>.
        </small>
      </div>
      <div class='cell6'>
        <h3>Newsletter</h3>
        <small>For news &amp; updates subscribe now:</small>
        <!-- Begin MailChimp Signup Form -->
        <div id='mc-signup'>
          <form action='http://mapbox.us2.list-manage1.com/subscribe/post?u=1b29ad842d113cece02035883&amp;id=6cbe531fd0' method='post' id='mc-embedded-subscribe-form' name='mc-embedded-subscribe-form' class='validate' target='_blank'>
            <div class='mc-field-group clearfix'>
              <input type='hidden' value='1' name='group[7417][2]'>
              <div class='field-wrapper'><input type='text' value='' placeholder='Email Address' name='EMAIL' class='required email' id='mce-EMAIL'></div>
              <input type='submit' value='Subscribe' name='subscribe' id='mc-embedded-subscribe' class='button big icon reverse mail'><span class='reverse mail'></span>
            </div>
            <div id='mce-responses'>
              <div class='response' id='mce-error-response' style='display:none'></div>
              <div class='response' id='mce-success-response' style='display:none'></div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <small class='links'>
      <a href='{{site.baseurl}}/docs/upgrade/'>Upgrade notes</a> | <a href='{{site.baseurl}}/changelog/'>Changelog</a>
    </small>
  </div>
</div>

<script type='text/javascript'>

$('.download').addClass((function() {
  if (navigator.appVersion.indexOf('Win') != -1) return 'windows';
  if (navigator.appVersion.indexOf('Mac') != -1) return 'mac';
  if (navigator.appVersion.indexOf('X11') != -1 || navigator.appVersion.indexOf('Linux') != -1) return 'linux';
  return 'mac'; // default to Mac.
})());

$('.oslist li#mac a').click(function() {	
    $('.download').addClass('mac').removeClass('windows').removeClass('linux');
    return false;
  });

$('.oslist li#windows a').click(function() {	
    $('.download').addClass('windows').removeClass('mac').removeClass('linux');
    return false;
  });

$('.oslist li#linux a').click(function() {	
    $('.download').addClass('linux').removeClass('windows').removeClass('mac');
    return false;
  });

  $(mapbox.mailChimp);
  $('.download-button').click(function(ev) {
    _gaq.push([
      '_trackEvent',
      'TileMill Download',
      $(ev.currentTarget).attr('title')
    ]);
    $('.download').addClass('subscribe');
  });
</script>
