body {
  background:#f8f8f8;
  color:#333;
  padding-top:40px;
  }

body.project { padding-left:320px; }

a {
  color:#369;
  text-decoration:none;
  }

h1 { font-size:20px; }
h2 { font-size:16px; }
h3 { font-size:13px; }

.hidden { display:none; }

.pane { padding:10px; }

#header {
  position:fixed;
  left:0px;
  right:0px;
  top:0px;
  height:20px;
  background:url(../images/sprite.png) 0px -360px repeat-x;
  }

  #header,
  #header a { color:#eee; }

  #header a { font-weight:bold; }

  #header h1,
  #header a.info,
  #header a.save {
    float:left;
    margin-right:10px;
    }

  #header h1 {
    text-shadow:#000 0px -1px 0px;
    margin-right:20px;
    }

  #header a.info,
  #header a.save {
    background:#222;
    padding:0px 10px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    }

  #header a.home {
    text-shadow:#000 0px -1px 0px;
    float:right;
    }

/**
 * Home
 */
ul li {
  padding:4px 10px;
  border-bottom:1px solid #ddd;
  border-top:1px solid #fff;
  background:#eee;
  }

ul ul {
  background:#fff;
  margin-top:5px;
  padding:5px;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  }

ul ul li {
  padding:0px;
  border:0px;
  background:transparent;
  }

#inspector ul li em { margin-left:5px; }

ul.inspect-values {
  -moz-border-radius:3px 3px 0px 3px;
  -webkit-border-radius:3px 3px 0px 3px;
  }

ul.inspect-values li {
  font-size:11px;
  line-height:19px;
  border-bottom:1px solid #eee;
  white-space:nowrap;
  overflow:hidden;
  float:left;
  width:50%;
  }

ul.inspect-values li.min,
ul.inspect-values li.max {
  width:auto;
  float:none;
  border-color:#e0e8e8;
  background:#f0f4f4;
  }

ul.inspect-values strong { text-transform:uppercase; }

/**
 * Pager
 */
div.pager {
  position:relative;
  height:20px;
  }

div.pager a.disabled { opacity:.5; }

div.pager a.pager-prev,
div.pager a.pager-next { position:absolute; }

div.pager a.pager-next {
  -moz-border-radius:0px 0px 3px 0px;
  -webkit-border-radius:0px 0px 3px 0px;
  right:0px;
  }

div.pager a.pager-prev {
  -moz-border-radius:0px 0px 0px 3px;
  -webkit-border-radius:0px 0px 0px 3px;
  right:20px;
  }

/**
 * Form elements
 */
input.text {
  background:#f8f8f8;
  border:1px solid #ccc;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  }

input.submit {
  cursor:pointer;
  padding:0px 10px;
  border:1px solid #ccc;
  background:#f8f8f8;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  }

form div {
  position:relative;
  padding:5px 5px 4px 110px;
  border-bottom:1px solid #eee;
  }

form div label {
  display:block;
  font-size:11px;
  text-transform:uppercase;

  position:absolute;
  left:0px;
  width:100px;
  text-align:right;
  }

form div input.text { width:90%; }

form div.buttons {
  text-align:right;
  border:0px;
  padding:5px 0px 5px 110px;
  }

/**
 * Layers
 */
#sidebar {
  position:fixed;
  left:0px;
  top:40px;
  bottom:240px;
  width:319px;
  border-right:1px solid #ccc;
  }

#popup-header,
.sidebar-header { background:url(../images/sprite.png) 0px -320px repeat-x; }

.sidebar-header h2 { float:left; }
.sidebar-header a { float:right; }

.sidebar-content {
  position:absolute;
  left:0px;
  bottom:0px;
  right:0px;
  top:40px;
  overflow:auto;
  }

.sidebar-content li { position:relative; }

.sidebar-content li a { background-color:#fff; }

.sidebar-content li div.handle {
  position:absolute;
  left:0px;
  top:0px;
  bottom:0px;
  width:15px;
  background:url(../images/sprite.png) 0px -240px;
  cursor:move;
  }

.sidebar-content li input.checkbox {
  position:absolute;
  left:20px;
  top:5px;
  }

.sidebar-content li label {
  font-size:11px;
  display:block;
  padding-left:30px;
  }

/**
 * Icon links
 */
span.tab-delete,
a.tab-add,
a#layers-add,
a.inspector-close,
a#popup-close,
a.pager-prev,
a.pager-next,
a.color-picker,
a.layer-edit,
a.layer-delete,
a.layer-inspect,
a.inspect-values,
a.map-fullscreen {
  display:block;
  width:20px;
  height:20px;
  text-indent:-9999px;
  background:url(../images/sprite.png) 0px 0px no-repeat;

  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  }

a.layer-edit,
a.layer-delete,
a.layer-inspect,
a.inspect-values {
  display:none;
  position:absolute;
  right:5px;
  }

  a.layer-inspect { right:49px; }
  a.layer-inspect-loading { display:none; }
  a.layer-edit { right:27px; }

  li:hover a.layer-edit,
  li:hover a.layer-delete,
  li:hover a.layer-inspect,
  li:hover a.inspect-values { display:block; }

a.layer-inspect  { background-position:-20px 0px; }
span.tab-delete,
a.layer-delete   { background-position:-60px 0px; }
a.color-picker   { background-position:-40px -20px; }
a.inspector-close,
a#popup-close    { background-position:-80px -20px; }
a.inspect-values { background-position:-100px 0px; }
a.map-fullscreen { background-position:-120px -20px; }
a.pager-prev     { background-position:-140px 0px; }
a.pager-next     { background-position:-160px 0px; }
a.tab-add,
a#layers-add     { background-position:-180px -20px; }

/**
 * Map preview
 */
#map-preview {
  position:fixed;
  left:0px;
  bottom:0px;
  width:319px;
  height:239px;
  border-top:1px solid #ccc;
  border-right:1px solid #ccc;
  background:#ddd;
  }

#map-preview.fullscreen {
  top:40px;
  left:0px;
  right:0px;
  bottom:0px;
  z-index:5;
  width:auto;
  height:auto;
  border:0px;
  }

#map-preview a.map-fullscreen {
  background-color:#222;
  position:absolute;
  right:5px;
  top:5px;
  z-index:10000;
  }

/**
 * Code editor
 */
#tabs {
  top:40px;
  left:320px;
  right:0px;
  height:29px;
  padding:10px 10px 0px;
  border-bottom:1px solid #eee;
  background:#f8f8f8;
  }

#tabs a.tab-add {
  position:absolute;
  right:10px;
  }

#tabs a.tab {
  float:left;
  -moz-border-radius:3px 3px 0px 0px;
  -webkit-border-radius:3px 3px 0px 0px;
  background:transparent;
  padding:5px 30px 5px 10px;
  font-size:11px;
  font-weight:bold;
  color:#999;
  position:relative;
  }

#tabs a.tab span.tab-delete {
  display:none;
  position:absolute;
  opacity:.5;
  right:5px;
  top:5px;
  }

  #tabs a.tab:hover span.tab-delete { display:block; }
  #tabs a.tab:hover span.tab-delete:hover { opacity:1; }

#tabs a.active {
  border-width:1px 1px 0px;
  border-color:#ddd;
  border-style:solid;
  color:#333;
  background:#f8f8f8;
  padding:4px 29px 5px 9px;
  }

#editor {
  overflow:auto;
  position:fixed;
  top:80px;
  left:320px;
  bottom:40px;
  right:0px;
  display:block;
  width:auto !important;
  }

#editor iframe { padding:0px; }

/**
 * Color palette
 */
#color-palette {
  background:#303030 url(../images/sprite.png) 0px -360px repeat-x;
  color:#eee;
  position:fixed;
  left:320px;
  right:0px;
  bottom:0px;
  padding-right:180px;
  min-height:20px;
  }

#colors {
  padding-left:70px;
  position:relative;
  float:left;
  }

#colors label {
  text-shadow:#000 0px -1px 0px;
  position:absolute;
  left:0px;
  font-size:11px;
  font-weight:bold;
  text-transform:uppercase;
  }

#colors .swatch {
  -moz-box-shadow:#222 0px 1px 2px;
  -webkit-box-shadow:#222 0px 1px 2px;
  background:url(../images/sprite.png) 0px -220px no-repeat;
  float:left;
  margin:3px 3px 2px 2px;

  border:1px solid #222;
  width:18px;
  height:13px;
  position:relative;
  }

  #colors .swatch label {
    position:absolute;
    left:-26px;
    bottom:10px;
    width:70px;

    padding:0px 0px 10px;
    text-align:center;
    background:url(../images/sprite.png) 0px -190px no-repeat;
    color:#333;
    display:none;
    text-shadow:none;
    }

  #colors .swatch:hover label { display:block; }

#color-picker {
  position:absolute;
  right:0px;
  bottom:0px;
  height:20px;
  }

#color-picker a { float:right; }
#color-picker a:hover { background-color:#000; }

#farbtastic {
  background:#333;
  color:#fff;
  position:absolute;
  right:0px;
  bottom:40px;

  display:none;
  -moz-border-radius:3px 0px 0px 0px;
  -webkit-border-radius:3px 0px 0px 0px;
  }

/**
 * Popup editor.
 */
#editor #popup-backdrop {
  background-color:#999;
  opacity: 0.75;
  position:absolute;
  top:0px;
  left:0px;
  bottom:0px;
  right:0px;
  }

#editor #popup {
  z-index: 2;
  position:absolute;
  top:0px;
  left:0px;
  right:0px;
  width: 400px;
  background-color: #fff;
  margin: 100px auto 0;
  }

#popup, #popup > div, #popup-backdrop { display:none; }

#popup-header h2 { float:left; }
#popup-header a { float:right; }

a.tab-add,
a#layers-add,
a.inspector-close,
a#popup-close { background-color:#222; }
