#!/bin/bash

##################################################################################
# This script specifies variables that should be used when creating base layer   #
# images for this basemap (with cbl). This script must be named: cbl.config and  #
# must be located in the project folder for the basemap project.                 #
# This must be accompanied by a mapnik xml file for the project. The xml must be #
# named the same as this directory name with an xml extension and may need to be #
# renamed if the project name and directory name do not match.                   #
##################################################################################
#
# The following are the variables that can be specified:
# --------------------------------------------------------------------------------
# CENTER      - The center of the generated basemap images in lon,lat format.
#               OPTIONAL: Default = project center from the xml file
# ZOOM_MAX    - Maximum zoom level to create an image for.
#               OPTIONAL: Default = 17
# ZOOM_MIN    - Minimum zoom level indicating that images should be created for
#               all zoom levels between the max and min.
#               OPTIONAL: Default = 7
# WIDTH       - Width in decimal lon/lat units. This must not be greater than
#               0.0532 (about 2.5 miles) for zoom 18. Each lower zoom level can
#               have double the max width.
#               OPTIONAL: Default = (0.0532 * ((18 + 1) - ZOOM_MAX)
# HEIGHT      - Height in decimal lon/lat units. This must not be greater than
#               0.0362 (about 2.5 miles).  Each lower zoom level can have double
#               the max height.
#               OPTIONAL: Default = a value that will make a square relative to
#                                   the width
# FACTOR      - The number of images wide (and high) in a table of images that
#               should be created at the highest zoom level. This is a way to get
#               around the limit on the image width/height. For example, if you
#               want a 5 mile square at zoom 18, you can specify the maximum width
#               (2.5 miles) and a factor of 2 which will effectively double that
#               width by creating a table of 4 images at the highest zoom level
#               and the corresponding size at lower zoom levels.
#               WARNING: Increasing the factor will quickly increase the file
#               sizes and base layer creation times. Check cbl calculations
#               before specifying a factor greater than 5.
#               OPTIONAL: Default = 1
# ZOOM_DOUBLE - Default zoom level at which (and below which) basemap images
#               should be doubled in width/height to stay at the same size on the
#               screen. The goal here is to not have the images get smaller and
#               smaller as you zoom out.
#               OPTIONAL: Default = 13 (will fill a small screen and mostly fill
#                                   a large screen.
# --------------------------------------------------------------------------------
#
# Sample values: (comment out or remove to accept default values)
CENTER="-120.9053,47.2599"
ZOOM_MAX=18
ZOOM_MIN=7
WIDTH=0.0532
HEIGHT=0.0362
FACTOR=5
ZOOM_DOUBLE=13
