---
layout: default
---
<div class="changelog cell12 pad3 fillD">
{% for item in page.releases %}
  {% if item.dev != true %}
  <h2>{{item.version}} {% if item.date %}<small>{{item.date|date:'%B %d %Y'}}</small>{% endif %}</h2>
  <div class="release cell12 pad3 fillE">
  <ul class='checklist'>
    {% for item in item.notes %}
    <li>{{item | markdownify}}</li>
    {% endfor %}
  </ul>
  </div>
  {% endif %}
{% endfor %}
</div>
<style>
  .changelog .release {
    margin-bottom: 50px;
    background-image: none;
  }
  .changelog code { background: inherit }
  h2 small { font: normal 12px/1.6667em Opensans,Arial,sans-serif; }
  ul.checklist li, .prose ul.checklist li { background: url(../img/tilemill-sprite.png) -130px -110px no-repeat; margin-bottom: 10px; }
  
</style>
