---
navigation:
  - title: Gallery
    path: /gallery
    category: gallery
  - title: Changelog
    path: /changelog
  - title: Help
    path: /docs
    category: help
footer:
  tilemill:
    - title: Home
      path: 
    - title: Gallery
      path: /gallery
    - title: Changelog
      path: /changelog
  help:
    - title: Installation
      path: /docs/install
    - title: Crash course
      path: /docs/crashcourse/introduction
    - title: Guide
      path: /docs/guides/add-shapefile
    - title: Reference
      path: /docs/manual
    - title: Support
      path: http://support.mapbox.com
---
<!DOCTYPE html >
<html>
<head>
  <meta charset='UTF-8'/>
  <meta name='robots' content='{% if page.hidden %}noindex{% else %}index{% endif %}'/>
  <meta name="viewport" content='initial-scale=1,maximum-scale=1,user-scalable=no'>
  {% if page.description %}<meta name='description' content='{{page.description | strip_html}}'/>{% endif %}
  <title>{% if page.url == '/' %}{{page.title}} | Fast and beautiful maps{% else %}{{page.title}} | MapBox{% endif %}</title>
  <link rel='stylesheet' href='{{site.baseurl}}/css/site.css' type='text/css'/>
  <!--[if IE]><link rel='stylesheet' href='{{site.baseurl}}/css/site-ie.css' type='text/css'/><![endif]-->
  <link rel='shortcut icon' href='{{site.baseurl}}/assets/pages/images/favicon.ico' type='image/x-icon' />
  <script src='{{site.baseurl}}/assets/pages/site.js'></script>
</head>
<body class='{{page.class}}'>

  <div class='branding pad3h clearfix fillE'>
    <div class='cell6 logos'>
      <a id='tilemill-logo' class='logo' href='{{site.url}}/'>TileMill</a>
      <small class='attribution'><span class='mobile-hide'>an open source project</span> by <a href='http://mapbox.com/' class='small-mapbox'>MapBox</a></small>
    </div>
    <ul class='menu cell6'>
      {% for item in page.navigation %}
      {% if item.path contains 'http' %}
        {% capture url %}{{item.path}}{% endcapture %}
      {% else %}
        {% capture url %}{{site.url}}{{site.baseurl}}{{item.path}}/{% endcapture %}
      {% endif %}
      {% if item.category contains page.category or item.category contains page.section or item.path == page.url %}
        {% capture class %}{{item.class}} active{% endcapture %}
      {% else %}
        {% capture class %}{{item.class}}{% endcapture %}
      {% endif %}
      {% if page.variation == 1 and item.variation1 %}
        {% capture title %}{{item.variation1}}{% endcapture %}
      {% elsif page.variation == 2 and item.variation2 %}
        {% capture title %}{{item.variation2}}{% endcapture %}
      {% else %}
        {% capture title %}{{item.title}}{% endcapture %}
      {% endif %}
      <li class='{{class}}'>
        <a id='nav-{{item.title | downcase | replace:' ','-'}}' href='{{url}}'>{{title}}</a>
      </li>
      {% endfor %}
    </ul>
    <div class='forkme'>
      <a href='https://github.com/mapbox/tilemill'><span class='icon reverse github'></span>Fork me on GitHub</a>
    </div>
  </div>

  <div class="wrapper">{{ content }}</div>

  {% unless page.class contains 'fullscreen' %}
  <div class='footer clearfix fillD'>
    <div class='cell3 pad3 newsletter'>
      <a class='button big follow' href='http://twitter.com/mapbox' target='_blank'><span class='icon reverse twitter'></span>Follow us</a>
      <a class='button big contact' href='{{base}}/contact'><span class='icon reverse contact'></span>Contact us</a>
      <small>Subscribe to our newsletter</small>
      <!-- Begin MailChimp Signup Form -->
      <div id='mc-signup'>
        <form action='http://mapbox.us2.list-manage1.com/subscribe/post?u=1b29ad842d113cece02035883&amp;id=6cbe531fd0' method='post' id='mc-embedded-subscribe-form' name='mc-embedded-subscribe-form' class='validate' target='_blank'>
          <div class='mc-field-group clearfix'>
            <input type='hidden' value='1' name='group[7417][2]'>
            <div class='field-wrapper'><input type='text' value='' placeholder='Email Address' name='EMAIL' class='required email' id='mce-EMAIL'></div>
            <input type='submit' value='Subscribe' name='subscribe' id='mc-embedded-subscribe' class='button big icon reverse mail'>
          </div>
          <div id='mce-responses'>
            <div class='response' id='mce-error-response' style='display:none'></div>
            <div class='response' id='mce-success-response' style='display:none'></div>
          </div>
        </form>
      </div>
    </div>

    <div class='cell2 pad3'>
    <h3>TileMill</h3>
    <div class='links'>
      {% for item in page.footer.tilemill %}
      <a id='footer-{{item.title | downcase | replace:' ','-'}}' href='{{site.url}}{{site.baseurl}}{{item.path}}/'>{{item.title}}</a>
      {% endfor %}
    </div>
  </div>
  <div class='cell2 pad3'>
    <h3>Help</h3>
    <div class='links'>
      {% for item in page.footer.help %}
      <a id='footer-{{item.title | downcase | replace:' ','-'}}' href='
        {% if item.path contains 'http' %}
        {{ item.path }}
        {% else %}
        {{site.url}}{{site.baseurl}}{{item.path}}/
        {% endif %}'>{{item.title}}</a>
      {% endfor %}
    </div>
  </div>
  <div class='cell5 pad3 blogposts'>
    <h3>Recent MapBox blog posts</h3>
    <div class='links'>
    <script src="http://mapbox.com/snippets/blog-list.js"></script>
    </div>
    <a href='{{base}}/blog/'>Read more <span class='icon next blue'></span></a>
  </div>
</div>

<div class='fillE footer-copyright'>
  <a href='{{base}}/tos'>Terms of service</a> +
  <a href='{{base}}/privacy'>Privacy policy</a>
  &copy; MapBox
</div>
{% endunless %}

<script type='text/javascript'>
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-12158002-1']);
_gaq.push(['_setDomainName', '.mapbox.com']);
_gaq.push(['_trackPageview']);
(function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();

var _gauges = _gauges || [];
(function() {
  var t   = document.createElement('script');
  t.type  = 'text/javascript';
  t.async = true;
  t.id    = 'gauges-tracker';
  t.setAttribute('data-site-id', '4e970faef5a1f51def000002');
  t.src = '//secure.gaug.es/track.js';
  var s = document.getElementsByTagName('script')[0];
  s.parentNode.insertBefore(t, s);
})();
</script>

</body>
</html>
