---
layout: default
---
<div class='limiter title'>
{% if page.section and page.category %}
<small class='breadcrumb'>
<a href='{{site.url}}/{{page.section}}/'>{{page.section|capitalize}}</a> /
<a href='{{site.baseurl}}{{site.categories[page.category].last.url}}/'>{{page.category}}</a>
</small>
{% endif %}
<h1>{{page.title}}</h1>
</div>

<div class='limiter'><div class='content clearfix'>
<div class='col-3 prose'>{{content}}</div>
<div class='book'>
<ul>
{% for item in site.categories[page.category] reversed %}
  {% if page.title == 'Manual' or page.section == 'manual' or item.section != 'manual' %}
    <li class='{{item.section}}'><a class='{% if page.url == item.url %}active{% endif %}' href='{{site.baseurl}}{{item.url}}/'>{% if page.url == item.url %}<span class='icon'></span>{% endif %}{{item.title}}</a></li>
  {% endif %}
{% endfor %}
</ul>
</div>
</div></div>
