---
layout: default
sidebar_cats:
- installation
- manual
---
<div class='limiter title'>
{% if page.section %}
<small class='breadcrumb'>
<a href='{{site.url}}/{{page.section}}/'>{{page.section|capitalize}}</a> /
<a href='{{site.baseurl}}/docs'>TileMill</a>
</small>
{% endif %}
<h1>{{page.title}}</h1>
</div>

<div class='limiter'><div class='content clearfix'>
<div class='col-3 prose'>{{content}}</div>
<div class='book'>
  {% for cat in (page.sidebar_cats) %}
  <div class='topic{% if page.categories contains cat %} active{% endif %}'>
    <h3><a href='#'>{{ cat | replace:'_',' ' | capitalize }}</a></h3>
    <div class='articles'>
      {% for post in site.posts reversed %}{% if post.categories contains cat %}
        {% if page.title == post.title %}
          <a class='active' href='{{site.baseurl}}{{ post.url }}'>{{ post.title }}</a>
        {% else %}
          <a href='{{site.baseurl}}{{ post.url }}'>{{ post.title }}</a>
        {% endif %}
      {% endif %}{% endfor %}
    </div>
  </div>
  {% endfor %}
</div>
</div></div>
<script type='text/javascript'>$(tilemill.book);</script>
