---
layout: default
---
<link rel='stylesheet' href='http://mapbox.com/css/developers.css' />
<div class='changelog cell12 pad3c fillD'>
{% for item in page.releases %}
  {% if item.dev != true %}
  <h2>{{item.version}} {% if item.date %}<small>{{item.date|date:'%B %d %Y'}}</small>{% endif %}</h2>
  <div class='release cell12 pad3 doc doc-content prose'>
  <ul class='checklist'>
    {% for item in item.notes %}
    <li class='check'>{{item | markdownify}}</li>
    {% endfor %}
  </ul>
  </div>
  {% endif %}
{% endfor %}
</div>
<style>
  .changelog .release {
    margin-bottom: 50px;
    background: #fff;
    color: #3c4e5a;
  }
  .changelog code { background: inherit }
  h2 small { font: normal 12px/1.6667em Opensans,Arial,sans-serif; }
@media
only screen and (max-width: 640px) { h2 { padding: 20px;}}
</style>
