---
footer:
  aboutus:
    - title: About
      path: /about
    - title: Team
      path: /about/team
    - title: Jobs
      path: /jobs
    - title: Press
      path: /about/press
  topnav:
    - title: Tour
      path: /tour
    - title: Showcase
      path: /showcase
    - title: Blog
      path: /blog
    - title: Plans
      path: /plans
  help:
    - title: Help
      path: /help
    - title: Developers
      path: /developers
    - title: Status
      path: /status
    - title: Contact
      path: /contact
  tools:
    - title: TileMill
      path: /tilemill
    - title: Maki
      path: /maki
---
<!DOCTYPE html >
<html>
<head>
  <meta charset='UTF-8'/>
  <meta name='robots' content='{% if page.hidden %}noindex{% else %}index{% endif %}'/>
  <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
  {% if page.description %}<meta name='description' content='{{page.description | strip_html}}'/>{% endif %}
  <title>{% if page.title == 'Mapbox' %}{{page.title}} | Design and publish beautiful maps{% else %}{{page.title}} | Mapbox{% endif %}</title>

  {% if page.card %}
  <meta name='twitter:site' content='@Mapbox' />
  <meta property='og:site_name' content='Mapbox' />
  <meta name='twitter:url' content='{{page.permalink}}' />
  <meta property='og:url' content='{{page.permalink}}' />
  <meta name='twitter:title' content='{{page.title}}' />
  <meta property='og:title' content='{{page.title}}' />
  <meta name='twitter:description' content='{{page.content | markdownify | strip_html | trim_spaces | truncatewords: 30 | escape | replace:"'","&lsquo;" }}' />
  <meta property='og:description' content='{{page.content | markdownify | strip_html | trim_spaces | truncatewords: 30 | escape | replace:"'","&lsquo;" }}' />
  {% if page.video %}
  <meta name='twitter:card' content='player' />
  <meta name='twitter:player' content='{{page.video | replace: "http:" , "https:" }}' />
  <meta name='twitter:player:width' content='640' />
  <meta name='twitter:player:height' content='480' />
  <meta property='og:type' content='video.other' />
  <meta property='og:video' content='{{page.video}}' />
  <meta property='og:video:width' content='640' />
  <meta property='og:video:height' content='480' />
  {% elsif page.image %}
  <meta name='twitter:image' content='{{page.image | replace:"https:","http:"}}' />
  <meta property='og:image' content='{{page.image | replace:"https:","http:"}}' />
  <meta name='twitter:card' content='summary_large_image' />
  <meta property='og:type' content='website' />
  {% endif %}
  {% endif %}

  <link href='//www.mapbox.com/base/latest/base.css' rel='stylesheet' />
  <link href='{{site.url}}/css/site.css' rel='stylesheet' />
  <!--[if IE 9]><link href='{{site.url}}/css/site-ie9.css' rel='stylesheet' /><![endif]-->
  <link rel='shortcut icon' href='{{site.url}}/img/favicon.ico' type='image/x-icon' />
  <link rel='alternate' type='application/rss+xml' title='RSS' href='{{site.url}}/blog/blog.rss' />

  <!--[if lt IE 9 ]><script src='{{site.url}}/js/redirect-ie.js'></script><![endif]-->
  <script src='{{site.api}}/api/session.js'></script>
  <script src="//cdn.optimizely.com/js/429140220.js"></script>
  <script>
  var analytics=analytics||[];(function(){var e=['identify','track','trackLink','trackForm','trackClick','trackSubmit','page','pageview','ab','alias','ready','group'],t=function(e){return function(){analytics.push([e].concat(Array.prototype.slice.call(arguments,0)))}};for(var n=0;n<e.length;n++)analytics[e[n]]=t(e[n])})(),analytics.load=function(e){var t=document.createElement('script');t.type='text/javascript',t.async=!0,t.src=('https:'===document.location.protocol?'https://':"http://")+'d2dq2ahtl5zl1z.cloudfront.net/analytics.js/v1/'+e+'/analytics.min.js';var n=document.getElementsByTagName('script')[0];n.parentNode.insertBefore(t,n)};
  analytics.load(window.location.hostname.indexOf('mapbox.com') !== -1 ? 'fl0c8p240n' : '0biiejpgfj');
  </script>
  <script src='https://js.stripe.com/v2/'></script>
  <script>
  Stripe.setPublishableKey(window.location.hostname.indexOf('mapbox.com') !== -1 ?
    'pk_live_hI6mmOTIg7KkywK6vo3vJvpk' : 'pk_test_gmIyREg3sKzAiyMkAEeCsxUG');
  </script>
  <script src='https://api.tiles.mapbox.com/mapbox.js/{% if site.mapboxjs %}{{site.mapboxjs}}{% else %}v1.5.1{% endif %}/mapbox.js'></script>
  <link href='https://api.tiles.mapbox.com/mapbox.js/{% if site.mapboxjs %}{{site.mapboxjs}}{% else %}v1.5.1{% endif %}/mapbox.css' rel='stylesheet' />
  <script src='{{site.url}}/js/site.js'></script>
  {% if page.head %}{{page.head}}{% endif %}

</head>
<body class='{{page.class}}'>

{% if page.app %}
{{content}}
{% else %}
<div class='masthead fill-white keyline-bottom col12 animate clearfix {% if page.app %}hide-mobile{% else if page.share %}row2{% endif %}'>
  <script type='text/template' id='nav-template'>
    <% if (!user.id) { %>
    <a class='mb-logo' href='{{site.url}}/'></a>

    <div class='strong hide-mobile'>
      <a href='{{site.url}}/tour/' class='{% if page.category == 'tour' %}active{% endif %} animate inline pad1 round quiet truncate'>Tour</a><!--
      --><a href='{{site.url}}/showcase/' class='{% if page.category == 'showcase' %}active{% endif %} animate inline pad1 round quiet truncate'>Showcase</a><!--
      --><a href='{{site.url}}/blog/' class='{% if page.category == 'blog' %}active{% endif %} animate inline pad1 round quiet truncate'>Blog</a><!--
      --><a href='{{site.url}}/plans/' class='{% if page.url contains 'plans' %}active{% endif %} animate inline pad1 round quiet truncate'>Plans</a><!--
      --><a href='{{site.url}}/help/' class='{% if page.url contains 'help' %}active{% endif %} animate inline pad1 round quiet truncate'>Help</a>
      <div class='authmenu contain fr center keyline-all'><!--
        --><a href='#signin' class='action signin inline animate keyline-right pad1 quiet truncate'>Sign in</a><!--
        --><a href='#signup' class='action signup inline animate pad1 quiet truncate'>Sign up</a>
      </div>
    </div>

    <div class='show-mobile contain drop'>
      <a href='#' class='icon menu round quiet droplink keyline-all'></a>
      <div class='dropdown strong fill-white keyline-all round animate'>
        <div>
          <a href='{{site.url}}/tour/'>Tour</a>
          <a href='{{site.url}}/showcase/'>Showcase</a>
          <a href='{{site.url}}/blog/'>Blog</a>
          <a href='{{site.url}}/plans/'>Plans</a>
          <a href='{{site.url}}/help/'>Help</a>
        </div>
        <div>
          <a href='#signin' class='signin'>Sign in</a>
          <a href='#signup' class='signup'>Sign up</a>
        </div>
      </div>
    </div>

    <% } else { %>
    <div id='authed-logo'>
      <!-- Back button -->
      <% if (obj._type === 'tileset' || App.param('from') === 'data') { %>
        <a class='mb-logo' href='{{site.url}}/data'> </a>
        <a href='{{site.url}}/data' class='truncate return-to-previous icon return quiet animate small hide-mobile'>Return to data</a>
      <% } else if (App.param('from') === 'projects') { %>
        <a class='mb-logo' href='{{site.url}}/projects'> </a>
        <a href='{{site.url}}/projects' class='truncate return-to-previous icon return quiet animate small hide-mobile'>Return to projects</a>
      <% } else { %>
        <a class='mb-logo' href='{{site.url}}/editor/#app'> </a>
        <a href='{{site.url}}/editor/#app' class='truncate return-to-previous icon return quiet animate small hide-mobile'>Return to editor</a>
      <% } %>
    </div>

    {% unless page.share %}
      <a href='#dropdown' class='block authmenu droplink quiet avatar icon menu round animate fr' style='background-image:url("<%= user.avatar %>")'></a>
      <div class='dropdown fill-white keyline-all round animate'>
        <div class='plan contain'>
          <a href='{{site.url}}/plans/' class='plan-icon big <%= user.plan.id.replace('2', '').replace('-annual', '') %>'>
          </a>
          <small class='quiet truncate'><%= _(user.name || user.id).escape() %></small>
          <a href='{{site.url}}/plans/' class='truncate strong'>
            <%= _(user.plan?user.plan.name:'').escape() %>
            <span class='quiet'>(<%= numeral(user.plan.views).format('0a') %> views)</span>
          </a>
        </div>
        <div class='show-mobile strong'>
          <a href='{{site.url}}/dashboard/' class='authed {% if page.url contains '/dashboard' %}active{% endif %}'>Dashboard</a>
          <a href='{{site.url}}/projects/' class='authed {% if page.url contains '/project' %}active{% endif %}'>Projects</a>
          <a href='{{site.url}}/data/' class='authed {% if page.url contains '/data' %}active{% endif %}'>Data</a>
        </div>
        <div class='strong'>
          <a href='{{site.url}}/account/'>Account</a>
          <% if (App.user.group === 'admin') { %><a href='{{site.url}}/admin/'>Admin</a><% } %>
          <a href='#signout' id='signout'>Sign out</a>
        </div>
        <div class='strong'>
          <a href='{{site.url}}/tour/'>Tour</a>
          <a href='{{site.url}}/showcase/'>Showcase</a>
          <a href='{{site.url}}/blog/'>Blog</a>
          <a href='{{site.url}}/help/'>Help</a>
        </div>
      </div>
      <div class='hide-mobile strong fr'>
         <a href='{{site.url}}/dashboard/' class='quiet authed icon dashboard animate round pad1 truncate inline {% if page.url contains '/dashboard' %}active{% endif %}'>Dashboard</a><!--
      --><a href='{{site.url}}/projects/' class='quiet authed icon folder animate round pad1 truncate inline {% if page.url contains '/project' %}active{% endif %}'>Projects</a><!--
      --><a href='{{site.url}}/data/' class='quiet authed icon book animate round pad1 truncate inline {% if page.url contains '/data' %}active{% endif %}'>Data</a>
      </div>
    {% endunless %}
  <% } %>
  </script>

  <div class='limiter clearfix'>
    <nav id='nav' class='{% if page.share %}col4 margin4{% else %}col12 text-right pad2y{% endif %} contain clearfix noprint '>
      <script>document.write(App.nav());</script>
    </nav>
  </div>
</div>

<div class='clearfix{% unless page.fullwidth %} limiter{% endunless %}'>{{content}}</div>

{% unless page.share %}

<div class='footer keyline-top pad4y fill-white clearfix small'>
  <div class='limiter'>
    <div class='col6 mobile-cols'>
      <div class='col3'>
        {% for item in page.footer.aboutus %}
        <a id='footer-{{item.title | downcase | replace:' ','-'}}' class='col12 strong' href='{{site.url}}{{item.path}}/'>{{item.title}}</a>
        {% endfor %}
      </div>
      <div class='col3'>
        {% for item in page.footer.topnav %}
        <a id='footer-{{item.title | downcase | replace:' ','-'}}' class='col12 strong' href='{{site.url}}{{item.path}}/'>{{item.title}}</a>
        {% endfor %}
      </div>
      <div class='col3'>
        {% for item in page.footer.help %}
        <a id='footer-{{item.title | downcase | replace:' ','-'}}' class='col12 strong' href='{% if item.href %}{{item.href}}{% else %}{{site.url}}{{item.path}}{% endif %}/'><strong>{{item.title}}</strong></a>
        {% endfor %}
      </div>
       <div class='col3'>
       <p><span style='padding-bottom:10px;' class='keyline-bottom'>Tools</span></p>

        {% for item in page.footer.tools %}
        <a id='footer-{{item.title | downcase | replace:' ','-'}}' class='col12 strong' href='{% if item.href %}{{item.href}}{% else %}{{site.url}}{{item.path}}{% endif %}/'><strong>{{item.title}}</strong></a>
        {% endfor %}
      </div>
    </div>
    <div class='col6 newsletter'>
      <form action='http://mapbox.us2.list-manage1.com/subscribe/post?u=1b29ad842d113cece02035883&amp;id=6cbe531fd0' method='post' id='mc-embedded-subscribe-form' name='mc-embedded-subscribe-form' class='space-bottom validate' target='_blank'>
        <fieldset class='pill mobile-cols col12 with-icon clearfix'>
          <span class='icon mail quiet'></span>
          <input type='text' value='' placeholder='Subscribe to our newsletter' name='EMAIL' class='col9 required email' id='mce-EMAIL'>
          <input type='submit' value='Submit' name='subscribe' id='mc-embedded-subscribe' class='col3'>
        </fieldset>
      </form>
      Follow Mapbox on <a href='https://twitter.com/mapbox' class='strong'>Twitter</a> and <a href='https://www.facebook.com/MapboxMaps' class='strong'>Facebook</a>
    </div>
  </div>
</div>

<div class='footer-copyright fill-white pad2y small center noprint'>
  <a href='{{site.url}}/tos'>Terms</a> +
  <a href='{{site.url}}/privacy'>Privacy</a>
  &copy; Mapbox
</div>

{% endunless %}
{% endif %}

<div id='modal'>
  <div class='modal-mask fill-darken2 modal animate'></div>
  <div id='modal-content' class='contain modal modal-content animate'></div>
</div>

<script type='text/html' id='template-modal-auth'>
<div class='col12 modal-popup modal-auth'>
  <div class='clip sliding h active2'>
    <form id='auth-reset' class='animate' method='post'>
      <div class='col6 margin3 modal-body fill-white contain'>
        <% if (obj.close) { %>
        <a href='#close' class='quiet big icon fr close'></a>
        <% } else { %>
        <a href='/' class='quiet big icon fr close escape'></a>
        <% } %>
        <div class='pad2y pad4x center keyline-bottom top-illustration'>
          <span class='inline icon big mail'></span>
        </div>
        <div class='pad2y pad4x keyline-bottom'>
          <fieldset>
            <label>Email</label>
            <input type='text' name='email' class='stretch' />
          </fieldset>
        </div>
        <div class='pad2y pad2x clearfix'>
          <div class='col8 pad2x'>
            <input class='col12' type='submit' value='Send reset instructions' />
          </div>
          <small class='col4 pad1y text-right'>
            <a class='rcon next slide' href='#active2'>Sign in</a>
          </small>
        </div>
      </div>
    </form>
    <form id='auth-signin' class='animate' method='post'>
      <div class='col6 margin3 modal-body fill-white contain'>
        <% if (obj.close) { %>
        <a href='#close' class='quiet big icon fr close'></a>
        <% } else { %>
        <a href='/' class='quiet big icon fr close escape'></a>
        <% } %>
        <div class='pad2y pad4x center keyline-bottom top-illustration'>
          <span class='inline icon big lock'></span>
        </div>
        <div class='pad2y pad4x keyline-bottom'>
          <fieldset>
            <label>Username or email</label>
            <% if (obj.username) { %>
            <input type='text' name='username' autocapitalize='off' class='stretch' tabindex='1' value='<%= obj.username %>' readonly />
            <% } else { %>
            <input type='text' name='username' autocapitalize='off' class='stretch' tabindex='1' />
            <% } %>
          </fieldset>
          <fieldset>
            <label>Password <small class='inline'><a href='#active1' class='slide' tabindex='3'>Forgot it?</a></small></label>
            <input type='password' name='password' class='stretch' tabindex='2' />
          </fieldset>
        </div>
        <div class='pad2y pad4x clearfix'>
          <div class='col6'>
            <input class='col12' type='submit' value='Sign in' />
          </div>
          <% if (!obj.username) { %>
          <small class='col6 pad1y text-right'>
            Need an account? <a class='rcon next slide' href='#active3'>Sign up</a>
          </small>
          <% } %>
        </div>
      </div>
    </form>
    <form id='auth-signup' class='animate' method='post'>
      <div class='col6 margin3 modal-body fill-navy-dark fill-stars dark contain'>
        <% if (obj.close) { %>
        <a href='#close' class='big icon fr close'></a>
        <% } else { %>
        <a href='/' class='big icon fr close escape'></a>
        <% } %>
        <div class='pad2y pad4x keyline-bottom center'>
          <span class='inline icon dot big account'></span>
        </div>
        <div class='pad2y pad2x keyline-bottom'>
          <fieldset class='col12 pad2x'>
            <label>Username</label>
            <input type='text' name='username' autocapitalize='off' class='stretch'/>
          </fieldset>
          <fieldset class='col6 pad2x'>
            <label>First name</label>
            <input type='text' name='firstname' class='stretch'/>
          </fieldset>
          <fieldset class='col6 pad2x'>
            <label>Last name</label>
            <input type='text' name='lastname' class='stretch' />
          </fieldset>
          <fieldset class='col6 pad2x'>
            <label>Email</label>
            <input type='text' name='email' class='stretch' />
          </fieldset>
          <fieldset class='pad2x'>
            <label>Password</label>
            <input type='password' name='password' class='stretch' />
          </fieldset>
          <div class='pad2x'>
            <small>You agree to the Mapbox <a href='http://mapbox.com/tos/'>Terms of Service</a> and <a href='http://mapbox.com/privacy/'>Privacy Policy</a>.</small>
          </div>
        </div>
        <div class='pad2y pad2x clearfix'>
          <small class='col6 pad2x pad1y'>
            <a class='icon prev slide' href='#active2'>Sign in</a>
          </small>
          <div class='col6 pad2x text-right'>
            <input class='col12' type='submit' value='Sign up for Mapbox' />
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
</script>

<script type='text/html' id='template-modal-payment'>
<div class='col12 modal-popup modal-payment'>
    <form id='payment' class='round animate'>
      <div class='margin3 col6 modal-body fill-white contain'>
        <% if (obj.close) { %><a href='#close' class='quiet big icon fr close'></a><% } %>
        <div class='pad2y pad4x center keyline-bottom top-illustration'>
          <span class='inline icon big cart'></span>
        </div>
        <div class='pad4y pad2x keyline-bottom clearfix'>
          <fieldset class='pad2x col12'>
            <label>Card number</label>
            <input type='text' name='number' class='stretch' />
          </fieldset>
          <div class='credit-cards pad2 center space fill-light round space-bottom'>
            <span class='credit-card visa'></span>
            <span class='credit-card mastercard'></span>
            <span class='credit-card american-express'></span>
            <span class='credit-card jcb'></span>
            <span class='credit-card discover'></span>
            <span class='credit-card diners-club'></span>
          </div>
          <fieldset class='pad2x col4'>
            <label>Expiration</label>
            <input type='text' name='exp' class='stretch' placeholder='MM/YYYY' />
          </fieldset>
          <fieldset class='pad2x col4'>
            <label>CVC</label>
            <input type='text' name='cvc' class='stretch' />
          </fieldset>
          <fieldset class='pad2x col4'>
            <label>Postal code</label>
            <input type='text' name='address_zip' class='stretch' />
          </fieldset>
          <fieldset class='pad2x col12'>
            <label>Coupon code</label>
            <input type='text' name='coupon' class='stretch' />
          </fieldset>
        </div>
        <div class='pad2 clearfix'>
          <div class='col12 text-right pad2x'>
            <input class='' type='submit' value='Done' />
          </div>
        </div>
      </div>
    </form>
</div>
</script>

<script type='text/html' id='template-modal-err'>
<% if (!(obj instanceof Error)) {
  if ('responseText' in obj) {
    try {
      obj = new Error(JSON.parse(obj.responseText).message);
    } catch (err) {
      obj = new Error(obj.responseText);
    }
  } else if ('message' in obj) {
    obj = new Error(obj.message);
  } else if ('status' in obj && typeof obj.status === 'number') {
    obj = new Error('HTTP ' + obj.status);
  } else {
    obj = new Error('Unknown error occurred');
  }
} %>
<div id='modal-err' class='col12 modal-popup'>
  <div class='margin3 col6 modal-body fill-white'>
    <div class='pad2y pad4x keyline-bottom center'>
      <%= obj %>
    </div>
    <div class='pad2y pad4x center'>
      <a href='#close' class='button quiet close'>Close</a>
    </div>
  </div>
</div>
</script>

<script type='text/html' id='template-modal-confirm'>
<div id='modal-confirm' class='col12 modal-popup'>
  <div class='margin3 col6 modal-body fill-white'>
    <% if (obj.html) { %>
    <div class='pad2y pad4x keyline-bottom'><%= obj.html %></div>
    <% } else { %>
    <div class='pad2y pad4x keyline-bottom center'><%= obj.text || obj %></div>
    <% } %>
    <div class='pad2y pad4x clearfix center'><!--
    --><% if (obj.callback && obj.cancel !== false) { %><a href='#cancel' class='pad1y small col6 quiet icon strong close cancel'>Cancel</a><% } %><!--
    --><a href='#ok' class='button <% if (obj.callback && obj.cancel !== false) { %>col6<% } %> icon check ok'>Okay</a><!--
  --></div>
  </div>
</div>
</script>

<script type='text/html' id='template-plan-confirm'>
<% if (obj.plan.isUpgrade()) { %>
<h2 class='center'><%= plan.get('name') %> for $<%= plan.get('price') %>/<%= plan.get('period') %></h2>
<% if (obj.reason && obj.reason === 'satellite') { %>
<p class='center'>To use <strong>Mapbox Satellite</strong> upgrade to the <strong><%= plan.get('name') %></strong> plan.</p>
<% } else { %>
<p class='center'>You're about to upgrade to the <strong><%= plan.get('name') %></strong> plan.</p>
<% } %>
<div class='center small'>
  <a href='{{site.url}}/help/#changing-plans' target='_blank'>What happens when I change plans?</a>
</div>
<% } else { %>
<h2 class='center'>Downgrade to <%= plan.get('name') %></h2>
<p class='center'>Before you do that, can we help you get the most out of Mapbox?<br/><a href='http://support.mapbox.com/' target='_blank'>Ask our support team for help</a>.</p>
<% if (!obj.plan.get('price')) { %>
<h3 class='space-bottom'>What is the main reason for downgrading your subscription?</h3>
<form id='downgrade-survey' class='small space-bottom' method='post'>
  <div>
    <input type='radio' name='answer' id='answer0' value='Missing a crucial feature' />
    <label for='answer0'>Missing a crucial feature</label>
  </div>
  <div>
    <input type='radio' name='answer' id='answer1' value='Not using it' />
    <label for='answer1'>Not using it</label>
  </div>
  <div>
    <input type='radio' name='answer' id='answer2' value='Free plan is enough for my needs' />
    <label for='answer2'>Free plan is enough for my needs</label>
  </div>
  <div>
    <input type='radio' name='answer' id='answer3' value='Needs better documentation' />
    <label for='answer3'>Needs better documentation</label>
  </div>
  <div>
    <input type='radio' name='answer' id='answer4' value='Not satisfied with support' />
    <label for='answer4'>Not satisfied with support</label>
  </div>
  <div>
    <input type='radio' name='answer' id='answer5' value='Went with a different tool' />
    <label for='answer5'>Went with a different tool</label>
  </div>
  <div>
    <input type='radio' name='answer' id='answer6' value='Other' />
    <label for='answer6'>Other</label>
  </div>
</form>
<% } %>
<div class='center small'>
  <a href='{{site.url}}/help/#changing-plans' target='_blank'>What happens when I change plans?</a>
</div>
<% } %>
</script>

<script type='text/html' id='template-alert'>
<a href='#alert' id='alert' class='fill-yellow block'><span class='icon big alert quiet'></span></a>
</script>

</body>
</html>
