---
# MapBox project pages template
# -----------------------------
navigation:
  - title: Maps
    path: http://tiles.mapbox.com
    category: maps
  - title: Design
    path: /tilemill
    category: design
  - title: Hosting
    path: /hosting
    category: hosting
  - title: Support
    path: /support
    category: support
  - title: Documentation
    path: /documentation
    category: documentation
footer:
  - title: About
    path: /about
  - title: iPad
    path: /ipad
  - title: Contact
    path: /contact
  - title: Terms of Service
    path: /tos
  - title: Privacy Policy
    path: /privacy
---
<!DOCTYPE html >
<html>
<head>
  <meta charset='UTF-8'/>
  {% if page.description %}<meta name='description' content='{{page.description}}'/>{% endif %}
  <title>{{page.title}} | MapBox</title>
  <link rel='stylesheet' href='{{site.url}}/css/site.css' type='text/css'/>
  <!--[if IE]><link rel='stylesheet' href='{{site.url}}/css/site-ie.css' type='text/css'/><![endif]-->
  <link rel='stylesheet' href='{{site.url}}/tilemill/assets/pages/site.css' type='text/css'/>
  <link rel='shortcut icon' href='{{site.url}}/images/favicon.ico' type='image/x-icon' />
  <script src='{{site.url}}/js/site.js' type='text/javascript'></script>
  <script src='{{site.url}}/tilemill/assets/pages/site.js' type='text/javascript'></script>
</head>
<body {% if page.class %}class='{{page.class}}'{% endif %}><div class='wrapper'>

<div class='branding'><div class='limiter'>
  <a class='logo' href='{{site.url}}'>MapBox</a>
  <ul class='menu'>
    {% for item in page.navigation %}
    <li class='{{item.category}} {% if page.category contains item.category or item.category == page.section %}active{% endif %}'>
      {% if item.path contains '://' %}
      <a href='{{item.path}}'><span class='icon'></span>{{item.title}}</a>
      {% else %}
      <a href='{{site.url}}{{item.path}}'><span class='icon'></span>{{item.title}}</a>
      {% endif %}
    </li>
    {% endfor %}
  </ul>
  <small class='auth'>
    <a class='login' href='http://tiles.mapbox.com/login'>
      <span class='icon'></span>
      My account
    </a>
  </small>
</div></div>

{{content}}

<div class='push'></div></div>

<div class='footer'><div class='limiter'>

<div class='links'>
<strong>MapBox®</strong>
{% for item in page.footer %}
<a href='{{site.url}}{{item.path}}/'>{{item.title}}</a>
{% endfor %}
</div>

<a class='ds' href='http://developmentseed.org' target='_blank'>
<span class='madeby'>Made by Development Seed</span>
<span class='office'></span>
</a>

</div></div>

<script type="text/javascript">
  var _gauges = _gauges || [];
  (function() {
    var t   = document.createElement('script');
    t.type  = 'text/javascript';
    t.async = true;
    t.id    = 'gauges-tracker';
    t.setAttribute('data-site-id', '4e970faef5a1f51def000002');
    t.src = '//secure.gaug.es/track.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(t, s);
  })();
</script>

<script type='text/javascript'>
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-12158002-1']);
_gaq.push(['_setDomainName', 'mapbox.com']);
_gaq.push(['_trackPageview']);
(function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();
</script>

</body>
</html>
