---
layout: default
section: help
---

{% if page.section == 'help' %}
<div class='clearfix limiter'>
  <div class='pad4y'>
    <h2>Help</h2>
  </div>
  <nav class='col12 space-bottom pill clearfix five-links'>
    <a href='{{site.baseurl}}/docs/install' class=' truncate button{% if page.category == 'installation' %} active{% endif %}'>Installation</a><a href='{{site.baseurl}}/docs/crashcourse/introduction' class='truncate button{% if page.category == 'crashcourse' %} active{% endif %}'>Crashcourse</a><a href='{{site.baseurl}}/docs/guides/add-shapefile' class='truncate button{% if page.category == 'guides' %} active{% endif %}'>Guides</a><a href='{{site.baseurl}}/docs/manual/' class='truncate button{% if page.category == 'reference' %} active{% endif %}'>Reference</a><a href='{{site.url}}/carto' class='truncate button' >CartoCSS Reference</a></li>
  </nav>
</div>
{% endif %}

<div class='doc-page limiter keyline-all clearfix'>
  {% if page.title == 'TileMill' %}
  <div class='col12 doc-content doc prose'>
    {{content}}
  </div>
  {% else %}
  <div class='col3'>
    {% if page.private %}
      <div class='doc-private'><h3>Private</h3>{{page.private}}</div>
    {% elsif page.navigation %}
      {% for heading in page.navigation %}
        <nav class='doc-nav anchors'>
          <a href='#{{heading[0]|downcase|replace:' ','_'}}'><strong>{{heading[0]}}</strong></a>
          {% for item in heading[1] %}
          {% if item.hash %}
          <a href='#{{item.hash}}'>{{item.text}}</a>
          {% else %}
          <a href='#{{item|downcase|replace:' ','_'}}'>{{item}}</a>
          {% endif %}
          {% endfor %}
        </nav>
      {% endfor %}
    {% else %}
      <div class='doc-nav'>
      {% include book.html %}
      </div>
    {% endif %}
  </div>
  <div class='col9 doc-content keyline-left prose'>
    <div class='doc pad4'>
      <h1 id='{{page.title|downcase|replace:' ', '_'}}'>{{page.title}}</h1>
      {{content}}
    </div>
  </div>
  {% endif %}
</div>

{% include tilemill-footer.html %}
