---
layout: default
section: help
class: box
---
<link rel='stylesheet' href='http://mapbox.com/css/developers.css' />
<style type='text/css'>
.ad-support { text-align:right; }
.ad-support a { margin-top:10px; }
.doc-content { border-color: #4F5F69; }
.doc-page{ background: #4F5F69 url({{site.baseurl}}/img/dotgrid-pattern.png);}
.doc-page div{ background: #FFF; }
.doc-subnav { margin-top: 0;}
.doc-subnav li {
  width:20%;
  }
  .doc-subnav li a {
    text-overflow: ellipsis;
    overflow: hidden;
    background: none; /* IE fix */
    background: rgba(0,0,0,0.1);
    color: white;
    }
.doc-subnav a.active { background: #3887BE; color: white; }
@media (max-width:640px) {
  .ad-support { text-align:center; }
  .doc-header h2 { padding-bottom: 20px; }
  .doc-subnav li { width:100%; margin-bottom:1px; }
}
@media (min-width:960px) {
  .doc .fig-right { float:right; margin-top:0px; margin-left:10px; }
}
</style>

{% if page.section == 'help' %}
<div class='clearfix doc-header pad3 fillD'>
  <div class='cell3'>
    <h2>Help</h2>
  </div>
  <ul class='cell9 doc-subnav clearfix'>
    <li><a href='{{site.baseurl}}/docs/install' {% if page.category == 'installation' %}class='active'{% endif %}>Installation</a></li>
    <li><a href='{{site.baseurl}}/docs/crashcourse/introduction' {% if page.category == 'crashcourse' %}class='active'{% endif %}>Crashcourse</a></li>
    <li><a href='{{site.baseurl}}/docs/guides/add-shapefile' {% if page.category == 'guides' %}class='active'{% endif %}>Guides</a></li>
    <li><a href='{{site.baseurl}}/docs/manual/' {% if page.category == 'reference' %}class='active'{% endif %}>Reference</a></li>
    <li><a href='{{site.url}}/carto'>CartoCSS Reference</a></li>
  </ul>
</div>
{% endif %}

<div class='doc-page pad3c clearfix'>
<div class='clearfix'>
  {% if page.title == 'TileMill' %}
  <div class='cell12 doc-content doc prose pad2'>
    {{content}}
  </div>	
  {% else %}
  <div class='cell3'>
    {% if page.private %}
      <div class='doc-private'><h3>Private</h3>{{page.private}}</div>
    {% elsif page.navigation %}
      <div class='doc-nav'>
      {% for heading in page.navigation %}
        <ul class='nav anchors'>
          <li><a href='#{{heading[0]|downcase|replace:' ','_'}}'>{{heading[0]}}</a></li>
          {% for item in heading[1] %}
          {% if item.hash %}
          <li><a href='#{{item.hash}}'>{{item.text}}</a></li>
          {% else %}
          <li><a href='#{{item|downcase|replace:' ','_'}}'>{{item}}</a></li>
          {% endif %}
          {% endfor %}
        </ul>
      {% endfor %}
      </div>
    {% else %}
      <div class='doc-nav'>
      {% include book.html %}
      </div>
    {% endif %}
  </div>
  <div class='cell9 doc-content prose'>
    <div class='doc pad2'>
      <h1 id='{{page.title|downcase|replace:' ', '_'}}'>{{page.title}}</h1>
      {{content}}
    </div>
  </div>
  {% endif %}
</div>
</div>

<script type='text/javascript'>
$(mapbox.book);
$('h1[id], h2[id], h3[id], h4[id]').attr('title', 'Link to this section').click(function(ev) {
  window.location.hash = $(ev.currentTarget).attr('id');
});
</script>
