---
layout: default
section: help
---
{% if page.section == 'help' %}
<div class='clearfix doc-header pad4 fill-denim'>
  <div class='col3'>
    <h2>Help</h2>
  </div>
  <ul class='col9 doc-subnav clearfix'>
    <li><a href='{{site.baseurl}}/docs/install' {% if page.category == 'installation' %}class='active'{% endif %}>Installation</a></li>
    <li><a href='{{site.baseurl}}/docs/crashcourse/introduction' {% if page.category == 'crashcourse' %}class='active'{% endif %}>Crashcourse</a></li>
    <li><a href='{{site.baseurl}}/docs/guides/add-shapefile' {% if page.category == 'guides' %}class='active'{% endif %}>Guides</a></li>
    <li><a href='{{site.baseurl}}/docs/manual/' {% if page.category == 'reference' %}class='active'{% endif %}>Reference</a></li>
    <li><a href='{{site.url}}/carto'>CartoCSS Reference</a></li>
  </ul>
</div>
{% endif %}

<div class='doc-page pad4c clearfix'>
<div class='clearfix'>
  {% if page.title == 'TileMill' %}
  <div class='col12 doc-content doc prose pad2'>
    {{content}}
  </div>
  {% else %}
  <div class='col3'>
    {% if page.private %}
      <div class='doc-private'><h3>Private</h3>{{page.private}}</div>
    {% elsif page.navigation %}
      <div class='doc-nav'>
      {% for heading in page.navigation %}
        <ul class='nav anchors'>
          <li><a href='#{{heading[0]|downcase|replace:' ','_'}}'>{{heading[0]}}</a></li>
          {% for item in heading[1] %}
          {% if item.hash %}
          <li><a href='#{{item.hash}}'>{{item.text}}</a></li>
          {% else %}
          <li><a href='#{{item|downcase|replace:' ','_'}}'>{{item}}</a></li>
          {% endif %}
          {% endfor %}
        </ul>
      {% endfor %}
      </div>
    {% else %}
      <div class='doc-nav'>
      {% include book.html %}
      </div>
    {% endif %}
  </div>
  <div class='col9 doc-content keyline-left prose'>
    <div class='doc pad2'>
      <h1 id='{{page.title|downcase|replace:' ', '_'}}'>{{page.title}}</h1>
      {{content}}
    </div>
  </div>
  {% endif %}
</div>
</div>

{% include tilemill-footer.html %}
