---
layout: default
---
<div class='hero'>
<ul class='menu clearfix'>
  {% for item in site.categories[page.category] reversed %}
  {% if page.url == item.url %}
  <li class='active {{item.title|downcase|replace:' ','-'}} {% if forloop.last %}last{% endif %}'><a href='{{site.baseurl}}{{item.url}}'>
    <span class='icon'></span>
    <h2>{{page.title}}</h2>
    <h3 class='description'>{{page.description}}</h3>
  </a></li>
  {% else %}
  <li class='nav {{item.title|downcase|replace:' ','-'}} {% if forloop.last %}last{% endif %}'><a href='{{site.baseurl}}{{item.url}}'><span class='icon'></span>{{item.title}}</a></li>
  {% endif %}
  {% endfor %}
</ul>
{% if page.image %}<div class='image' style='background-image:url({{site.baseurl}}{{page.image}})'></div>{% endif %}
{% if page.hero %}{{page.hero|markdownify}}{% endif %}
</div>

<div class='limiter clip'><div class='content prose clearfix'>
{{content}}
</div></div>
