---
layout: default
---

<div class='limiter'>
  <div class='col12 pad4 clearfix'>
    <div class='col6 margin3 pad2 keyline-all'>
      <p>
        Attempting to redirect to the page for your platform.
        If the redirect fails, pick your platform:
      </p>
      <nav class='col12 pad2 pill'>
        <a class='button col4' href='{{page.redirect_win}}'>Windows</a>
        <a class='button col4' href='{{page.redirect_mac}}'>Mac</a>
        <a class='button col4' href='{{page.redirect_linux}}'>Linux</a>
      </nav>
    </div>
  </div>
</div>

<script>
  if (navigator.appVersion.indexOf('Win') != -1) {window.location = "{{ page.redirect_win }}"}
  else if (navigator.appVersion.indexOf('Mac') != -1) {window.location = "{{ page.redirect_mac }}"}
  else if (navigator.appVersion.indexOf('X11') != -1 || navigator.appVersion.indexOf('Linux') != -1) {window.location = "{{ page.redirect_linux }}"}
</script>

