---
layout: default
---
<div class='limiter clearfix prose'>
<p>Attempting to redirect to a best suited for you. If the redirect fails pick:</p>
<ul>
  <li><a href='{{site.baseurl}}{{page.redirect_win}}'>Windows</a></li>
  <li><a href='{{site.baseurl}}{{page.redirect_mac}}'>Mac</a></li>
  <li><a href='{{site.baseurl}}{{page.redirect_linux}}'>Linux</a></li>
</ul>
</div>
<script type='text/javascript'>
  if (navigator.appVersion.indexOf('Win') != -1) {window.location = '{{site.baseurl}}{{page.redirect_win}}'}
  else if (navigator.appVersion.indexOf('Mac') != -1) {window.location = '{{site.baseurl}}{{page.redirect_mac}}'}
  else if (navigator.appVersion.indexOf('X11') != -1 || navigator.appVersion.indexOf('Linux') != -1) {window.location = '{{site.baseurl}}{{page.redirect_linux}}'}
</script>
