---
layout: default
class: fill-light
options: full
navigation:
- title: Installation
  category: installation
  url: docs/install/
- title: Crashcourse
  category: crashcourse
  url: docs/crashcourse/introduction/
- title: Guides
  category: guides
  url: docs/guides/add-shapefile/
- title: Reference
  category: reference
  url: docs/manual
- title: Changelog
  url: changelog/
---

<link href='{{site.baseurl}}/site.css' rel='stylesheet' />
<link href='{{site.baseurl}}/css/docs.css' rel='stylesheet' />

<!--Fixed sidebar navigation-->
<div class='docnav hide-mobile'>
  <div class='limiter'><div class='col3 contain'>
    <nav class='scroll-styled quiet-scroll'>
      <div class='space-bottom2'>
        <a class='block quiet active strong small truncate' href='{{site.baseurl}}/'>TileMill Documentation</a>
      </div>
      <div class='space-bottom1'>
        <a href='{{site.url}}/carto/' class='block strong small quiet truncate'>CartoCSS Reference</a>
      </div>
      {% for nav in layout.navigation %}
        <div class='space-bottom1'>
          <a href='{{site.baseurl}}/{{nav.url}}' class='block strong small quiet truncate'>{{nav.title}}</a>
          {% for item in site.categories[nav.category] reversed %}
            {% unless item.hidden %}
              <a class='small block truncate' href='{{site.baseurl}}{{item.url}}'>{{item.title}}</a>
            {% endunless %}
          {% endfor %}
        </div>
      {% endfor %}
    </nav>
  </div></div>
</div>

<div class='limiter clearfix'>
  <div class='contain margin3 col9 space-top2'>
    {{content}}
  </div>
</div>
