---
layout: default
fullwidth: true
head: |
  <link href='/tilemill/assets/css/site.css' rel='stylesheet' />
---
<nav id='tilemill-nav' class='mobile-cols limiter'><div class='clearfix clip'>
  <div class='logos contain fl'>
    <a id='tilemill-logo' class='fl logo' href='{{site.baseurl}}/'>TileMill</a>
    <small class='block pad2y fl hide-mobile attribution quiet'>by <a href='https://www.mapbox.com/'>Mapbox</a></small>
  </div>
  <div class='hide-mobile pad1y pad4x fl space'>
    <a href='{{site.url}}/tilemill/gallery/' class='inline pad1 small quiet round strong {% if page.category == 'tour' %}active{% endif %}'>Gallery</a><!--
 --><a href='{{site.url}}/tilemill/changelog/' class='inline pad1 small quiet round strong {% if page.category == 'blog' %}active{% endif %}'>Changes</a><!--
 --><a href='{{site.url}}/tilemill/docs/' class='inline pad1 small quiet round strong {% if page.category == 'help' %}active{% endif %}'>Help</a>
  </div>
</div></nav>

{{content}}
