body {
  font:normal 15px/20px Georgia,serif;
  color:#222;
  margin:0px;
  padding:0px;
  background:#f8f8f8;
  }

#container {
  overflow:hidden;
  position:relative;
  }

a { color:#888; }

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
pre,
blockquote {
  padding:0px;
  margin:20px 0px;
  }

h1,
h2,
h3,
h4,
h5,
h6 {
  color:#824;
  font-weight:bold;
  font-family:Arial,Helvetica,sans-serif;
  }

h1 {
  color:#222;
  font:italic 24px/40px Georgia,serif;
  padding:20px 0px;
  margin:0px;
  border:0px;
  }

h2 { font-size:18px; }

tt,
pre,
code {
  font:normal 12px/20px 'Andale Mono',Monaco,Consolas,'Lucida Console',monospace;
  margin:0px;
  padding:0px;
  }

.docs pre,
.docs code {
  color:#888;
  background:#f8f8f8;
  }

ol li,
ul li {
  display:list-item;
  margin:0px 0px 0px 30px;
  padding:0px;
  }

ol li { list-style:decimal; }
ul li { list-style:disc; }

.pilwrap { position:relative; }

.pilcrow {
  text-decoration:none;
  color:#999;
  position:absolute;
  right:-10px;
  padding:0px;
  opacity:0;
  -webkit-transition: opacity 0.2s linear;
  }

table td {
  border:0px;
  outline:0px;
  table-layout:fixed;
  }

td.docs,
th.docs {
  width:360px;
  max-width:360px;
  min-width:360px;
  min-height:20px;
  border-right:1px solid #ddd;
  padding:0px 19px 0px 20px;
  overflow-x:hidden;
  vertical-align:top;
  text-align:left;
  background:#fff url(dots.png) 0% 100% repeat-x;
  }

td.docs:hover .pilcrow { opacity:1; }

td.code,
th.code {
  border-left:2px solid #eee;
  padding:0px 0px 0px 18px;
  width:100%;
  vertical-align:top;
  background:#f8f8f8 url(dots.png) 0% 100% repeat-x;
  }

/**
 * "Jump To" menu =============================================================
 */
#jump_to,
#jump_page {
  -webkit-box-shadow: 0px 0px 5px #999;
  -moz-box-shadow: 0px 0px 5px #999;
  font:italic 12px/20px Georgia,serif;
  cursor:pointer;
  text-align:right;
  background:#666;
  color:#ccc;
  }

#jump_to,
#jump_wrapper {
  position:fixed;
  right:0px;
  top:0px;
  padding:5px 10px;
  }

#jump_wrapper {
  padding:0px;
  display:none;
  }

#jump_to:hover #jump_wrapper {
  display:block;
  }

#jump_page .source {
  color:#ccc;
  display: block;
  padding:5px 10px;
  text-decoration: none;
  }

#jump_page .source:hover {
  background:#555;
  color:#fff;
  }

/**
 * Syntax highlighting ========================================================
 */
td.linenos { background-color: #eee; padding-right: 10px; }
span.lineno { background-color: #eee; padding: 0 5px 0 5px; }
body .hll { background-color: #ffc }
body .c { color: #488; font-style: italic }  /* Comment */
body .err { border: 1px solid #c00 }         /* Error */
body .k { color: #824 }                      /* Keyword */
body .o { color: #666 }                      /* Operator */
body .cm { color: #488; font-style: italic } /* Comment.Multiline */
body .cp { color: #b70 }                     /* Comment.Preproc */
body .c1 { color: #488; font-style: italic } /* Comment.Single */
body .cs { color: #488; font-style: italic } /* Comment.Special */
body .gd { color: #a00 }                     /* Generic.Deleted */
body .ge { font-style: italic }                 /* Generic.Emph */
body .gr { color: #c00 }                     /* Generic.Error */
body .gh { color: #008; font-weight: bold }  /* Generic.Heading */
body .gi { color: #0a0 }                     /* Generic.Inserted */
body .go { color: #888 }                     /* Generic.Output */
body .gp { color: #008; font-weight: bold }  /* Generic.Prompt */
body .gs { font-weight: bold }                  /* Generic.Strong */
body .gu { color: #808; font-weight: bold }  /* Generic.Subheading */
body .gt { color: #04d }                     /* Generic.Traceback */
body .kc { color: #824 }                     /* Keyword.Constant */
body .kd { color: #824; font-weight: bold }  /* Keyword.Declaration */
body .kn { color: #824; font-weight: bold }  /* Keyword.Namespace */
body .kp { color: #824 }                     /* Keyword.Pseudo */
body .kr { color: #824; font-weight: bold }  /* Keyword.Reserved */
body .kt { color: #b04 }                     /* Keyword.Type */
body .m { color: #666 }                      /* Literal.Number */
body .s { color: #296 }                      /* Literal.String */
body .na { color: #792 }                     /* Name.Attribute */
body .nb { color: #824 }                     /* Name.Builtin */
body .nc { color: #00c; font-weight: bold }  /* Name.Class */
body .no { color: #800 }                     /* Name.Constant */
body .nd { color: #a2f }                     /* Name.Decorator */
body .ni { color: #999; font-weight: bold }  /* Name.Entity */
body .ne { color: #d43; font-weight: bold }  /* Name.Exception */
body .nf { color: #00c }                     /* Name.Function */
body .nl { color: #aa0 }                     /* Name.Label */
body .nn { color: #00c; font-weight: bold }  /* Name.Namespace */
body .nt { color: #824; font-weight: bold }  /* Name.Tag */
body .nv { color: #149 }                     /* Name.Variable */
body .ow { color: #a2f; font-weight: bold }  /* Operator.Word */
body .w { color: #bbb }                      /* Text.Whitespace */
body .mf { color: #666 }                     /* Literal.Number.Float */
body .mh { color: #666 }                     /* Literal.Number.Hex */
body .mi { color: #666 }                     /* Literal.Number.Integer */
body .mo { color: #666 }                     /* Literal.Number.Oct */
body .sb { color: #296 }                     /* Literal.String.Backtick */
body .sc { color: #296 }                     /* Literal.String.Char */
body .sd { color: #296; font-style: italic } /* Literal.String.Doc */
body .s2 { color: #296 }                     /* Literal.String.Double */
body .se { color: #b62; font-weight: bold }  /* Literal.String.Escape */
body .sh { color: #296 }                     /* Literal.String.Heredoc */
body .si { color: #b68; font-weight: bold }  /* Literal.String.Interpol */
body .sx { color: #824 }                     /* Literal.String.Other */
body .sr { color: #b68 }                     /* Literal.String.Regex */
body .s1 { color: #296 }                     /* Literal.String.Single */
body .ss { color: #149 }                     /* Literal.String.Symbol */
body .bp { color: #824 }                     /* Name.Builtin.Pseudo */
body .vc { color: #149 }                     /* Name.Variable.Class */
body .vg { color: #149 }                     /* Name.Variable.Global */
body .vi { color: #149 }                     /* Name.Variable.Instance */
body .il { color: #666 }                     /* Literal.Number.Integer.Long */
